﻿@using MyDrilling.Web.Models.Rig
@using MyDrilling.Web.QueryParameters
@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Models.Rig.ActivitiesViewModel
@{
    var altRow = 0;
    var tz = Context.GetCurrentUser().GetTimeZoneInfo();
}

@if (Model.Activities.Any())
{
    @foreach (var v in Model.Activities)
    {
        <tr @(Css.AltClass(altRow++))>
            <td>
                <span class="print"></span>
                <a class="tinyMeta @Css.ActivityCss(v) noprint" href="@v.Url" title=""></a>
            </td>
            <td class="oHide mainLinkCell">
                <div class="metaTable">
                    <a href="@v.Url" hidefocus="true" style="outline: medium none;">
                        <h5 class="blueFont">@v.Title</h5>
                    </a>
                    <p>
                        <strong class="activityItemIsOpenTrue">@v.ActivityTitle()</strong>  <i class="myTask"></i>  <label>By:</label> @v.CreatorName
                    </p>
                    <ul>
                        @if (!string.IsNullOrWhiteSpace(v.RigName))
                        {
                            <li><label>Rig:</label> @v.RigName</li>
                        }

                        @if (!string.IsNullOrWhiteSpace(v.EntityReferenceId) && v.EntityState != "Draft")
                        {
                            <li><label>ReferenceNumber:</label> @v.EntityReferenceId</li>
                        }
                    </ul>
                </div>
            </td>
            <td class="right">
                @Html.TimeOfAction(v.Date.ToLocal(tz))
            </td>
        </tr>
    }
    <tr id="moreActivities">
        <td class="noLinkCell" colspan="3">
            @Html.ActionLink("More", "LastActivities", "Rigs", 
                Context.GetDrillDownParameters().ToRouteValueDictionary(new { page = Model.ActivityPageNumber + 1 }), 
                new Dictionary<string, object> { { "class", "moreLink" } })
        </td>
    </tr>
}
else if (Model.ActivityPageNumber == 1)
{
    <tr>
        <td colspan="3">
            <cite class="Message MessageInfo"><em></em>No activities</cite>
        </td>
    </tr>
}


<script type="text/javascript">
    var moreLinkClicked = false;
    $(function () {
        bindLastActivitiesLink();
    });

    function bindLastActivitiesLink() {
        $("#moreActivities a").off('click').on('click', function (e) {
            e.preventDefault();
            if (moreLinkClicked) return;
            moreLinkClicked = true;
            var moreLink = $(this);
            var href = moreLink.attr('href');
            $("<div>").load(href, function (response, status, req) {
                moreLinkClicked = false;
                if (status == "error") return false;
                moreLink.remove();
                $("#activitiesListTableBody").append(response);
                bindLastActivitiesLink();
            });
        });
    }
</script>
