﻿@using MyDrilling.Core
@using MyDrilling.Web.Areas.Admin.Models.User
@model MyDrilling.Web.Areas.Admin.Models.User.UserAccessToRigViewModel
@{
    var altRow = 0;
}
<h3>
    Access to rigs
    <a href="@Html.Raw(Url.Action("GetAccessToRigDialog", "Users", new { userId = Model.UserId } ))" class="md-button popup-ajax">+ Add access to rig</a>
</h3>
<table class="stdTable access-table" id="access-to-rigs-table">
    <thead>
        <tr class="bordered">
            <th style="width: 200px">@Html.SortLink("Rig", UserAccessToRigViewModel.RigNameSort, "UserAccessToRigs", "Users", additionalParams: new { userId = Model.UserId })</th>
            <th>@Html.SortLink("Access profile", UserAccessToRigViewModel.ProfileNameSort, "UserAccessToRigs", "Users", additionalParams: new { userId = Model.UserId })</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="linkAllRows">
        @foreach (var rowModel in Model.UserAccessToRigs)
        {
            <tr @(Css.AltClass(altRow++))>
                <td>@rowModel.RigName.ToCamelCaseWithRomanNumerals()</td>
                <td>@rowModel.ProfileName</td>
                <td>
                    @using (Html.BeginForm("DeleteAccessToRig", "Users", new { id = rowModel.UserProfileId, userId = Model.UserId }, FormMethod.Post))
                    {
                        <input type="submit" value="Delete" class="button ui-button buttonSubmit md-button delete-rig-access-button" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="access-to-rigs-pager" class="page-wrapper">
    @await Html.PartialAsync("_Pager",
        new PagerViewModel(Model.TotalCount, "UserAccessToRigs", "Users", new { userId = Model.UserId }))
</div>

<script>
    $(function () {
        $('.delete-rig-access-button').on('click', function (e) {
            e.preventDefault();
            var submitButton = $(this);
            if (confirm('Are you sure you want to delete this access to rig?')) {
                submitButton.parent().submit();
            }
        });
    });
</script>