﻿@model MyDrilling.Web.Areas.Admin.Models.User.AddAccessToRigViewModel
@{
    ViewData["Title"] = "Add Access To Rig";
    Layout = "~/Areas/Admin/Views/Shared/_PopupLayout.cshtml";
}

@using (Html.BeginForm("AddAccessToRig", "Users", null, FormMethod.Post, null, new { @id = "add-rig-access-form" }))
{
    <h2>Add Access To Rig</h2>
    @Html.HiddenFor(m => m.UserId, new {@id = "user-id-input"})
    <ul class="stdForm">
        <li>
            <label asp-for="RigId">Rig</label>
            <select style="width: 300px;" asp-for="@Model.RigId" asp-items="@Model.AvailableRigs" id="select-rig" class="sel"></select>
        </li>
        <li>
            <label asp-for="ProfileId">Access Profile</label>
            <select style="width: 300px;" asp-for="@Model.ProfileId" asp-items="@Model.AvailableAccessProfiles" id="select-profile" class="sel"></select>
        </li>
        @if (Model.UserId == 0)
        {
            <li>
                <label asp-for="UserId">User</label>
                <input class="txt ui-autocomplete-input" id="searchInput" placeholder="You can find user by Name or UPN" type="text" autocomplete="off" />
            </li>
        }
       
        <li>
            <input type="submit" value="Save" class="button ui-button buttonSubmit" />
        </li>
    </ul>
}
<script>
    $(function () {
        $("#add-rig-access-form").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function(data) {
                    alert(data.message);
                    window.location.reload(true);
                },
                error: function (data) {
                    if (data.status === 401)
                        window.location = '/admin/home/noaccess';
                    alert(data.responseJSON.message);
                }
            });
        });
        var noResultsLabel = 'No results.';
        $('#searchInput').autocomplete({
            source: function(request, response) {
                applySafeSearchTerm(request, this.element);
                $.ajax({
                    url: "/admin/users/search",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (!data.length) {
                            response([{ label: noResultsLabel, value: '' }]);
                        } else {
                            response($.map(data, function(item) {
                                return {
                                    label: item.upn + ' (' + item.firstName + ' ' + item.lastName +  ')',
                                    value: item.upn,
                                    id: item.id
                                }
                            }));
                        }
                    }
                });
            },
            select: function(e, ui) {
                if (ui.item.label == noResultsLabel) {
                    e.preventDefault();
                } else {
                    $('#user-id-input').val(ui.item.id);
                }
            }
        });
    });
</script>


