﻿@model MyDrilling.Web.Areas.Admin.Models.User.AddAccessToCustomerViewModel
@{
    ViewData["Title"] = "Add Access To Customer";
    Layout = "~/Areas/Admin/Views/Shared/_PopupLayout.cshtml";
}

@using (Html.BeginForm("AddAccessToCustomer", "Users", null, FormMethod.Post, null, new { @id = "add-customer-access-form" }))
{
    <h2>Add Access To Customer</h2>
    @Html.HiddenFor(m => m.UserId)
    <ul class="stdForm">
        <li>
            <label asp-for="RootCustomerId">Customer</label>
            <select style="width: 300px;" asp-for="@Model.RootCustomerId" asp-items="@Model.AvailableRootCustomers" id="select-customer" class="sel"></select>
        </li>
        <li>
            <input type="submit" value="Save" class="button ui-button buttonSubmit" />
        </li>
    </ul>
}

<script>
    $(function () {
        $("#add-customer-access-form").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function(data) {
                    alert(data.message);
                    window.location.reload(true);
                },
                error: function (data) {
                    if (data.status === 401)
                        window.location = '/admin/home/noaccess';
                    alert(data.responseJSON.message);
                }
            });
        });
    });
</script>

