﻿@model MyDrilling.Web.Areas.Admin.Models.User.AddUserViewModel
@{
    ViewData["Title"] = "Add Access To Rig";
    Layout = "~/Areas/Admin/Views/Shared/_PopupLayout.cshtml";
}

@using (Html.BeginForm("AddUser", "Users", null, FormMethod.Post, null, new { @id = "add-user-form" }))
{
    <h2>Add User</h2>
    <ul class="stdForm">
        <li>
            <label asp-for="RootCustomerId">Customer</label>
            <select style="width: 300px;" asp-for="@Model.RootCustomerId" asp-items="@Model.AvailableRootCustomers" id="select-customer" class="sel"></select>
        </li>
        <li>
            <label asp-for="Upn">UPN</label>
            <input type="email" asp-for="@Model.Upn" style="width: 200px;"/>
        </li>
        <li>
            <input type="submit" value="Save" class="button ui-button buttonSubmit" id="add-user" />
        </li>
    </ul>
}
<script>
    $(function () {
        $("#add-user-form").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    alert(data.message);
                    window.location = '/admin/users/detail/' + data.id;
                },
                error: function (data) {
                    if (data.status === 401)
                        window.location = '/admin/home/noaccess';
                    alert(data.responseJSON.message);
                }
            });
        });
    });
</script>
