﻿@model MyDrilling.Web.Areas.Admin.Models.User.UserViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    h3 {
         margin-bottom: 5px;
    }
    #user-state-form {
        display: inline;
        margin-left: 5px;
    }
</style>

<h1>
    User access details - @Model.Upn
    @using (Html.BeginForm("ChangeUserState", "Users", new { userId = Model.Id }, FormMethod.Post, null, new { @id = "user-state-form" }))
    {
        <input type="submit" value="@(Model.IsActive == "Yes" ? "Make user Inactive" : "Make user Active")" class="button ui-button buttonSubmit md-button" />
    }
</h1>
<ul class="stdNote">
    <li>@Html.LabelFor(m => m.Upn) @Html.DisplayFor(m => m.Upn)</li>
    <li>@Html.LabelFor(m => m.FirstName) @Html.DisplayFor(m => m.FirstName)</li>
    <li>@Html.LabelFor(m => m.LastName) @Html.DisplayFor(m => m.LastName)</li>
    <li>@Html.LabelFor(m => m.IsActive) @Html.DisplayFor(m => m.IsActive)</li>
    <li>@Html.LabelFor(m => m.LastLogin) @Html.DisplayFor(m => m.LastLogin)</li>
</ul>
<div id="customer-access">
    @await Component.InvokeAsync("UserAccessToCustomers", new { userId = Model.Id })
</div>

<div id="rig-access">
    @await Component.InvokeAsync("UserAccessToRigs", new { userId = Model.Id })
</div>

<script type="text/javascript">
    $(function() {
        bindPager();
        bindOrderLinks();
    });

    function bindPager() {
        $(".page-wrapper .paging li a, .page-wrapper .paging .page-size-link a").off('click')
            .on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $(this).parents('.page-wrapper').first().parent().load(href,
                    function() {
                        bindPager();
                        bindOrderLinks();
                    });
            });
    }

    function bindOrderLinks() {
        $(".access-table a.sort-link").off('click')
            .on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $(this).parents('.access-table').first().parent().load(href,
                    function() {
                        bindPager();
                        bindOrderLinks();
                    });
            });
    }
</script>
