﻿@using MyDrilling.Web.Areas.Admin.Models.User
@using MyDrilling.Web.QueryParameters
@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Areas.Admin.Models.User.UsersViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var altRow = 0;
    var drillDown = Context.GetDrillDownParameters();
    var roles = Context.GetCurrentUserRoles();
}

<h1 class="line">
    User list
    @if (roles.IsUserAdmin() || roles.IsSystemAdmin())
    {
        <a href="@Html.Raw(Url.Action("GetAddUserDialog", "Users"))" class="md-button popup-ajax" style="font-size: 14px;">+ Add new user</a>
    }
</h1>
<ul class="stdForm">
    <li>
        <label asp-for="RootCustomerId">Customer</label>
        <select style="width: 300px;" asp-for="@Model.RootCustomerId" asp-items="@Model.AvailableRootCustomers" id="select-customer" class="sel"></select>
    </li>
    <li>
        <label asp-for="@Model.ShowAll">ShowAll</label>
        <input type="checkbox" asp-for="@Model.ShowAll" checked="@Model.ShowAll" id="show-all" />
    </li>
    <li>
        <label>Search</label>
        <input class="txt ui-autocomplete-input" id="searchInput" placeholder="You can find user by Name or UPN" type="text" style="width: 20%;" autocomplete="off" />
    </li>
</ul>
<div class="user-list">
    <div id="MainArea">
        <table class="stdTable">
            <thead>
            <tr>
                <th>@Html.SortLink("Upn", UsersViewModel.UpnSort, additionalParams: new { rootCustomerId = Model.RootCustomerId, showAll = Model.ShowAll })</th>
                <th>@Html.SortLink("First Name", UsersViewModel.FirstNameSort, additionalParams: new { rootCustomerId = Model.RootCustomerId, showAll = Model.ShowAll })</th>
                <th>@Html.SortLink("Last Name", UsersViewModel.LastNameSort, additionalParams: new { rootCustomerId = Model.RootCustomerId, showAll = Model.ShowAll })</th>
                <th>@Html.SortLink("Is Active", UsersViewModel.IsActiveSort, additionalParams: new { rootCustomerId = Model.RootCustomerId, showAll = Model.ShowAll })</th>
                <th>@Html.SortLink("Last login", UsersViewModel.LastLoginSort, additionalParams: new { rootCustomerId = Model.RootCustomerId, showAll = Model.ShowAll })</th>
            </tr>
            </thead>
            <tbody class="linkAllRows">
            @if (Model.Users != null)
            {
                @foreach (var userModel in Model.Users)
                {
                    <tr@(Css.AltClass(altRow++))>
                        <td class="mainLinkCell">
                            @Html.ActionLink(userModel.Upn, "Detail", "Users", new { id = userModel.Id })
                        </td>
                        <td>
                            @userModel.FirstName
                        </td>
                        <td>
                            @userModel.LastName
                        </td>
                        <td>
                            @userModel.IsActive
                        </td>
                        <td>
                            @userModel.LastLogin
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
        <div style="text-align: right;">
            <a href="@Url.Action("ExportToExcel", "Users",  drillDown.ToRouteValueDictionary( Context.GetOrderParameters(), new { rootCustomerId = Model.RootCustomerId, showAll = Model.ShowAll }))" class="linkButton">@LanguageConstants.Export</a>
            <div class="clear"></div>
        </div>
        @await Html.PartialAsync("_Pager",
            new PagerViewModel(Model.TotalCount, "Index", "Users",
                new {rootCustomerId = Model.RootCustomerId, showAll = Model.ShowAll}))

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#select-customer").on('change', function (e) {
            e.preventDefault();
            var selectedCustomerId = $(this).val();
            var showAll = $('#show-all').is(':checked');
            window.location = '/admin/users/index?rootCustomerId=' + selectedCustomerId + '&showAll=' + showAll;
        });
        $("#show-all").on('click', function (e) {
            e.preventDefault();
            var selectedCustomerId = $('#select-customer').val();
            var showAll = $(this).is(':checked');
            window.location = '/admin/users/index?rootCustomerId=' + selectedCustomerId + '&showAll=' + showAll;
        });
        var noResultsLabel = 'No results.';
        $('#searchInput').autocomplete({
            source: function(request, response) {
                applySafeSearchTerm(request, this.element);
                $.ajax({
                    url: "/admin/users/search",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (!data.length) {
                            response([{ label: noResultsLabel, value: '' }]);
                        } else {
                            response($.map(data, function(item) {
                                return {
                                    label: item.upn + ' (' + item.firstName + ' ' + item.lastName +  ')',
                                    value: item.upn,
                                    id: item.id
                                }
                            }));
                        }
                    }
                });
            },
            select: function(e, ui) {
                if (ui.item.label == noResultsLabel) {
                    e.preventDefault();
                }
                else {
                    var url = "/admin/users/detail/" + ui.item.id;
                    window.location.href = url;
                }
            }
        });
    });
</script>