﻿@model MyDrilling.Core.Entities.User

<dd>
    <div class="standardLogo"></div>
    <div class="agent vcard">
        <table>
            <tbody>
                <tr>
                    <td class="icons">
                        <img src="/graphics/default-usr-img.png" alt="contact person" title="contact person">
                        <br>
                        @if (!string.IsNullOrEmpty(Model.Email))
                        {
                            <a href="mailto:@Model.Email"><image style="width: 30px;" src="/graphics/email.png"></image></a>
                        }
                    </td>
                    <td class="contacts">
                        <span class="fn">@Model.GetDisplayName()</span>
                        <span class="title">@Model.Position</span>
                        <span class="tel">@Model.PhoneNumber @(!string.IsNullOrEmpty(Model.MobileNumber) ? "/ " + Model.MobileNumber : "")</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</dd>