﻿<dd>
    <div class="standardLogo"></div>
    <div class="agent vcard">
        <table>
            <tbody>
                <tr>
                    <td class="contacts">
                        <span class="fn">MHWirth </span>
                        <span class="title"></span>
                        <span class="tel">+47 38 05 79 11 / +47 99 11 20 00 </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</dd>