﻿@using MyDrilling.Web.Models.Task
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Task.TaskListViewModel
@{
    var altRow = 0;
    var drillDown = Context.GetDrillDownParameters();
}

@if (Model.IsOverviewPage)
{
    <h3 class="first">
        Tasks
        @if (Model.Tasks.Any())
        {
            <span>(@Model.Tasks.Count() newest of @Model.TotalCount total)</span>
        }
    </h3>
}
@if (Model.IsOverviewPage && !Model.Tasks.Any())
{
    <cite class="Message MessageInfo"><em></em>No tasks</cite>
}
else
{
    <table class="stdTable tasksList">
        <thead>
        <tr>
            <th class="small-column @(Model.IsOverviewPage ? "" : "containsFilter filter")">
                @if (Model.IsOverviewPage)
                {
                    <span></span>
                }
                else
                {
                    @Html.FilterColumn(TaskListViewModel.TaskTypeFilter, addAllItem: true)
                }
            </th>
            <th>Item</th>
            <th class="@(Model.IsOverviewPage ? "" : "containsFilter filter")">
                Category
                @if (!Model.IsOverviewPage)
                {
                    @Html.FilterColumn(TaskListViewModel.CategoryFilter, addAllItem: true)
                }
            </th>
            <th>Ref. number</th>
            <th>@if (Model.IsOverviewPage)
                {<span>Title</span>}
                else
                { @Html.SortLink("Title", TaskListViewModel.TitleSort)}</th>
            <th class="@(Model.IsOverviewPage ? "" : "containsFilter filter")">
                WhatToDo
                @if (!Model.IsOverviewPage)
                {
                    @Html.FilterColumn(TaskListViewModel.TaskActionFilter, addAllItem: true)
                }
            </th>
            @if (!drillDown.HasRig)
            {
                <th>@if (Model.IsOverviewPage)
                    {<span>Rig</span>}
                    else
                    { @Html.SortLink("Rig", TaskListViewModel.RigSort)}</th>
            }
            @if (!Model.IsOverviewPage)
            {
                <th>@Html.SortLink("Date / time", TaskListViewModel.RigSort)</th>
            }
        </tr>
        </thead>
        <tbody class="linkAllRows">
        @foreach (var v in Model.Tasks)
        {
            <tr@(Css.AltClass(altRow++))>
                <td class="middle">
                    <span class="print">@v.IconHoverText</span>
                    <div class="noprint">
                        <div class="@v.Icon"></div>
                    </div>
                </td>
                <td class="middle">
                    @v.ItemType
                </td>
                <td class="middle">
                    @v.TaskCategory
                </td>
                <td class="middle">
                    @(!string.IsNullOrEmpty(v.ReferenceNumber) ? v.ReferenceNumber : "Pending")
                </td>
                <td class="middle mainLinkCell">
                    <a href="@v.Url">@v.Title</a>
                </td>
                <td class="middle">
                    @v.TaskAction
                </td>
                @if (!drillDown.HasRig)
                {
                    <td class="middle">
                        @v.RigName
                    </td>
                }
                @if (!Model.IsOverviewPage)
                {
                    <td class="middle">
                        @v.Date.ToFullString()
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
    @if (!Model.Tasks.Any())
    {
        <cite class="Message MessageInfo"><em></em>No enquiries</cite>
    }
    @if (!Model.IsOverviewPage && Model.Tasks.Any())
    {
        @await Html.PartialAsync("_Pager", new PagerViewModel(Model.TotalCount))
    }
}
