﻿@model MyDrilling.Web.Models.Userprofile.TimeZoneViewModel

<div id="MyTimeZone">
    @using (Html.BeginForm("SubmitMyTimeZone", "Userprofile", FormMethod.Post, new { @id = "submitTimeZoneForm" }))
    {
        <ul style="padding: 0; font-size: 12px;">
            <li>
                <select style="width: 300px;" asp-for="@Model.SelectedTimeZone" asp-items="@Model.TimeZones"></select>
            </li>
        </ul>
        <input type="button" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all notifyButton" value="Save time zone" onclick="submitUserProfileItem('submitTimeZoneForm', 'myTimeZoneListItem'); " />
    }
</div>