﻿@model string

@{
    //it's possible to have more than one file upload control on a page:
    //when you're on enquiry/detail page you already have one file upload for a new comment
    //then you click new enquiry button and you have another one file upload in iframe
    //we use unique string to distinguish them
    var id = Model;
    var inputFilesControlId = $"input-files-{id}";
    var attachedFilesControlId = $"attached-files-{id}";
}

<div id="@inputFilesControlId">
    <input type="file" />
</div>
<div id="@attachedFilesControlId"></div>

<script>
    $(function() {
        var fileIndex = 0;
        var fileNameMaxLength = 40;
        var fileUploading = '[UPLOADING...]   ';
        var fileError = '[ERROR]   ';

        $('#@inputFilesControlId').on('change', 'input[type=file]', function(e) {
            var currentFileIndex = fileIndex;
            fileIndex++;
            var fileName = e.target.value.split(/(\\|\/)/g).pop();
            var fileTitleId = 'uploaded-' + currentFileIndex + '-@id';
            var $fileTitleElement = $('<div id="' + fileTitleId + '">' + fileUploading + fileName + '</div>').css('padding-bottom', '3px');
            $fileTitleElement.appendTo('#@attachedFilesControlId');
            if (fileName.length > fileNameMaxLength) {
                $fileTitleElement.html($fileTitleElement.html().replace(fileUploading, fileError + 'Max length for file name is ' + fileNameMaxLength + ' characters. Please rename the file if you want to upload it.'));
                return;
            }

            //add new file input
            $(e.target).hide();
            $('#@inputFilesControlId').append('<input type="file"/>');

            //uploading
            var formData = new FormData();
            formData.append('file', e.target.files[0]);

            $.ajax({
                url: '@Url.Action("AddFile")',
                type: 'post',
                data: formData,
                contentType: false,
                processData: false
            }).done(function(response) {
                $('<input type="hidden" value="' + response.blobPath + '"/>').appendTo('#@attachedFilesControlId');
                $fileTitleElement.empty();
                $('<a>').attr({ href: response.downloadUrl }).html(fileName).appendTo($fileTitleElement);
            }).fail(function (response) {
                $fileTitleElement.html($fileTitleElement.html().replace(fileUploading, response.status === 400 ? '[' + response.responseText + '] ' : fileError));
            });
        });
    });

    var getAttachedFiles = function (controlId) {
        return $('#attached-files-' + controlId +' input[type=hidden]').map(function(i, item) { return item.value; }).get();
    };

    var removeAllFiles = function (controlId) {
        $('#input-files-' + controlId).empty().append('<input type="file"/>');
        $('#attached-files-' + controlId).empty();
    };
</script>