﻿@using MyDrilling.Web.Controllers
@using MyDrilling.Web.Models.Enquiries
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Enquiries.MenuViewModel

@{
    var drillDown = Context.GetDrillDownParameters();
}

<ul class="stdTabs">
    @if (Model.CanSeeOpenEnquiries)
    {
        <li>
            @Html.ActionLink(LanguageConstants.OpenEnquiries, nameof(EnquiriesController.Index), 
                drillDown.ToRouteValueDictionary(SortParameters.CreateDesc(ItemsViewModel.DateSort)),
                new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(EnquiriesController.Index) ? "current" : "noprint" } })
        </li>
    }
    @if (Model.CanSeeDraftEnquiries)
    {
        <li>
            @Html.ActionLink(LanguageConstants.DraftEnquiries, nameof(EnquiriesController.Drafts), 
                drillDown.ToRouteValueDictionary(SortParameters.CreateDesc(ItemsViewModel.DateSort)),
                new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(EnquiriesController.Drafts) ? "current" : "noprint" } })
        </li>
    }
    @if (Model.CanSeeClosedEnquiries)
    {
        <li>
            @Html.ActionLink(LanguageConstants.ClosedEnquiries, nameof(EnquiriesController.Archive), 
                drillDown.ToRouteValueDictionary(SortParameters.CreateDesc(ItemsViewModel.DateSort)),
                new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(EnquiriesController.Archive) ? "current" : "noprint" } })
        </li>
    }
    @if (Model.CanSeeDeletedEnquiries)
    {
        <li>
            @Html.ActionLink(LanguageConstants.DeletedDraftsEnquiries, nameof(EnquiriesController.Deleted), 
                drillDown.ToRouteValueDictionary(SortParameters.CreateDesc(ItemsViewModel.DateSort)),
                new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(EnquiriesController.Deleted) ? "current" : "noprint" } })
        </li>
    }
    @if (Model.CanSeeAllEnquiries)
    {
        <li>
            @Html.ActionLink(LanguageConstants.AllEnquiries, nameof(EnquiriesController.All), 
                drillDown.ToRouteValueDictionary(SortParameters.CreateDesc(ItemsViewModel.DateSort)),
                new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(EnquiriesController.All) ? "current" : "noprint" } })
        </li>
    }
</ul>