﻿@using MyDrilling.Core.Entities.Enquiry
@using MyDrilling.Web.Models.Enquiries
@using MyDrilling.Web.QueryParameters
@using MyDrilling.Web.UserDetails
@{
    var drillDown = Context.GetDrillDownParameters();
    var roles = Context.GetCurrentUserRoles();
    var canCreate = roles.CanCreate(rigId: drillDown.RigId);
    var canCreateDraftOnly = roles.CanCreateDraftOnly(rigId: drillDown.RigId);

    var controllerValue = ViewContext.RouteData.Values["controller"];
    var defaultEnquiryType = controllerValue != null && controllerValue.ToString().Equals("spareparts", StringComparison.InvariantCultureIgnoreCase)
        ? (int)TypeInfo.Type.Sparepart_General
        : (int)TypeInfo.Type.Support_General;
}

@if (canCreate)
{
    <dl class="nopadding icon-downtime@(canCreateDraftOnly ? "-draft" : "")">
        <dt>
            @*downtime*@
            @Html.ActionLink(" ", "Create", "Enquiries", 
                drillDown.ToRouteValueDictionary(new { type = (int)TypeInfo.Type.Support_RigOnDowntime }), 
                new {@class = "popup-ajax frontpageRightBigButton" })
        </dt>
    </dl>
    <dl class="nopadding icon-request@(canCreateDraftOnly ? "-draft" : "")">
        <dt>
            @Html.ActionLink(" ", "Create", "Enquiries", 
                drillDown.ToRouteValueDictionary(new { type = defaultEnquiryType }), 
                new { @class = "popup-ajax frontpageRightBigButton" })
        </dt>
    </dl>
}