﻿@using MyDrilling.Core.Entities.Enquiry
@using MyDrilling.Web.Models.Enquiries
@using MyDrilling.Web.UserDetails
@using Newtonsoft.Json
@model MyDrilling.Web.Models.Enquiries.CreateEnquiryViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    var customerInputId = nameof(CreateEnquiryViewModel.RootCustomerId);
    var rigInputId = nameof(CreateEnquiryViewModel.RigId);
    var categoryInputId = nameof(CreateEnquiryViewModel.CategoryId);
    var typeInputId = nameof(CreateEnquiryViewModel.TypeId);
    var equipmentAutocompleteId = nameof(CreateEnquiryViewModel.EquipmentId) + "Autocomplete";
    var equipmentInputId = nameof(CreateEnquiryViewModel.EquipmentId);
    var titleInputId = nameof(CreateEnquiryViewModel.Title);
    var descriptionInputId = nameof(CreateEnquiryViewModel.Description);
    var isDraftInputId = nameof(CreateEnquiryViewModel.IsDraft);
    var submitEnquiryButtonId = "submitEnquiry";
    var submitDraftEnquiryButtonId = "submitDraftEnquiry";

    var typeSectionId = nameof(CreateEnquiryViewModel.TypeId) + "_section";
    var equipmentSectionId = nameof(CreateEnquiryViewModel.EquipmentId) + "_section";
    var generalErrorContainerId = "error-general";
    var fileUploadControlId = Guid.NewGuid().ToString();

    var saveButtonsContainerId = $"saveButtons_{Guid.NewGuid()}";
    var progressContainerId = $"progress_{Guid.NewGuid()}";

    var roles = Context.GetCurrentUserRoles();
}
<div style="width:auto;height:auto;overflow: auto;position:relative;">
    <div class="popup">
        <div id="enquiryContent" class="popupContent">
            <div class="bigTopBox dropshadow">
                <div class="bigTopBoxFrame">
                    <div class="bigTopBoxInnerFrame">
                        <div id="popupWithRightBar">
                            <div class="requestFormHeader">
                                <div class="newRequestIcon newRequestIcon" title="icon"></div>
                                <h3>New enquiry</h3>
                                <p>When submitted your enquiry will be received by MHWirth and the  collaboration can start. Thank you for contributing, please fill out the fields below and click submit.<br>Remember to also call MHWirth 24/7 support when you experience downtime.</p>
                            </div>
                            <input type="hidden" id="@isDraftInputId" name="@isDraftInputId" />
                            <div id="middle" class="clearfix">
                                <div class="inner popupFormContent" id="requestFormContent">
                                    <div id="newRquestForm" class="popupForm">
                                        <div class="popup">
                                            <ul class="stdForm">
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    <span id="@generalErrorContainerId" class="field-validation-error display-none"><span></span></span>
                                                </li>
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.RootCustomerId)
                                                    <select class="sel" id="@customerInputId" name="@customerInputId"></select>
                                                    <span id="@nameof(CreateEnquiryViewModel.RootCustomerId)-error" class="field-validation-error display-none"><span></span></span>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Required. Please select customer</cite></div>
                                                </li>
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.RigId)
                                                    <select class="sel" id="@rigInputId" name="@rigInputId"></select>
                                                    <span id="@nameof(CreateEnquiryViewModel.RigId)-error" class="field-validation-error display-none"><span></span></span>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Required. Please select rig</cite></div>
                                                </li>
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.CategoryId)
                                                    <select class="sel" id="@categoryInputId" name="@categoryInputId"></select>
                                                    <span id="@nameof(CreateEnquiryViewModel.CategoryId)-error" class="field-validation-error display-none"><span></span></span>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Required. Please select enquiry category</cite></div>
                                                </li>
                                                <li id="@typeSectionId" style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.TypeId)
                                                    <select class="sel" id="@typeInputId" name="@typeInputId"></select>
                                                    <span id="@nameof(CreateEnquiryViewModel.TypeId)-error" class="field-validation-error display-none"><span></span></span>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Please select enquiry type</cite></div>
                                                </li>
                                                <li id="@equipmentSectionId" style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.EquipmentId)
                                                    <input class="txt inputRequired" id="@equipmentAutocompleteId" name="@equipmentAutocompleteId" type="text" />
                                                    <span id="@nameof(CreateEnquiryViewModel.EquipmentId)-error" class="field-validation-error display-none"><span></span></span>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Required. Start typing and select equipment from the fast select box. Select 'NA' option if you don't want to specify equipment</cite></div>
                                                    <input type="hidden" id="@equipmentInputId" name="@equipmentInputId" />
                                                </li>
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.Title)
                                                    <input class="txt inputRequired" id="@titleInputId" name="@titleInputId" type="text" value="@Model.Title" />
                                                    <span id="@nameof(CreateEnquiryViewModel.Title)-error" class="field-validation-error display-none"><span></span></span>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Required. Please enter the enquiry title with a maximum length of 40 characters</cite></div>
                                                </li>
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.Description)
                                                    <textarea class="txt inputRequired" id="@descriptionInputId" name="@descriptionInputId"></textarea>
                                                    <span id="@nameof(CreateEnquiryViewModel.Description)-error" class="field-validation-error display-none"><span></span></span>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Required. Please use relevant guidelines to ensure correct description</cite></div>
                                                </li>
                                                <li id="attachments" style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.Files)
                                                    <div style="padding: 5px 0 5px 103px; margin-top: -18px;">
                                                        @await Html.PartialAsync("_FileUpload", fileUploadControlId)
                                                    </div>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Supported file types: aif ade adp asmdot avi pdf bak bmp csv dgn doc docx dot drwdot dwg dxf edrw gif gz gzip html htm jpe jpeg jpg log mcd mdb mde mid mov mp4 mpg mpeg mpp mp msg pcx png pot ppa ppm pps ppt pptx ppz prt prtdot rt rtf rtx sldasm slddrw sldprt snd text tif tiff txt url vsd vst wav word wmv wri xl xla xlb xlc xld xlk xll xlm xls xslx xlsx xlt xlv xlw xmcd xml x-png zip xps</cite></div>
                                                </li>
                                                <li class="buttons">
                                                    <div id="@saveButtonsContainerId">
                                                        @if (roles.CanCreateDraftOnly())
                                                        {
                                                            <input type="button" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 12px;" id="@submitDraftEnquiryButtonId" value="Save as draft" />
                                                            <input type="button" class="button ui-button ui-widget ui-state-default ui-corner-all" data-fancybox-close style="font-size: 12px;" value="@LanguageConstants.Cancel" />
                                                        }
                                                        else
                                                        {
                                                            <input type="button" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 12px;" id="@submitDraftEnquiryButtonId" value="Save as draft" />
                                                            <input type="button" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 12px;" id="@submitEnquiryButtonId" value="Submit" />
                                                            <input type="button" class="button ui-button ui-widget ui-state-default ui-corner-all" data-fancybox-close style="font-size: 12px;" value="@LanguageConstants.Cancel" />
                                                        }
                                                    </div>
                                                    <div id="@progressContainerId" class="display-none" style="text-align: center;">
                                                        <span class="progressbar" style="height: 16px; float: none;"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="helpText" class="popupRightColumn">
                                    @foreach (var instruction in CreateEnquiryViewModel.Instructions)
                                    {
                                        <div id="for-type-@instruction.Key" class="enquiry-instruction">
                                            <h4>@instruction.Value[0]</h4>
                                            <ul class="stdList">
                                                @for (var i = 1; i < instruction.Value.Length; i++)
                                                {
                                                    <li>@instruction.Value[i]</li>
                                                }
                                            </ul>

                                            @if (instruction.Key == (int)TypeInfo.Type.Support_RigOnDowntime)
                                            {
                                                <div class="clear"></div>
                                                <div class="Message MessageQuestion">
                                                    Remember that rig on downtime
                                                    <strong>only</strong>
                                                    should be used when the rig is
                                                    <strong>actually experiencing downtime</strong>
                                                    and only for downtime
                                                    <strong>caused by MHWirth equipment</strong>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var customers = @Html.Raw(JsonConvert.SerializeObject(Model.Customers));
    var rigs = @Html.Raw(JsonConvert.SerializeObject(Model.Rigs));
    var categories = @Html.Raw(JsonConvert.SerializeObject(Model.Categories));
    var typesForCategory = @Html.Raw(JsonConvert.SerializeObject(Model.TypesForCategory));
    var types = @Html.Raw(JsonConvert.SerializeObject(Model.Types));
    var rigsForCustomer = @Html.Raw(JsonConvert.SerializeObject(Model.RigsForCustomer));
    var customersForRig = @Html.Raw(JsonConvert.SerializeObject(Model.CustomersForRig));

    $(function() {
        var $customerInput = $('#@customerInputId'),
            $rigInput = $('#@rigInputId'),
            $categoryInput = $('#@categoryInputId'),
            $typeInput = $('#@typeInputId'),
            $typeSection = $('#@typeSectionId'),
            $equipmentInput = $('#@equipmentInputId'),
            $equipmentAutocomplete = $('#@equipmentAutocompleteId'),
            $equipmentSection = $('#@equipmentSectionId'),
            $submitEnquiry = $('#@submitEnquiryButtonId'),
            $submitEnquiryDraft = $("#@submitDraftEnquiryButtonId"),
            $titleInput = $('#@titleInputId'),
            $descriptionInput = $('#@descriptionInputId'),
            $isDraftInput = $('#@isDraftInputId'),
            i;

        //customers
        $customerInput.append('<option value=""></option>');
        for (i = 0; i < customers.length; i++) {
            $customerInput.append('<option value="' + customers[i].Value + '">' + customers[i].Text + '</option>');
        }
        $customerInput.change(function () {
            if ($customerInput.val() === '') {
                //reset customers
                $customerInput.empty();
                $customerInput.append('<option value=""></option>');
                for (i = 0; i < customers.length; i++) {
                    $customerInput.append('<option value="' + customers[i].Value + '">' + customers[i].Text + '</option>');
                }

                //reset rigs
                $rigInput.empty();
                $rigInput.append('<option value=""></option>');
                for (i = 0; i < rigs.length; i++) {
                    $rigInput.append('<option value="' + rigs[i].Value + '">' + rigs[i].Text + '</option>');
                }
            }
            else {
                var currentRig = $rigInput.val();
                var rigFoundInNewRigs = false;
                var newRigs = rigsForCustomer[$customerInput.val()];
                $rigInput.empty();
                $rigInput.append('<option value=""></option>');
                for (i = 0; i < newRigs.length; i++) {
                    if (currentRig === newRigs[i].Value) {
                        rigFoundInNewRigs = true;
                    }
                    $rigInput.append('<option value="' + newRigs[i].Value + '">' + newRigs[i].Text + '</option>');
                }

                if (rigFoundInNewRigs) {
                    $rigInput.val(currentRig);
                }

                if (newRigs.length === 1) {
                    $rigInput.val(newRigs[0].Value);
                }

                //clear equipment
                $equipmentAutocomplete.val('');
                $equipmentInput.val('');
            }
        });

        //rigs
        $rigInput.append('<option value=""></option>');
        for (i = 0; i < rigs.length; i++) {
            $rigInput.append('<option value="' + rigs[i].Value + '">' + rigs[i].Text + '</option>');
        }
        $rigInput.change(function () {
            if ($rigInput.val() === '') {
                //reset customers
                $customerInput.empty();
                $customerInput.append('<option value=""></option>');
                for (i = 0; i < customers.length; i++) {
                    $customerInput.append('<option value="' + customers[i].Value + '">' + customers[i].Text + '</option>');
                }

                //reset rigs
                $rigInput.empty();
                $rigInput.append('<option value=""></option>');
                for (i = 0; i < rigs.length; i++) {
                    $rigInput.append('<option value="' + rigs[i].Value + '">' + rigs[i].Text + '</option>');
                }
            } else {
                var currentCustomer = $customerInput.val();
                var customerFoundInNewCustomers = false;
                var newCustomers = customersForRig[$rigInput.val()];
                $customerInput.empty();
                $customerInput.append('<option value=""></option>');
                for (i = 0; i < newCustomers.length; i++) {
                    if (currentCustomer === newCustomers[i].Value) {
                        customerFoundInNewCustomers = true;
                    }
                    $customerInput.append('<option value="' + newCustomers[i].Value + '">' + newCustomers[i].Text + '</option>');
                }

                if (customerFoundInNewCustomers) {
                    $customerInput.val(currentCustomer);
                }

                if (newCustomers.length === 1) {
                    $customerInput.val(newCustomers[0].Value);
                }

                //clear equipment
                $equipmentAutocomplete.val('');
                $equipmentInput.val('');
            }
        });

        //category
        for (i = 0; i < categories.length; i++) {
            $categoryInput.append('<option value="' + categories[i] + '">' + categories[i] + '</option>');
        }
        $categoryInput.change(function() {
            var newTypesForCategory = typesForCategory[$categoryInput.val()];

            if (newTypesForCategory.length === 1) {
                $typeSection.hide();
            } else {
                $typeSection.show();
            }

            $typeInput.empty();
            for (i = 0; i < newTypesForCategory.length; i++) {
                $typeInput.append('<option value="' + newTypesForCategory[i].Id + '">' + newTypesForCategory[i].Title + '</option>');
            }

            $typeInput.val(newTypesForCategory[0].Id);
            $typeInput.change();
        });

        //type
        var currentTypesForCategory = typesForCategory[categories[0]];
        for (i = 0; i < currentTypesForCategory.length; i++) {
            $typeInput.append('<option value="' + currentTypesForCategory[i].Id + '">' + currentTypesForCategory[i].Title + '</option>');
        }
        $typeInput.change(function() {
            $('div.enquiry-instruction').hide();
            var $concreteInstruction = $('div#for-type-' + $typeInput.val());
            if ($concreteInstruction.length === 0) {
                $('div#for-type-@CreateEnquiryViewModel.DefaultInstructionId').show();
            } else {
                $concreteInstruction.show();
            }

            var typeInfo = types[$typeInput.val()];
            if (typeInfo.CanHaveEquipment) {
                $equipmentSection.show();
            } else {
                $equipmentSection.hide();
            }
        });

        //equipment
        $equipmentAutocomplete.autocomplete({
            source: function(request, response) {
                applySafeSearchTerm(request, this.element);
                $.ajax({
                    url: "@Url.Action("Search", "Equipment")",
                    dataType: "json",
                    data: {
                        term: request.term,
                        rigId: $rigInput.val()
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            select: function(event, ui) {
                $equipmentAutocomplete.val(ui.item.value);
                $equipmentInput.val(ui.item.text);
                return false;
            }
        });

        //save
        var submit = function () {
            $('#@saveButtonsContainerId').toggleClass('display-none');
            $('#@progressContainerId').toggleClass('display-none');

            var data = {
                @nameof(CreateEnquiryViewModel.RootCustomerId): $customerInput.val(),
                @nameof(CreateEnquiryViewModel.RigId): $rigInput.val(),
                @nameof(CreateEnquiryViewModel.TypeId): $typeInput.val(),
                @nameof(CreateEnquiryViewModel.EquipmentId): $equipmentInput.val(),
                @nameof(CreateEnquiryViewModel.Title): $titleInput.val(),
                @nameof(CreateEnquiryViewModel.Description): $descriptionInput.val(),
                @nameof(CreateEnquiryViewModel.IsDraft): $isDraftInput.val(),
                @nameof(CreateEnquiryViewModel.Files): getAttachedFiles('@fileUploadControlId')
            };

            $.ajax({
                type: 'POST',
                url: "@Url.Action("Create", "Enquiries")",
                data: data,
                dataType: 'json'
            }).done(function (response) {
                window.top.location.href = response.url;
            }).fail(function (response) {
                if (response.status === 400) {
                    $('span.field-validation-error').addClass('display-none');

                    for (var i = 0; i < response.responseJSON.length; i++) {
                        var error = response.responseJSON[i];
                        if (error.key && $('#' + error.key + '-error').length === 1) {
                            $('#' + error.key + '-error').children('span').text(error.errors[0].errorMessage).parent()
                                .removeClass('display-none');
                        } else {
                            $('#@generalErrorContainerId').children('span').text(error.errors[0].errorMessage).parent()
                                .removeClass('display-none');
                        }
                    }

                    $('#@saveButtonsContainerId').toggleClass('display-none');
                    $('#@progressContainerId').toggleClass('display-none');
                }
            });
        };

        $submitEnquiryDraft.click(function() {
            $isDraftInput.val("true");
            submit();
        });

        $submitEnquiry.click(function() {
            $isDraftInput.val("false");
            submit();
        });

        //onload
        @if (Model.RigId > 0)
        {
        <text>
            $rigInput.val("@Model.RigId");
            $rigInput.change();
        </text>
        }

        @if (Model.TypeId > 0 && !string.IsNullOrEmpty(Model.CategoryId))
        {
        <text>
            $categoryInput.val("@Model.CategoryId");
        </text>
        }
        $categoryInput.change();

        @if (Model.TypeId > 0 && !string.IsNullOrEmpty(Model.CategoryId))
        {
        <text>
            $typeInput.val(@Model.TypeId);
        </text>
        }
        $typeInput.change();
    });
</script>

