﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using MyDrilling.Web.Models.Enquiries
@using MyDrilling.Web.QueryParameters
@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Models.Enquiries.ItemsViewModel

@{
    ViewData["Title"] = LanguageConstants.Enquiries;
    var drillDown = Context.GetDrillDownParameters();
    var altRow = 0;
    var tz = Context.GetCurrentUser().GetTimeZoneInfo();
}

<div>
    <div>
        <div style="display: inline-block;">
            <h2>@LanguageConstants.Enquiries</h2>
        </div>
        <div style="position: relative;">
            <a id="updatedEnquiriesBanner" href="" onclick="document.location.reload();" style="display: none; color: #0092bc; position: absolute; right: 0; bottom: 0;">@LanguageConstants.EnquiriesUpdated</a>
        </div>
    </div>
    <div>
        @await Html.PartialAsync("_Menu", Model.Menu)
        <div id="TabPane">
            <div id="TabPaneInner">
                <table class="stdTable">
                    <thead>
                        <tr>
                            <th>@Html.SortLink(LanguageConstants.Title, ItemsViewModel.TitleSort)</th>
                            <th class="containsFilter filter">
                                @Html.SortLink(LanguageConstants.Customer, ItemsViewModel.CustomerSort)
                                @Html.FilterColumn(ItemsViewModel.CustomerFilter)
                            </th>
                            @if (!drillDown.HasRig)
                            {
                                <th>@Html.SortLink(LanguageConstants.Rig, ItemsViewModel.RigSort)</th>
                            }
                            <th class="rightAlignColumn">@Html.SortLink(LanguageConstants.CreatedDate, ItemsViewModel.DateSort)</th>
                            <th class="containsFilter filter">@LanguageConstants.Category @Html.FilterColumn(ItemsViewModel.CategoryFilter)</th>
                            <th class="containsFilter filter">@LanguageConstants.Type @Html.FilterColumn(ItemsViewModel.TypeFilter)</th>
                            <th class="rightAlignColumn">@Html.SortLink(LanguageConstants.LastComment, ItemsViewModel.LastCommentSort)</th>
                        </tr>
                    </thead>
                    <tbody class="linkAllRows">
                    @foreach (var rowModel in Model.Items)
                    {
                        <tr @(Css.AltClass(altRow++)) id="@altRow">
                            <td class="oHide mainLinkCell enquiryTitle">
                                @Html.ActionLink(rowModel.Title, "Detail", "Enquiries",
                                    drillDown.ToRouteValueDictionary(new { id = rowModel.Id, rig = rowModel.RigReferenceId }),
                                    new Dictionary<string, object>
                                    {
                                        {"class", rowModel.IsRead ? string.Empty : "strong"}
                                    })
                            </td>
                            <td>@rowModel.CustomerName</td>
                            @if (!drillDown.HasRig)
                            {
                                <td>@rowModel.RigName</td>
                            }
                            <td class="rightAlignColumn enquiryDate"> @rowModel.Date.StdShortDate(tz)</td>
                            <td>@rowModel.TypeInfo.Category</td>
                            <td>@rowModel.TypeInfo.Title</td>
                            <td class="right nowrap lastCommented">
                                @{
                                    var commentClass = rowModel.LastCommentedDateTime.HasValue ? "icon-comment" : "icon-created";
                                }
                                <div class="@commentClass">
                                    <time class="time_ago"
                                          datetime="@rowModel.LastCommentedDateTime.ToLocal(tz).ToUniversalSortable()"
                                          title="@rowModel.LastCommentedDateTime.ToLocal(tz).ToFullString()">@rowModel.LastCommentedDateTime.ToLocal(tz).ToFullString()</time>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                
                <div style="text-align: right;">
                    <a href="@Url.Action("DeletedToExcel", drillDown.ToRouteValueDictionary(Context.GetFilterParameters(), Context.GetOrderParameters()))" class="linkButton">@LanguageConstants.Export</a>
                    <div class="clear"></div>
                </div>

                @await Html.PartialAsync("_Pager", new PagerViewModel(Model.TotalCount))
            </div>
        </div>
        <br />
    </div>
</div>