﻿@using MyDrilling.Web.QueryParameters
@using MyDrilling.Web.UserDetails
@using MyDrilling.Core
@using MyDrilling.Core.Entities.Enquiry
@using MyDrilling.Web.Models.Enquiries
@model MyDrilling.Web.Models.Enquiries.DetailViewModel

@{
    ViewData["Title"] = Model.Title;
    int altRow = 0;
    var drillDown = Context.GetDrillDownParameters();
    var tz = Context.GetCurrentUser().GetTimeZoneInfo();

    var findAssigneesUrl = Url.Action("FindAssignees", "Enquiries", new { id = Model.Id, limit = 10 });
    var findPersonnelToAddUrl = Url.Action("findPersonnelToAdd", "Enquiries", new { id = Model.Id, limit = 10 });
    var fileUploadControlId = Guid.NewGuid().ToString();

    bool showConflictMessage = Context.Request.Query.TryGetValue("conflict", out _);
    string assigneeSelectedEventName = "assigneeSelected";
    string personnelSelectedEventName = "personnelSelected";
}
<div class="overflowHidden">
    @if (showConflictMessage)
    {
        <div style="font-weight: bold; font-size: 1.4em; color: white; padding: 5px; background-color: #0092bc; text-align: center;">
            <div style="display: inline;">The enquiry you attempted to change was modified by another user after you got the original value.</div>
            <div style="float: right; cursor: pointer;" onclick="$(this).parent().remove();">x</div>
        </div>
    }

    @* details 1st part *@
    <div id="requestMeta">
        <div class="metaContainer">
            <div class="stdMeta @(Model.GetMetaCategory()) @(Model.IsDraft ? "stdMetaDraft" : "") " title="icon">
                @if (Model.IsDraft)
                {
                    <img class="metaOver noprint" src="/graphics/blank.png" alt="@LanguageConstants.RequestIsDraft" title="@LanguageConstants.RequestIsDraft"/>
                }
            </div>
            <div class="metaFields fLeft">
                <h2>@Model.Title</h2>
                <ul>
                    @Model.TypeInfo.Category.LiWithLabel(LanguageConstants.Category)
                    @Model.TypeInfo.Title.LiWithLabel(LanguageConstants.Type)
                    @Model.StateInfo.Title.LiWithLabel(LanguageConstants.Status)

                </ul>
                <ul>
                    @Model.CreatedDateTime.LiWithLabel(tz, LanguageConstants.Reported, true)
                    @Model.ReferenceId.FixPending().LiWithLabel(LanguageConstants.ReferenceNumberShort, "notificationid")
                    @Model.AssigneeName.LiWithLabel(LanguageConstants.Assignee)
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    @* details 2nd part *@
    <div>
        <div class="requestMetaBottom">
            <div class="meataContainer">
                <ul class="stdNote">
                    <li class="fLeft">
                        <label>@LanguageConstants.Customer:</label>@Model.RootCustomerName
                    </li>
                    <li class="fLeft">
                        <label>@LanguageConstants.Rig:</label>
                        @Html.ActionLink(Model.RigName, "Index", "Rigs",
                            drillDown.ToRouteValueDictionary(new {rig = Model.RigId}))
                    </li>
                    @if (Model.EquipmentId.HasValue)
                    {
                <li class="fLeft">
                    <label>@LanguageConstants.Equipment:</label>
                    <span>@Model.EquipmentName</span>
                    @*@Html.ActionLink(Model.EquipmentName, "Detail", "Equipment",
                        drillDown.ToRouteValueDictionary(new {equipment = Model.EquipmentId}))*@
                </li>
                    }
                </ul>
            </div>
            <div class="clear"></div>
            <label>@LanguageConstants.Description:</label>
            <p>@Html.ConvertLineBreaks(Model.Description)</p>
        </div>
    </div>

    @* comments *@
    <dl class="stdNote commentsNote noPaddingBotom">
        @if (Model.CanAddComment)
        {
            <div id="CommentsFormWrapper">

                <div id="commentsHolderInner" class="commentsHolderInner">
                    <dt>Collaboration</dt>
                    <dd class="commentForm">
                        <div id="commentsFormEditor">
                            <ul class="stdForm">
                                <li>
                                    <span id="@nameof(CreateEnquiryCommentViewModel.Text)-error" class="field-validation-error display-none"><span></span></span>
                                    <textarea class="multiline txt" cols="20" placeholder="Please write yor comment and click save" id="Comment" name="Comment" rows="2" style="resize: vertical;"></textarea>
                                </li>
                                <li>
                                    <div>
                                        @await Html.PartialAsync("_FileUpload", fileUploadControlId)
                                    </div>
                                    <div id="saveButtons">
                                        <input type="button" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 12px;" id="saveComment" value="@LanguageConstants.Save"/>
                                        <input type="button" class="button ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 12px;" id="cancelComment" value="@LanguageConstants.Cancel"/>
                                    </div>
                                    <div id="saving" class="display-none">
                                        <span class="progressbar" style="height: 16px; float: right;"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </dd>
                    <div class="clear">
                    </div>
                </div>

            </div>
        }
        <dt class="commentsListHeading">
            @LanguageConstants.Comments
            @if (!Model.CanAddComment)
            {
                <span title="You need to be assigned as an collaborator or to be part of involved personnel in order to contribute in the collaboration (add comment and attachment)"
                      class="noprint">(Read only)</span>
            }
        </dt>
        <dd id="commentsList" style="display: block;">
            <div id="commentsForm">
                @if (Model.Comments.Length > 0)
                {
                    <table class="stdTable" style="border-bottom: 0;">
                        <tbody>
                        @foreach (var rowViewModel in Model.Comments.OrderByDescending(x => x.CreatedDateTime))
                        {
                            <tr @(Css.AltClass(altRow++)) id="@Model.GetCommentId(rowViewModel.Id)">
                                <td class="commentTimeAndByColumn">
                                    <div class="timeandby">
                                        @(rowViewModel.CreatedByUserCustomerName ?? "")<br/>@rowViewModel.CreatedByUserName<br/>
                                        @Html.TimeOfAction(rowViewModel.CreatedDateTime.ToLocal(tz))
                                    </div>
                                </td>
                                <td class="commentTextColumn">
                                    @Html.ConvertLineBreaks(rowViewModel.Text)
                                </td>
                                <td class="commentDeleteColumn">
                                    @if (Model.CanDeleteComment)
                                    {
                                        <form method="post" id="@Model.GetDeleteCommentFormId(rowViewModel.Id)" action="@Html.Raw(Url.Action("DeleteComment", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id, commentId = rowViewModel.Id})))">
                                             <a title="Delete" class="deleteAction" onclick="if (confirm('Are you sure you want to delete this comment?')){ $('#@Model.GetDeleteCommentFormId(rowViewModel.Id)').submit(); }">
                                                 <span class="ui-button-icon-primary ui-icon ui-icon-close" style="cursor: pointer;"></span>
                                             </a>
                                         </form>
                                    }
                                    @if (Model.CommentsToFiles.TryGetValue(rowViewModel.Id, out var fileIds) && fileIds.Length > 0)
                                    {
                                        <a class="commentFile commentFiles" onclick="markFilesForComment([@string.Join(',', fileIds.Select(x => $"'{Model.GetFileId(x)}'"))])"
                                           title="@(fileIds.Length) attachments. Click to mark files.">
                                            @fileIds.Length
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="inner">
                        @LanguageConstants.NoComments.MessageBox(LanguageConstants.Info)
                    </div>
                }
            </div>
        </dd>
    </dl>
</div>
@section RightBar
{
    @* buttons *@
    <div id="requestButtons">
        @if (Model.CanSendForApproval)
        {
            @* ui dialog *@
            <div class="confirmation-buttons">
                <a href="@Html.Raw(Url.Action("SendDraftForApproval", "Enquiries", new {id = Model.Id, version = Model.Version}))"
                   class="md-button popup-ajax">@LanguageConstants.SendForApproval</a>
            </div>
        }
        @if (Model.CanAssignToCustomer)
        {
            <div class="confirmation-buttons">
                <form method="post" action="@Html.Raw(Url.Action("AssignToCustomer", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))">
                    <input type="hidden" name="@nameof(DetailViewModel.Version)" value="@Model.Version"/>
                    <button type="submit" class="md-button"
                            onclick="return confirm('@LanguageConstants.DoYouReallyWantAssignToCustomer');">
                        @LanguageConstants.AssignToCustomer
                    </button>
                </form>
            </div>
        }
        @if (Model.CanAssignToProvider)
        {
            <div class="confirmation-buttons">
                <form method="post" action="@Html.Raw(Url.Action("AssignToProvider", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))">
                    <input type="hidden" name="@nameof(DetailViewModel.Version)" value="@Model.Version"/>
                    <button type="submit" class="md-button"
                            onclick="return confirm('@LanguageConstants.DoYouReallyWantAssignToProviderName');">
                        @LanguageConstants.AssignToProviderName
                    </button>
                </form>
            </div>
        }
        @if (Model.CanSetAssignee)
        {
            @* ui dialog *@
            <div class="confirmation-buttons">
                <a href="@Html.Raw(Url.Action("FindUsersDialog", "User", new {findUsersUrl = findAssigneesUrl, title = LanguageConstants.AssignToInternalUser, eventName = assigneeSelectedEventName, singleUserMode = true}))"
                   class="md-button popup-ajax">@LanguageConstants.AssignToInternalUser</a>
            </div>
        }
        @if (Model.CanAddPersonnel)
        {
            @* ui dialog *@
            <div class="confirmation-buttons">
                <a href="@Html.Raw(Url.Action("FindUsersDialog", "User", new {findUsersUrl = findPersonnelToAddUrl, title = LanguageConstants.AddUser, eventname = personnelSelectedEventName, singleUserMode = false}))"
                   class="md-button popup-ajax">@LanguageConstants.AddUser</a>
            </div>
        }
        @if (Model.CanRemoveAssignee)
        {
            <div class="confirmation-buttons">
                <form method="post" action="@Html.Raw(Url.Action("RemoveInternalUser", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))">
                    <input type="hidden" name="@nameof(DetailViewModel.Version)" value="@Model.Version"/>
                    <button type="submit" class="md-button"
                            onclick="return confirm('@LanguageConstants.DoYouReallyWantRemoveInternalAssigner');">
                        @LanguageConstants.RemoveInternalAssigner
                    </button>
                </form>
            </div>
        }
        @if (Model.CanSuggestToClose)
        {
            <div class="confirmation-buttons">
                <form method="post" action="@Html.Raw(Url.Action("SuggestToClose", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))">
                    <input type="hidden" name="@nameof(DetailViewModel.Version)" value="@Model.Version"/>
                    <button type="submit" class="md-button"
                            onclick="return confirm('@LanguageConstants.DoYouReallyWantSuggestToClose');">
                        @LanguageConstants.SuggestToClose
                    </button>
                </form>
            </div>
        }
        @if (Model.CanApprove)
        {
            <div class="confirmation-buttons">
                <form method="post" action="@Html.Raw(Url.Action("ApproveAndSubmit", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))">
                    <input type="hidden" name="@nameof(DetailViewModel.Version)" value="@Model.Version"/>
                    <button type="submit" class="md-button"
                            onclick="return confirm('@LanguageConstants.DoYouReallyWantToApproveAndSubmitEnquiry');">
                        @LanguageConstants.ApproveAndSubmit
                    </button>
                </form>
            </div>
        }
        @if (Model.CanReject)
        {
            <div class="confirmation-buttons">
                <form method="post" action="@Html.Raw(Url.Action("RejectEnquiry", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))">
                    <input type="hidden" name="@nameof(DetailViewModel.Version)" value="@Model.Version"/>
                    <button type="submit" class="md-button"
                            onclick="return confirm('@LanguageConstants.DoYouReallyWantToRejectEnquiry');">
                        @LanguageConstants.RejectEnquiry
                    </button>
                </form>
            </div>
        }
        @if (Model.CanEdit)
        {
            @* ui dialog *@
            <div class="confirmation-buttons">
                <a href="@Html.Raw(Url.Action("Edit", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))" class="md-button popup-ajax">@LanguageConstants.EditSuggestedEnquiry</a>
            </div>
        }
        @if (Model.CanDelete)
        {
            <div class="confirmation-buttons">
                <form method="post" action="@Html.Raw(Url.Action("RemoveEnquiry", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))">
                    <input type="hidden" name="@nameof(DetailViewModel.Version)" value="@Model.Version"/>
                    <button type="submit" class="md-button"
                            onclick="return confirm('@LanguageConstants.DoYouReallyWantToRemoveEnquiry');">
                        @LanguageConstants.RemoveEnquiry
                    </button>
                </form>
            </div>
        }
        @if (Model.CanReopen)
        {
            <div class="confirmation-buttons">
                <form method="post" action="@Html.Raw(Url.Action("ReopenEnquiry", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))">
                    <input type="hidden" name="@nameof(DetailViewModel.Version)" value="@Model.Version"/>
                    <button type="submit" class="md-button"
                            onclick="return confirm('@LanguageConstants.DoYouReallyWantToReopenEnquiry');">
                        @LanguageConstants.ReopenEnquiry
                    </button>
                </form>
            </div>
        }
    </div>

    @* files *@
    @if (Model.Files != null && Model.Files.Length > 0)
    {
        <div id="submitAttachment">
            <h4>@LanguageConstants.Attachments</h4>

            <div id="attachmentList">
                <ul id="requestAttachmentList" class="stdItems">
                    @foreach (var item in Model.Files.OrderBy(x => x.Created))
                    {
                    <li id="@Model.GetFileId(item.Id)" class="file icon-@item.FileExtension.ToLower()"
                        title="@item.Created.CleanDateTime(tz) - @item.FileName - By:  @item.CreateByInfo">

                        @if (Model.CanDeleteAttachment)
                        {
                            <form method="post" id="@Model.GetDeleteFileFormId(item.Id)" action="@Html.Raw(Url.Action("DeleteFile", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id, fileId = item.Id})))">
                                <a title="Delete" class="deleteAction" onclick="if (confirm('Are you sure you want to delete this attachment?')){ $('#@Model.GetDeleteFileFormId(item.Id)').submit(); }">
                                    <span class="ui-button-icon-primary ui-icon ui-icon-close" style="cursor: pointer;"></span>
                                </a>
                            </form>
                        }

                        @item.Created.StdShortDateNoTooltip(tz)
                        @if (item.CommentId.HasValue)
                        {
                            <a class="comment noprint" onclick="markCommentForFile('@Model.GetCommentId(item.CommentId.Value)')" title="@Model.CommentsById[item.CommentId.Value].Text" style="margin-top: 4px;">
                                <span class="icon-comment"></span>
                            </a>
                        }
                        <a href="@Url.Action("GetFile", "Enquiries", new {id = Model.Id, fileId = item.Id})" class="document-link" class="noprint">
                            @item.FileName
                        </a>

                        <span class="print">@item.Created.StdShortDate(tz) - @item.FileName</span>
                        <div class="clear"></div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    }

    @* workflow *@
    @if (Model.StateLogs != null && Model.StateLogs.Length > 0)
    {
        <div id="requestWorkFlow">
            <h4>@LanguageConstants.Workflow</h4>
            @if (Model.State != StateInfo.State.Closed)
            {
                if (!string.IsNullOrEmpty(Model.AssigneeFirstName) && !string.IsNullOrEmpty(Model.AssigneeLastName))
                {
                    <div class="personExternal">
                        Assigned to: @Model.AssigneeName
                    </div>
                }
            }

            <ul class="stdItems workflowList">
                @{
                    var index = 0;
                }
                @foreach (var item in Model.GetWorkflow())
                {
                    var cssClass = $"{((index == 0) ? item.StateCss + "Active" : item.StateCss)}";

                    <li class="enquiryWorkflowItem">
                        <div class="workflowIcon @cssClass noprint">
                        </div>
                        <div class="requestWorkflowInfo">
                            <span class="print">@($"{LanguageConstants.Enquiry} {item.StateName}")"</span>
                            <span>@item.ChangedDateTime.StdDateTime(tz)</span>
                            <br/>
                            @if (!string.IsNullOrEmpty(item.ChangedBy))
                            {
                                <span class="nowrap">By: @item.ChangedBy</span>
                            }
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                    {
                        index++;
                    }
                }
            </ul>
        </div>
    }

    @* involved personnel *@
    <h4>@LanguageConstants.InvolvedPersonnel</h4>
    <div id="audienceList">
        @if (Model.InvolvedPersonnel != null && Model.InvolvedPersonnel.Count > 0)
        {
            <ul class="stdItems">
                @foreach (var user in Model.InvolvedPersonnel)
                {
                    <li class="person@(!user.IsInternalUser ? "External" : "Internal")"
                        title="@user.Position @user.CustomerName">
                        <span class="nameSmall">
                            @user.FirstName @user.LastName
                        </span>
                        <div class="clear">
                        </div>
                    </li>
                }
            </ul>
        }
    </div>

    @* added personnel *@
    <h4>@LanguageConstants.AddedPersonnel</h4>
    <div id="audienceList">
        @if (Model.AddedPersonnel != null && Model.AddedPersonnel.Count > 0)
        {
            <ul class="stdItems addedUsers">
                @foreach (var user in Model.AddedPersonnel)
                {
                    <li class="person@(!user.IsInternalUser ? "External" : "Internal")" title="@user.Position @user.CustomerName">
                        <span class="nameSmall">
                            @user.FirstName @user.LastName
                        </span>
                        @if (user.CanBeDeleted || Model.CanDeletePersonnel)
                        {
                            <form method="post" id="@Model.GetDeleteAddedPersonnelFormId(user.UserId)" action="@Html.Raw(Url.Action("DeletePersonnel", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id, userId = user.UserId})))">
                                <a title="Delete" class="deleteAction" onclick="if (confirm('Please confirm that you would like to remove the user from this conversation.')){ $('#@Model.GetDeleteAddedPersonnelFormId(user.UserId)').submit(); }">
                                    <span class="ui-button-icon-primary ui-icon ui-icon-close" style="cursor: pointer;"></span>
                                </a>
                            </form>
                        }
                        <div class="clear">
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
}

@section Scripts
{
<script>
    function markFilesForComment(fileIds) {
        $("#attachmentList li").removeClass("focus");
        for (var i = 0; i < fileIds.length; i++) {
            $('#' + fileIds[i]).addClass("focus");
        }
    }

    function markCommentForFile(commentId) {
        $("#commentsList tr").removeClass('focus');
        $("#" + commentId).addClass('focus');
    }

    $(function() {
        $('#saveComment').click(function() {
            $('#saveButtons').toggleClass('display-none');
            $('#saving').toggleClass('display-none');

            var data = {
                @nameof(CreateEnquiryCommentViewModel.Text): $('#Comment').val(),
                @nameof(CreateEnquiryCommentViewModel.EnquiryId): @Model.Id,
                @nameof(CreateEnquiryCommentViewModel.Files): getAttachedFiles('@fileUploadControlId')
            };

            $.ajax({
                type: 'POST',
                url: "@Html.Raw(Url.Action("AddComment", "Enquiries", drillDown.ToRouteValueDictionary()))",
                data: data,
                dataType: 'json'
            }).done(function(response) {
                location.href = response.url;
            }).fail(function(response) {
                if (response.status === 400) {
                    $('span.field-validation-error').addClass('display-none');

                    for (var i = 0; i < response.responseJSON.length; i++) {
                        var error = response.responseJSON[i];
                        $('#' + error.key + '-error').children('span').text(error.errors[0].errorMessage).parent()
                            .removeClass('display-none');
                    }
                }

                $('#saveButtons').toggleClass('display-none');
                $('#saving').toggleClass('display-none');
            });
        });

        $('#cancelComment').click(function() {
            $('#Comment').val('');
            removeAllFiles('@fileUploadControlId');
        });

        document.addEventListener('@assigneeSelectedEventName', function (e) {
            if (!e.detail.users || e.detail.users.length !== 1) {
                return;
            }
            console.log(e);
            $.ajax({
                type: 'POST',
                url: "@Html.Raw(Url.Action("SetAssignee", "Enquiries", drillDown.ToRouteValueDictionary(new { id = Model.Id })))",
                data: { assigneeId: e.detail.users[0], version: @Model.Version},
                dataType: 'json'
            }).done(function(response) {
                location.href = location.href;
            }).fail(function(response) {
                if (response.status === 409) {
                    location.href = response.responseJSON.url;
                }
            });
        });

        document.addEventListener('@personnelSelectedEventName', function (e) {
            if (!e.detail.users || e.detail.users.length < 1) {
                return;
            }
            console.log(e);
            $.ajax({
                type: 'POST',
                url: "@Html.Raw(Url.Action("AddPersonnel", "Enquiries", drillDown.ToRouteValueDictionary(new {id = Model.Id})))",
                data: { userIds: e.detail.users},
                dataType: 'json'
            }).done(function(response) {
                location.href = location.href;
            }).fail(function (response) {

            });
        });

        document.addEventListener('approverSelected', function (e) {
            if (!e.detail.user) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: "@Html.Raw(Url.Action("SendDraftForApproval", "Enquiries", drillDown.ToRouteValueDictionary(new { id = Model.Id })))",
                data: { approverId: e.detail.user, version: @Model.Version},
                dataType: 'json'
            }).done(function(response) {
                location.href = location.href;
            }).fail(function(response) {
                if (response.status === 409) {
                    location.href = response.responseJSON.url;
                }
            });
        });
    });
</script>
}