﻿@using MyDrilling.Web.Models.Enquiries
@model MyDrilling.Web.Models.Enquiries.EditEnquiryViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    var typeInputId = nameof(EditEnquiryViewModel.TypeId);
    var equipmentAutocompleteId = nameof(EditEnquiryViewModel.EquipmentId) + "Autocomplete";
    var equipmentInputId = nameof(EditEnquiryViewModel.EquipmentId);
    var titleInputId = nameof(EditEnquiryViewModel.Title);
    var descriptionInputId = nameof(EditEnquiryViewModel.Description);
    var submitEnquiryButtonId = "submitEnquiry";

    var typeSectionId = nameof(EditEnquiryViewModel.TypeId) + "_section";
    var equipmentSectionId = nameof(EditEnquiryViewModel.EquipmentId) + "_section";
    var generalErrorContainerId = "error-general";

    var saveButtonsContainerId = $"saveButtons_{Guid.NewGuid()}";
    var progressContainerId = $"progress_{Guid.NewGuid()}";
}
<div style="width:auto;height:auto;overflow: auto;position:relative;">
    <div class="popup">
        <div id="enquiryContent" class="popupContent">
            <div class="bigTopBox dropshadow">
                <div class="bigTopBoxFrame">
                    <div class="bigTopBoxInnerFrame">
                        <div id="popupWithRightBar">
                            <div class="requestFormHeader">
                                <div class="newRequestIcon newRequestIcon" title="icon"></div>
                                <h3>Update enquiry</h3>
                                <p>When submitted your enquiry will be received by MHWirth and the  collaboration can start. Thank you for contributing, please fill out the fields below and click submit.</p>
                            </div>
                            <div id="middle" class="clearfix">
                                <div class="inner popupFormContent" id="requestFormContent">
                                    <div id="newRquestForm" class="popupForm">
                                        <div class="popup">
                                            <ul class="stdForm">
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    <span id="@generalErrorContainerId" class="field-validation-error display-none"><span></span></span>
                                                </li>
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.RigName)
                                                    @Model.RigName
                                                </li>
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.CategoryName)
                                                    @Model.CategoryName
                                                </li>
                                                @if (Model.CanChangeType)
                                                {
                                                    <li id="@typeSectionId" style="display: inherit" class="hasTooltipInfo">
                                                        @Html.LabelFor(model => model.TypeId)
                                                        <select class="sel" id="@typeInputId" name="@typeInputId">
                                                            @foreach (var type in Model.Types)
                                                            {
                                                                if (type.Id == Model.TypeId)
                                                                {
                                                                    <option selected="selected" value="@type.Id">@type.Title</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@type.Id">@type.Title</option>
                                                                }
                                                            }
                                                        </select>
                                                        <span id="@nameof(CreateEnquiryViewModel.TypeId)-error" class="field-validation-error display-none"><span></span></span>
                                                        <div class="tooltipIcon"><cite class="TooltipInfo">Please select enquiry type</cite></div>
                                                    </li>
                                                }
                                                @if (Model.CanHaveEquipment)
                                                {
                                                    <li id="@equipmentSectionId" style="display: inherit" class="hasTooltipInfo">
                                                        @Html.LabelFor(model => model.EquipmentId)
                                                        <input class="txt inputRequired" id="@equipmentAutocompleteId" name="@equipmentAutocompleteId" type="text" value="@Model.EquipmentName"/>
                                                        <span id="@nameof(CreateEnquiryViewModel.EquipmentId)-error" class="field-validation-error display-none"><span></span></span>
                                                        <div class="tooltipIcon"><cite class="TooltipInfo">Required. Start typing and select equipment from the fast select box. Select 'NA' option if you don't want to specify equipment</cite></div>
                                                        <input type="hidden" id="@equipmentInputId" name="@equipmentInputId" value="@Model.EquipmentId"/>
                                                    </li>
                                                }
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.Title)
                                                    <input class="txt inputRequired" id="@titleInputId" name="@titleInputId" type="text" value="@Model.Title" />
                                                    <span id="@nameof(CreateEnquiryViewModel.Title)-error" class="field-validation-error display-none"><span></span></span>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Required. Please enter the enquiry title with a maximum length of 40 characters</cite></div>
                                                </li>
                                                <li style="display: inherit" class="hasTooltipInfo">
                                                    @Html.LabelFor(model => model.Description)
                                                    <textarea class="txt inputRequired" id="@descriptionInputId" name="@descriptionInputId">@Model.Description</textarea>
                                                    <span id="@nameof(CreateEnquiryViewModel.Description)-error" class="field-validation-error display-none"><span></span></span>
                                                    <div class="tooltipIcon"><cite class="TooltipInfo">Required. Please use relevant guidelines to ensure correct description</cite></div>
                                                </li>
                                                <li class="buttons">
                                                    <div id="@saveButtonsContainerId">
                                                        <input type="button" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 12px;" id="@submitEnquiryButtonId" value="Update" />
                                                        <input type="button" class="button ui-button ui-widget ui-state-default ui-corner-all" data-fancybox-close style="font-size: 12px;" value="@LanguageConstants.Cancel" />
                                                    </div>
                                                    <div id="@progressContainerId" class="display-none" style="text-align: center;">
                                                        <span class="progressbar" style="height: 16px; float: none;"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function() {
        var $typeInput = $('#@typeInputId'),
            $equipmentInput = $('#@equipmentInputId'),
            $equipmentAutocomplete = $('#@equipmentAutocompleteId'),
            $submitEnquiry = $('#@submitEnquiryButtonId'),
            $titleInput = $('#@titleInputId'),
            $descriptionInput = $('#@descriptionInputId'),
            i;

        //equipment
        $equipmentAutocomplete.autocomplete({
            source: function(request, response) {
                applySafeSearchTerm(request, this.element);
                $.ajax({
                    url: "@Url.Action("Search", "Equipment")",
                    dataType: "json",
                    data: {
                        term: request.term,
                        rigId: @Model.RigId
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            select: function(event, ui) {
                $equipmentAutocomplete.val(ui.item.value);
                $equipmentInput.val(ui.item.text);
                return false;
            }
        });

        $submitEnquiry.click(function() {
            $('#@saveButtonsContainerId').toggleClass('display-none');
            $('#@progressContainerId').toggleClass('display-none');

            var data = {
                @nameof(EditEnquiryViewModel.TypeId): $typeInput.val(),
                @nameof(EditEnquiryViewModel.EquipmentId): $equipmentInput.val(),
                @nameof(EditEnquiryViewModel.Title): $titleInput.val(),
                @nameof(EditEnquiryViewModel.Description): $descriptionInput.val(),
                @nameof(EditEnquiryViewModel.Id): @Model.Id,
                @nameof(EditEnquiryViewModel.Version): @Model.Version
            };

            $.ajax({
                type: 'POST',
                url: "@Url.Action("Edit", "Enquiries", new {id = Model.Id})",
                data: data,
                dataType: 'json'
            }).done(function (response) {
                window.top.location.href = response.url;
            }).fail(function (response) {
                if (response.status === 400) {
                    $('span.field-validation-error').addClass('display-none');

                    for (var i = 0; i < response.responseJSON.length; i++) {
                        var error = response.responseJSON[i];
                        if (error.key && $('#' + error.key + '-error').length  === 1) {
                            $('#' + error.key + '-error').children('span').text(error.errors[0].errorMessage).parent()
                                .removeClass('display-none');
                        } else {
                            $('#@generalErrorContainerId').children('span').text(error.errors[0].errorMessage).parent()
                                .removeClass('display-none');
                        }
                    }

                    $('#@saveButtonsContainerId').toggleClass('display-none');
                    $('#@progressContainerId').toggleClass('display-none');
                    return;
                }

                if (response.status === 409) {
                    parent.location.href = response.responseJSON.url;
                }
            });
        });
    });
</script>

