﻿
@{
    ViewBag.Title = "Send draft enquiry for approval";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

<div class="bigTopBox dropshadow" style="height: 240px;">
    <div class="bigTopBoxFrame">
        <div class="bigTopBoxInnerFrame">

            <div id="popupWithRightBar">
                <div class="requestFormHeader" style="height: 75px;">
                    <div class="newRequestIcon newRequestIconTrue" title="icon"></div>
                    <h3>@LanguageConstants.SendDraftToApproval</h3>
                </div>
                <div id="middle" class="clearfix">
                    <div class="inner popupFormContent" id="requestFormContent">
                        <div id="newRquestForm" class="popupForm" style="min-height: 0;">
                            @using (Html.BeginForm("SendDraftForApproval", "Enquiries", FormMethod.Post, new { @id = "SendDraftForApprovalForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="enquiryId" value="@Model" />
                                <ul class="stdForm">
                                    <li style="display: inherit" class="hasTooltipInfo">
                                        <label for="userId">@LanguageConstants.Approver</label>
                                        @Html.DropDownList("approverSelect", (IEnumerable<SelectListItem>)ViewBag.Approvers, new { @class = "sel" })
                                        <div class="tooltipIcon"><cite class="TooltipInfo">@LanguageConstants.SelectApproverRequired</cite></div>
                                    </li>
                                    <li class="buttons" style="margin-top: 25px;">
                                        <input type="button" id="sendForApproval" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all" value="@LanguageConstants.SendForApproval" />
                                        <input data-fancybox-close type="button" class="button buttonCancel ui-button ui-widget ui-state-default ui-corner-all" value="@LanguageConstants.Cancel" />
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                    <div id="helpText" class="popupRightColumn" style="min-height: 0">
                        <h4>Please make sure:</h4>
                        <ul class="stdList">
                            <li>You select an approver.</li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sendForApproval").click(function () {
            window.parent.document.dispatchEvent(new CustomEvent('approverSelected', { 'detail': { user: $('#approverSelect').val() } }));
            $('[data-fancybox-close]').click();
        });
    });
</script>

