﻿@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Areas.Admin.Models.AccessProfile.AccessProfileViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var altRow = 0;
    var roles = Context.GetCurrentUserRoles();
}

<div id="accessProfilesHeader" class="adminHeader">
    <h1 class="line">@Model.Name</h1>
</div>

@using (Html.BeginForm(Html.BeginForm("SaveAccessProfile", "AccessProfiles", FormMethod.Post, new { @id = "submitAccessProfileForm" })))
{
    @Html.HiddenFor(m => m.Id)
    <fieldset>
        <label asp-for="Name" style="font-size: 12px;font-weight: bold; margin-left: 4px;">Profile name</label>
        <input type="text" asp-for="@Model.Name" value="@Model.Name" style="font-size: 14px; width: 350px;" />
        <ol id="roleList">
            @for (var i = 0; i < Model.ProfileRoleGroups.Count; i++)
            {
                <li @(Css.AltClass(altRow++))>
                    <p><b>@Model.ProfileRoleGroups[i].GroupName</b></p>
                    <input type="hidden" asp-for="@Model.ProfileRoleGroups[i].GroupName" />
                    @{if (Model.ProfileRoleGroups[i].ProfileRoles.Count > 0)
                        {
                            <ul style="padding-left: 30px">
                                @for (var j = 0; j < Model.ProfileRoleGroups[i].ProfileRoles.Count; j++)
                                {
                                    <li>
                                        @if (roles.IsSystemAdmin())
                                        {
                                            <input type="checkbox"
                                                   asp-for="@Model.ProfileRoleGroups[i].ProfileRoles[j].Selected"
                                                   checked="@Model.ProfileRoleGroups[i].ProfileRoles[j].Selected" />
                                        }
                                        else
                                        {
                                            <input type="checkbox"
                                                   disabled="disabled"
                                                   asp-for="@Model.ProfileRoleGroups[i].ProfileRoles[j].Selected"
                                                   checked="@Model.ProfileRoleGroups[i].ProfileRoles[j].Selected" />
                                        }
                                        <label asp-for="@Model.ProfileRoleGroups[i].ProfileRoles[j].Selected">
                                            @Model.ProfileRoleGroups[i].ProfileRoles[j].OptionLabel
                                        </label>
                                        <input type="hidden" asp-for="@Model.ProfileRoleGroups[i].ProfileRoles[j].OptionValue" />
                                        <input type="hidden" asp-for="@Model.ProfileRoleGroups[i].ProfileRoles[j].OptionLabel" />
                                    </li>
                                }
                            </ul>
                        }
                    }
                </li>
            }
        </ol>
        <div class="clear">&nbsp;</div>
        <div>
            <input type="button" value="Cancel" class="ui-button" onclick="window.location = '/admin/accessprofiles/';" />
            @if (roles.IsSystemAdmin())
            {
                <input type="button" value="Reset" class="ui-button" onclick="window.location.reload(true);" />
                <input type="submit" value="Save" class="ui-button buttonSubmit" />
            }
        </div>
    </fieldset>
}
@if (roles.IsSystemAdmin())
{
    @using (Html.BeginForm("DeleteAccessProfile", "AccessProfiles", new { id = Model.Id }, FormMethod.Post, null, new { @id = "delete-profile-form" }))
    {
        <fieldset>
            <input type="submit" value="Delete" class="ui-button buttonSubmit" id="delete-profile-button" />
        </fieldset>
    }
}
@section RightBar
{
    <div id="accessRoleUsers">
        <div class="buttonHolder">
            <h2 class="lineSmall">
                Relevant for @Model.NumberOfUsers users
                @if (Model.NumberOfUsers >= 0)
                {

                    @Html.ActionLink("View all",
                        "UsersForAccessProfile",
                        "AccessProfiles",
                        new
                        {
                            id = Model.Id
                        },
                        new
                        {
                            @class = "fRight",
                            @id = "users-for-profile-button"
                        }
                    )
                }
            </h2>
            <ul id="users-for-profile" class="rightList" style="max-height: 390px;overflow-y: scroll;"></ul>
            @Html.ActionLink(
                "Add users to access profile",
                "GetAccessToRigDialog", 
                "Users",
                new 
                {
                    profileId = Model.Id
                },
                new
                {
                    @class = "button plusthick popup-ajax"
                }
                )


        </div>

    </div>
}


<script>
    $(function () {
        $("a.plusthick").button({ icons: { primary: "ui-icon-plusthick" } });
        $('#delete-profile-button').on('click', function (e) {
            e.preventDefault();
            if (confirm('Are you sure you want to delete this access profile?')) {
                $('#delete-profile-form').submit();
            }
        });
        $('#users-for-profile-button').on('click', function(e) {
            e.preventDefault();
            $('#users-for-profile').empty();
            var url = $(this).attr('href');
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var users = data.users;
                    users.forEach(addUserItem);
                    function addUserItem(item, index) {
                        var userLink = $('<a>').attr('href', '/admin/users/detail/' + item.userId).html(item.user);
                        var userItem = $('<li>').html(userLink);
                        $('#users-for-profile').append(userItem);
                    }
                },
                error: function (data) {
                    alert(data.responseJSON.message);
                }
            });
        });
    });
</script>
