﻿@using Microsoft.AspNetCore.Routing
@using MyDrilling.Web.Areas.Admin.Models.AccessProfile
@using MyDrilling.Web.QueryParameters
@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Areas.Admin.Models.AccessProfile.AccessProfilesViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var altRow = 0;
    var roles = Context.GetCurrentUserRoles();
    var drillDown = Context.GetDrillDownParameters();
}
<style>
    .access-profiles td span {
        display: block;
    }
</style>

<h1>
    Access profile list
    @if (roles.IsSystemAdmin())
    {
        <a href="@Html.Raw(Url.Action("NewAccessProfile", "AccessProfiles"))" class="md-button" style="font-size: 14px;">+ Add new access profile</a>
    }
</h1>

<div id="TabPane">
    <div id="TabPaneInner">
        <table class="stdTable access-profiles">
            <thead>
            <tr class="bordered">
                <th>@Html.SortLink("Name", AccessProfilesViewModel.NameSort)</th>
                <th>Roles</th>
                @if (roles.IsSystemAdmin())
                {
                    <th></th>
                }
            </tr>
            </thead>
            <tbody class="linkAllRows">
            @foreach (var rowModel in Model.Items)
            {
                <tr @(Css.AltClass(altRow++)) id="@altRow">
                    <td>
                        @Html.ActionLink(rowModel.Name, "Detail", "AccessProfiles",
                            new RouteValueDictionary(new { id = rowModel.Id }), new { @class = "document-link" })
                    </td>
                    <td>
                        @foreach (var profileRole in rowModel.ProfileRoles)
                        {
                            <span style="border-bottom:1px solid #c0c0c0">@profileRole.RoleDescription</span>
                        }
                    </td>
                    @if (roles.IsSystemAdmin())
                    {
                        <td>
                            @using (Html.BeginForm("DeleteAccessProfile", "AccessProfiles", new { id = rowModel.Id }, FormMethod.Post))
                            {
                                <input type="submit" value="Delete" class="button ui-button buttonSubmit md-button delete-profile-button" />
                            }
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
        @await Html.PartialAsync("_Pager", new PagerViewModel(Model.TotalCount))
    </div>
</div>

<script>
    $(function () {
        $('.delete-profile-button').on('click', function (e) {
            e.preventDefault();
            var submitButton = $(this);
            if (confirm('Are you sure you want to delete this access profile?')) {
                submitButton.parent().submit();
            }
        });
    });
</script>