﻿@model MyDrilling.Web.Models.Userprofile.MyPreferencesViewModel

@if (Model.PreferencesOptions.Any())
{
    <div id="MyPreferences">
        <h4>User preferences</h4>
        @using (Html.BeginForm("SubmitMyPreferences", "Userprofile", FormMethod.Post, new { @id = "submitPreferencesForm" }))
        {
            <ul style="padding: 0;">
                @for (var i = 0; i < Model.PreferencesOptions.Count; i++)
                {
                    <li>
                        <input type="checkbox" 
                               asp-for="@Model.PreferencesOptions[i].Selected"
                               checked="@Model.PreferencesOptions[i].Selected" />
                        <label asp-for="@Model.PreferencesOptions[i].Selected">
                            @Model.PreferencesOptions[i].OptionLabel
                        </label>
                        <input type="hidden" asp-for="@Model.PreferencesOptions[i].OptionValue" />
                        <input type="hidden" asp-for="@Model.PreferencesOptions[i].OptionLabel" />
                    </li>
                }
            </ul>
            <input type="button" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all notifyButton" value="Save user preferences" onclick="submitUserProfileItem('submitPreferencesForm', 'myPreferencesListItem'); " />
        }
    </div>
}


