﻿ /* 
Dark blue: #003145
Light blue: #8996a0
Lighter blue: #ccd6da
Left menu off: #dce4e9
Body (blue): #494949
Link color (blue): #3861b5
Orange: #ff8000
Red: #dc241f
Pink: #ffd9d9
Light pink: #fff7f7
Grey: #cfcfcf
Light cyan: #eef5fa
Yellow: #fff9d6
Dark grey: #8996a0
*/

ul.rightList { padding: 0; }
ul.rightList li { font-size: 1.2em; list-style-type: none; margin: 0 0 3px 0; overflow: hidden; padding: 0;}
ul.rightList li span{display: inline-block;width: 90%;}

#admin h1 { font-size: 2.0em; padding: 10px 0; }
#admin h2 { font-size: 1.2em;}
    
#admin #PagedUsers { position: relative; }
#admin #PagedUsers #drilldown {margin-bottom: 10px; min-width: 740px;}
#admin #PagedUsers .newUserButton { float:left; width: 200px;}
#admin #PagedUsers .paging { padding: 0;}
#admin #PagedUsers .paging dt { float: left; height: 25px; line-height: 25px; margin: 0 5px 0 0; padding: 0; vertical-align:middle; }
#admin #PagedUsers li.yes a { background: none repeat scroll 0 0 #F1F4F4; font-weight: bold; } 
#admin #PagedUsers #pagedUsersRightBar { float: right; height: 128px; margin-right: -20px; padding: 20px 20px; width: 222px; }
#admin #userRigs { clear: both; padding-top: 20px; }
#admin #userRigs ul { margin: 0; padding: 0;}
#admin #userRigs h3 { border-bottom: solid 1px #d9d9d9; }
#admin #userRigs ul li{ margin: 5px 0;}

#admin .createUserResponsibility { float: left; height: 13px; line-height: 13px; margin: 3px 0; }
#admin .createUserResponsibilitySelect { float: left; }

#admin .createUserButtons { float:right; margin-bottom: 20px;}
#admin .createUserButtons input, #admin .createUserButtons a { float: left; margin-right: 5px;}
#admin #drilldown #FastSelect { position: static; right: auto;  top: auto; }

#admin .accessToList { margin: 0; padding: 0; }

#admin #rightBar .stdForm li { margin: 5px 0;  padding-left: 0;}
#admin #rightBar .stdForm li .button { float: none; width: 200px;}

#admin .accessProfile .required { left: 37px; }

#admin .tabContent {height: auto;overflow: hidden;width:905px;}
#admin .ui-tabs-panel {min-height:520px}



#admin .backLink { margin: 20px 0 0 0;}

#admin .editProfileButtons { margin-bottom: 1.2em }

#adminOverview .icon-request  { background-position: 0 -2860px !important; } 

fieldset { padding: 10px 0;}


.adminHeader { border-bottom: solid 0 #8996a0; padding: 10px 0 5px 0; }
.adminHeader h1 { color: #333333; }
 #welcome_admin { bottom: 24px; font-size: 1.6em; left: 215px; padding: 0 !important;  position: relative;}
.adminHeader>div.fRight { padding: 15px 0 0 0; }
 
.adminFullAccess {background-color: #44aa44; border: solid;border-color: black;color: black;display: block;font-size: 16px;}
.adminNoAccess  {background-color: #aa4444;border: solid;border-color: black;color: black; display: block;font-size: 16px;}
 
#adminLeft {float:left; max-width: 815px; min-width: 496px; width: 100%;}
#adminRight { float: right; width: 220px;}

.collapsPanelHeader, .adminSubHeader{ border-bottom: solid 1px #999; margin-bottom: 10px;  padding:0 0 2px 30px;}
.collapsPanelHeader h2, .adminSubHeader h2 { float:left; font-size: 14px; font-weight: bold; }
.collapsPanelHeader a, .adminSubHeader a { float:right; margin: 10px 0 0 0;}

legend { display: none;}

ul#adminRightMenu {  margin: 10px 0 0 5px; padding: 0;}
ul#adminRightMenu li { height: 64px; list-style-type: none; margin: 0; margin: 0 0 10px 0; width: 64px;  }
ul#adminRightMenu li a { background: url(/graphics/buttons.png) no-repeat 0 0 ; display: block; height: 64px; text-indent: -9999px; width: 64px; }
ul#adminRightMenu li.addUser a { background-position: 0  -2626px;}
ul#adminRightMenu li.addUser a:hover { background-position: 0  -2690px;}
ul#adminRightMenu li.addAccessProfile a { background-position: 0  -2754px;}
ul#adminRightMenu li.addCustomerGroup a:hover{ background-position: 0  -320px;}
ul#adminRightMenu li.addCustomerGroup a { background-position: 0  -256px;}
ul#adminRightMenu li.addAccessProfile a:hover{ background-position: 0  -2817px;}
ul#adminRightMenu li.addGroup a { background-position: 0 -384px; }
ul#adminRightMenu li.addGroup a:hover { background-position: 0 -448px; }
.display-label { font-weight: bold;}

#roleList li li  { margin-left: 30px; }
#roleList li { list-style-type: none; }
#roleList h3 { display: inline;}
#roleList ol, ol#roleList { margin-left: 0;padding-bottom: 10px;padding-left: 0;}
#roleList>li { padding: 5px;}
/* css hack for adding background image to checkbox*/
#roleList .noBorder input.moduleChk{display: none;opacity: 0;position: absolute;z-index: 100;}
#roleList .noBorder input.moduleChk~label{background: url(/graphics/sprite-check.png) no-repeat 0 0;display: inline-block;height: 14px;margin: 0 5px 0 0;width: 12px;}
#roleList .noBorder input.moduleChk ~ label.inactive{background-position:-12px 0;}
/*end of hack*/

.inactive { color: #969696; }

.closed span.symbol, span.open { background: url( /graphics/plus.gif) no-repeat 0 0; }
.open span.symbol, span.closed { background: url( /graphics/minus.gif) no-repeat 0 0;  }
span.collapser { background-color: #fff; background-position: 2px 2px; border: solid 1px #797979; cursor: pointer; float: left; font-size: 12px;  height: 10px; line-height: 10px; margin: 2px 5px 0 15px; padding: 0; text-align: center; width: 10px;   }

.collapsList { margin: 0; padding: 0; }
.collapsList>li { list-style-type: none;  margin: 4px 0; position: relative;}
.collapsList>li>div { padding:  0 5px;}
.closed span.symbol, .open span.symbol { height: 7px; left: -10px; position: absolute; top: 8px; width: 7px; }

.collapsListHeader { background-color: #d7d7d7; cursor: pointer; height: 21px; line-height: 21px; margin: 0 0 1px 0; padding: 0 0 0 6px; }
.collapsList h3 { font-size: 12px; margin: 0; padding: 0; } 


.collapsList .bgBlue { background-color: #66ccff; font-weight: bold; }

.collapsChildBox { background-color: #f2f2f2; border-bottom: solid 2px #66ccff;  margin-top: 1px; padding-bottom: 2px;  }
.collapsChildBoxTop { border-bottom: solid 1px #66ccff; height: 17px; margin: 0 0 0 5px;}
.collapsChildBoxTop span { float: left; line-height: 17px;}
.collapsChildBoxTop a { float: right; line-height: 17px; margin: 0 5px 0 0; }
.collapsChildBox ol { margin: 8px 0 5px 5px; padding: 0;}
.collapsChildBox li { list-style-image: none; list-style-type: none; margin: 0 0 4px 0; padding: 0;}
.collapsChildBox li a { float: right; font-size: 0.6em; }


#companyMap, #companyMap ul { margin: 0; padding: 0;}

#companyMap li { list-style-type: none; }

#companyMap ul { float: left;}

#companyMap ul li { float: left;}

.mapBox {background-color: #f2f2f2; float:left;  font-size: 14px; height: 29px; margin-bottom: 7px; margin-right: 7px; padding: 10px; width: 159px; }
.mapBoxSister { background-color: #66ccff; }
.mapBoxCurrent { background-color: #339900; font-weight: bold; }

#accessTo { background-color: #f2f2f2; border-bottom: solid 2px #66ccff; margin-bottom: 20px; padding: 8px 20px 10px 32px;} 

.newUserButton { width: 215px; }

#userResponsibilities { margin: 0 0 10px 0; }

div.columns_wrapper_admin{
    width: 700px;
}

div.left_box_admin
{
    float: left;
    width: 45%; 
}

div.left_box_admin .stdNote li, div.right_box_admin .stdNote li
{
    padding-bottom: 0;
    padding-left: 0;
}

div.right_box_admin
{
    float: right;
    width: 45%;
}

.request_text {
    padding-top: 2px;
    
}

.request_inner {
    background-color: #F1F4F4;
    min-height: 64px;
    padding: 10px 10px 10px 84px;
    position: relative;
  
}
.bulletin_text {
    padding-top: 2px;
}

.bulletin_inner {
    min-height: 64px;
    padding: 10px 10px 10px 84px;
    position: relative;
}


#rightBar a.button, #rightBar a.pencil, #rightBar a.remove { text-align: left; width: 202px;  }
#rightBar div.buttonHolder { margin-bottom: 5px;}

.usersPopUp { background-color: #fff; min-height: 480px; min-width: 640px; overflow: scroll; padding: 20px;}

small.user { border-radius: 5px;float: right;margin-left: 10px;padding: 5px;}
small.disabledFalse {background-color: #98FFDA; }
small.disabledTrue {background-color: #FF8989; color: #e1e5e8 }
small.disabledFalse.Active{ color: #015bb5; font-weight: bold;}
small.disabledFalse.Registered{ color: #5bc6e8;}
/* add user and access profile popup*/
.addUserIcon { background: url(/graphics/admin-sprite-64.png) no-repeat 0 0; float: left; height: 64px; margin: 2px 8px 0 4px;    width: 64px;}
.addAccessProfileIcon {background: url(/graphics/admin-sprite-64.png) no-repeat 0 -256px; float: left; height: 64px; margin: 2px 8px 0 4px;    width: 64px;}


#popupWithRightBar .adminModalForm {
    background-color: #fff;
    clear: left;
    float: left;
    margin-bottom: 0;
    min-height: 214px;
    padding:10px 5px 0 5px;
    width: 437px;
}
.adminModalForm span.required{ margin-left: 0;}

.adminModalForm .validation-summary-errors{ clear: both;}
#helpTextAdmin{float: right;min-height: 208px;}

.adminModalForm input.txt{ width: 233px;}
.adminModalForm .field-validation-error{ float: right;margin-bottom: 4px;margin-right: 3px;margin-top: 25px;width: 19.2em;}
.adminModalForm .stdValidation{ height: auto;}
.adminModalForm .tooltipIcon{ right: -2px;}

#newUserForm input.txt{ width: 18.5em;}
.adminModalForm label{ width: 13em;}
#newUserForm .field-validation-error{ float: left; margin-bottom: 4px; margin-left: 13.85em;margin-top: 0;width: 18.25em;}

.modelPopupHelpText{ position: absolute; right: 5px; top: 0; width: 25%;z-index: -1;}
#areaForm .stdFormButtons{float: left; width: 56%;}
#areaForm select.sel{ margin-left: 8px;width: 288px;}
#areaForm input[type="text"]{ margin-left: 3.5px;}

/*------Support Banner--------*/
#banner{ padding-top: 10px;}
#banner label{ width: 130px;}
#banner .stdValidation{ display: block;}
#banner .field-validation-error{ display: block; float: left; margin-left: 133px; width: 247px;}
#activeBanner { margin-top: 10px;padding-bottom: 10px;}

#CustomerGroupForm label{ width: 130px;}
table.stdTable tr.Error td{ color: #FF0000}
.adminForm label{ width: 130px;}

#CustomerGroupForm .field-validation-error {
     
     
     left:-40px; 
     max-width: 385px; 
     top: 2px; 
}
#CustomerGroupForm .validation-summary-errors li{
     left:-40px; 
     max-width: 385px; 
     top: 2px; 
}

.uarCustomerSelect {
    margin-left: 10px;
    margin-right: 10px;   
}