﻿@{
    var searchAutocompleteId = "searchAutocomplete";
}
<style>
    li.search-autocomplete-item.ui-menu-item {
        width: 300px;
        max-width: 300px;
        margin: 0;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .ui-menu li.search-autocomplete-item.ui-menu-item .ui-menu-item-wrapper,
    .ui-menu li.search-autocomplete-item.ui-menu-item a {
        margin: 0;
        padding: 0;
    }
    .ui-menu li.search-autocomplete-item.ui-menu-item a > span {
        font-size: 11px;
        line-height: 11px;
        display: inline-block;
        width: 225px;
        margin-left: 65px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

</style>

<div id="searchbox">
    <span class="innerborder">
        <input id="@searchAutocompleteId" 
               class="ac_input_allsearch txt jq_watermark" 
               placeholder="Search..."
               type="text" 
               title="Please enter some term to search. Invalid characters: < > { } =" 
               name="search" 
               maxlength="100" />
    </span>
    <button id="allSearchButton" title="Search within 'Search form'">Search</button>
</div>
<script>
    $(function () {
        $("#allSearchButton").click(function() {
            var searchTermField = $(".ac_input_allsearch");
            var safeSearchTerm = getSafeSearchTerm(searchTermField.val());
            searchTermField.val(safeSearchTerm);
            window.location = '@Url.Action("Index", "Search")' + "?term=" + safeSearchTerm;
        });
        bindSearchAutocomplete('@searchAutocompleteId', '@Url.Action("GlobalSearch", "Search")');
    });
    //Search autocomplete
    function bindSearchAutocomplete(inputId, url) {
        var $searchAutocomplete = $('#' + inputId);
        var noResultsLabel = 'No results.';
        $searchAutocomplete.autocomplete({
            minLength: 3,
            source: function (request, response) {
                applySafeSearchTerm(request, this.element);
                $.ajax({
                    url: url,
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (!data.length) {
                            response([{ name: noResultsLabel, value: '' }]);
                        } else {
                            response($.map(data,
                                function (item) {
                                    return {
                                        name: item.name,
                                        value: item.name,
                                        type: item.entityType,
                                        referenceId: item.referenceId,
                                        url: item.url,
                                        rigName: item.rigName
                                    }
                                }));
                        }
                    }
                });
            },
            select: function (e, ui) {
                if (ui.item.name == noResultsLabel) {
                    e.preventDefault();
                }
                else {
                    $searchAutocomplete.val(ui.item.value);
                    if (ui.item.type == "TechnicalReport") {
                        var progressSpan = $('<span/>').addClass('progressbar').attr('style', 'height:24px;float:right;');
                        documentLinkClicked(e, $searchAutocomplete.parents('#searchbox'), ui.item.url, progressSpan, true);
                    } else {
                        window.location.href = ui.item.url;
                    }
                }
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var itemWrapper = $('<div />');
            var itemLink = $('<a />').attr('class', 'tinyMeta ' + getSearchItemClass(item.type) + ' noprint');
            itemLink.append("<span>" + item.name + "</span>");
            if (item.referenceId)
                itemLink.append("<span><b>" + item.referenceId + "</b></span>");
            if (item.rigName)
                itemLink.append("<span>" + item.rigName + "</span>");
            itemWrapper.append(itemLink);
            return $("<li class='search-autocomplete-item " + (ul[0].childElementCount % 2 == 0 ? '' : 'alt') + "'></li>").data("item.autocomplete", item)
                .attr('title', item.type + " - " + item.name)
                .append(itemWrapper)
                .appendTo(ul);
        };
    }
    function getSearchItemClass(itemType) {
        var iconClassName = '';
        switch (itemType) {
            case "Enquiry":
                iconClassName = 'metaRequest';
                break;
            case "ZaBulletin":
                iconClassName = 'metaBulletin';
                break;
            case "TechnicalReport":
            case "UserManual":
                iconClassName = 'metaDocument';
                break;
        }
        return iconClassName;
    }
</script>