﻿@using MyDrilling.Core.Entities.Enquiry
@using MyDrilling.Web.QueryParameters
@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Models.Rig.RigOverviewModel
@{
    ViewBag.Title = Model.RigData.Name;
    var drillDown = Context.GetDrillDownParameters();
    var roles = Context.GetCurrentUserRoles();
    var canCreate = roles.CanCreate(rigId: drillDown.RigId);
    var canCreateDraftOnly = roles.CanCreateDraftOnly(rigId: drillDown.RigId);

    var rigOnMoveType = (int)TypeInfo.Type.Other_RigMove;
}

@*<span style="visibility: hidden">@Html.ActionLink("accessDenied", "AccessDenied", new { rig = Model.GlobalId }, new { id = "noaccess", @class = "popup-ajax" })</span>*@
@if (Model.RigData.RigOnDowntime)
{
    <div class="BigMessage BigMessageAlert" id="RigOnDowntimeAsync" style="margin-top: 11px;">
        <div class="inner">
            <span class="MetaIcon metaDowntime"></span>
            <div id="DowntimeContainer">
                <div id="RigNote">
                    <h2>Rig on downtime</h2>
                    <p>On @Model.RigDowntimeDate @Model.RigData.Name was registered on downtime. We will do our utmost to keep you informed.</p>
                </div>
                @Html.ActionLink("Please see the latest status here", "Detail", "Enquiries", new { id = Model.RigDowntimeEnquiryId })
            </div>
        </div>
    </div>
}
<h2 id="rigCaption">@Model.RigData.Name</h2>
<div id="rig" class="analytics">
    <div style="float: left; vertical-align: top; width: 50%;">
        <div id="infoBoxes">
            <ul class="stdFocusNumber">
                <li class="focusNumberHoldsDetail z5" id="enquiresInfoBox">
                    <div class="stdFocusNumberInner">
                        <em><span class="total">@Model.NumberOfOpenEnquiries</span></em>
                        <span class="stdFocusNumberInfo">Enquiries open</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="float: right; vertical-align: central; width: 50%">
        <div class="detailsContainer" style="vertical-align: central">
            <div class="commonInfo" style="vertical-align: central">
                <ul class="stdItems">
                    <li><label>Owner:</label>&nbsp;@Model.RigData.Owner</li>
                    <li><label>Client:</label>&nbsp;@Model.RigData.Client</li>
                    <li><label>Type:</label>&nbsp;@Model.RigData.Type</li>
                    <li><label>Sector:</label>&nbsp;@Model.RigData.Sector</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div>
    @await Component.InvokeAsync("TaskList", new { isOverviewPage = true })
</div>
<div>
    @await Component.InvokeAsync("MyDrafts")
</div>

@*@if (userSession.HasAccessRight(Process.Request, ProcessRight.PreparationViewer))
    {
        <div>@Html.ActionAuthorize("MyDrafts", "User", Process.Request, ProcessRight.PreparationViewer, null)</div>
    }*@

<div>
    <h3 class="first">LatestActivities</h3>
    <table class="stdTable activitiesList">
        <thead>
            <tr>
                <th class="iconColumn">Type</th>
                <th class="oHide">What is new?</th>
                <th class="narrow-column right">Date time</th>
            </tr>
        </thead>
        <tbody id="activitiesListTableBody" class="linkAllRows">
            @await Component.InvokeAsync("LastActivities")
        </tbody>
    </table>
    <div class="clear">&nbsp;</div>
</div>

@section RightBar
{
    @if (canCreate || canCreateDraftOnly)
    {
        <div class="confirmation-buttons">
            <span>
                @Html.ActionLink("Report rig move", "Create", "Enquiries",
                    drillDown.ToRouteValueDictionary(new { type = rigOnMoveType }),
                    new { @class = "popup-ajax flagBtn", @style = "color:#555 !important;background-color:#d4d4d4;font-weight:400 !important;" })
            </span>
        </div>
    }

    <h3 class="headlineIcon" style="background-image: url(/graphics/rig_@(Model.RigData.RigOnDowntime ? "red" : "blue").png)">@Model.RigData.Name</h3>
    <dl class="according rightAccordion">
        @await Component.InvokeAsync("GroupedProducts")
    </dl>
}

<script>
    $(function () {
        $(".confirmation-buttons a.flagBtn").button({ icons: { primary: "ui-icon-flag" } });
    });
</script>


