﻿@using System.Reflection
@using Microsoft.AspNetCore.Mvc.Rendering
@using MyDrilling.Core.Entities.Bulletin
@using MyDrilling.Core.Entities.Documentation
@using MyDrilling.Core.Entities.Ricon
@using MyDrilling.Web.Models.Enquiries
@using MyDrilling.Web.QueryParameters
@using MyDrilling.Web.UserDetails
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] + " / MHWirth myDrilling")</title>
    <environment include="Development">
        <link rel="stylesheet" href="/css/Site.css" />
        <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/Site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="/css/Site.css" />
        <script src="/js/document-download.js"></script>
        <script src="/js/autocomplete.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/Site.min.css" asp-append-version="true" />
        <script src="/js/document-download.min.js" asp-append-version="true"></script>
        <script src="/js/autocomplete.min.js" asp-append-version="true"></script>
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript.Replace("https://az416426.vo.msecnd.net/scripts/b/ai.2.min.js", "https://js.monitor.azure.com/scripts/b/ai.2.min.js"))
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a id="akerSolutions" href="/" target="_blank" title="Home">
                <img src="/graphics/myDrilling.png?v=1.5.2" alt="myDrilling" title="myDrilling" width="250" height="81" />
            </a>

            <a id="myDrilling" href="https://www.mhwirth.com" title="Go to MHWirth">
                <img src="/graphics/MH_wirth_logo.png?v=1.5.2" alt="Go to MHWirth" title="Go to MHWirth" width="150" height="56" />
            </a>
        </div>

        <div>
            <div id="welcome"><em>@LanguageConstants.Welcome:</em> @Context.GetCurrentUser().GetDisplayName()<em>&nbsp; @Context.GetCurrentUser().RootCustomer?.Name </em></div>
            <ul id="nav-top">
                <li>
                    <a asp-controller="Account" asp-action="SignOut">Sign out</a>
                </li>
                <li>
                    @Html.ActionLink("My profile", "Index", "Userprofile", null, new { @class = "popup-ajax", @id = "userProfileLink" })
                </li>
                @if (Context.GetCurrentUserRoles().CanDoAdministration())
                {
                    <li>
                        <a href="/admin">Administration</a>
                    </li>
                }
                @*<li>@Html.ActionLink("Help", "Index", "Home", null, new { id = "firsttimeuser", @class = "popup-ajax" })</li>


                    

                    <li>
                        @Html.ActionLink("Analytics", "Index", "Home", null, new Dictionary<string, object> { { "class", "lnkAll" } })
                    </li>

                    <li>
                        @Html.ActionLink("Trends", "Index", "Home", null, new Dictionary<string, object> { { "class", "lnkAll" } })
                    </li>*@

                <li><a title="About MHWirth" href="https://www.mhwirth.com" target="_blank">About MHWirth</a></li>
            </ul>
        </div>


        <div id="drilldown">
            <a href="/" id="home" title="@LanguageConstants.Home">@LanguageConstants.Home</a>
            @if (ViewContext.RouteData.Values["controller"].ToString() != "UpgradeMatrix")
            {
                @await Component.InvokeAsync("DrillDownMenu")
            }
            @await Component.InvokeAsync("Search")
        </div>
        <div id="pendingTickets"></div>
        <div id="content" class="@((string.IsNullOrEmpty(ViewBag.OuterClass)) ? "subpage" : ViewBag.OuterClass)">
            <div id="main">
                <div id="mainContainer3">
                    <div id="mainContainer1">
                        @if (IsSectionDefined("RightBar"))
                        {
                            <div id="mainRight">
                                <div id="mainWithRightBar">
                                    <div id="mainWithRightBarInner">
                                        @RenderBody()
                                    </div>
                                </div>
                                <div id="rightBar">
                                    <div class="inner">
                                        @RenderSection("RightBar", false)
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        }
                        else
                        {
                            <div id="mainContent">
                                @RenderBody()
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="holdRight">
                    @await Html.PartialAsync("~/Views/Enquiries/_NewEnquirySection.cshtml")
                    <dl class="icon-singlepoint gradient">
                        <dt class="contactperson"></dt>
                        @await Component.InvokeAsync("Contacts")
                    </dl>
                </div>
            </div>
            <div id="left">
                <div id="leftMenu">
                    <ul id="mainMenu">
                        <li>
                            @Html.ActionLink("Overview", "Index", "Home",
                                Context.GetDrillDownParameters().ToRouteValueDictionary(),
                                new Dictionary<string, object>
                                {
                                    { "hidefocus", "true" },
                                    {"style", "outline:none;"},
                                    {"class", ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "current" : "" }
                                })
                        </li>
                        <li>
                            @Html.ActionLink(LanguageConstants.Enquiries, "Index", "Enquiries",
                                Context.GetDrillDownParameters().ToRouteValueDictionary(SortParameters.CreateDesc(ItemsViewModel.DateSort)),
                                new Dictionary<string, object>
                                {
                                    { "hidefocus", "true" },
                                    {"style", "outline:none;"},
                                    {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("Enquiries", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }
                                })
                        </li>
                        @if (Context.GetCurrentUserRoles().CanAccessBulletins(Context.GetDrillDownParameters().RigId))
                        {
                            <li>
                                @Html.ActionLink("Bulletins", "Index", "Bulletins",
                                    Context.GetDrillDownParameters().ToRouteValueDictionary(SortParameters.CreateDesc(MyDrilling.Web.Models.Bulletins.ItemsViewModel.IssuedDateSort)),
                                    new Dictionary<string, object>
                                    {
                                        { "hidefocus", "true" },
                                        {"style", "outline:none;"},
                                        {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("Bulletins", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }
                                    })

                            </li>
                        }
                        @if (Context.GetCurrentUserRoles().CanAccessDocumentation(Context.GetDrillDownParameters().RigId))
                        {
                            <li>
                                @Html.ActionLink("Documentation", "Index", "Documentation",
                                    Context.GetDrillDownParameters().ToRouteValueDictionary(),
                                    new Dictionary<string, object>
                                    {
                                        { "hidefocus", "true" },
                                        {"style", "outline:none;"},
                                        {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("Documentation", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }
                                    })
                            </li>
                        }
                        <li>
                            @Html.ActionLink("Tasks", "Index", "Tasks",
                                Context.GetDrillDownParameters().ToRouteValueDictionary(),
                                new Dictionary<string, object>
                                {
                                    { "hidefocus", "true" },
                                    {"style", "outline:none;"},
                                    {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("Tasks", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }
                                })
                        </li>
                        @if (Context.GetCurrentUserRoles().HasSparepartAccess())
                        {
                            <li>
                                @Html.ActionLink("Spare parts", "Index", "Spareparts",
                                    Context.GetDrillDownParameters().ToRouteValueDictionary(),
                                    new Dictionary<string, object>
                                    {
                                        { "hidefocus", "true" },
                                        {"style", "outline:none;"},
                                        {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("Spareparts", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }
                                    })
                            </li>
                        }
                        @if (Context.GetCurrentUserRoles().CanAccessRicon(Context.GetDrillDownParameters().RigId))
                        {
                            <li>
                                @Html.ActionLink("RiCon™", "Index", "Ricon",
                                    Context.GetDrillDownParameters().ToRouteValueDictionary(new { sortdirection = "asc", sortfield = "EquipmentSort", itemsprpage = 200 }),
                                    new Dictionary<string, object>
                                    {
                                        { "hidefocus", "true" },
                                        {"style", "outline:none;"},
                                        {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("Ricon", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }
                                    })
                            </li>
                        }
                        @if (Context.GetCurrentUserRoles().HasDrillConfigAccess())
                        {
                            <li>
                                @Html.ActionLink("DrillCon", "Index", "DrillConfig",
                                    null,
                                    new Dictionary<string, object>
                                    {
                                        { "hidefocus", "true" },
                                        {"style", "outline:none;"},
                                        {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("DrillConfig", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }
                                    })
                            </li>
                        }
                        @if (Context.GetCurrentUserRoles().HasDrillPerformAccess())
                        {
                            <li>
                                @Html.ActionLink("DRILLPerform™", "Index", "DrillPerform",
                                    null,
                                    new Dictionary<string, object>
                                    {
                                        { "hidefocus", "true" },
                                        {"style", "outline:none;"},
                                        {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("DrillPerform", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }
                                    })
                            </li>
                        }
                        <li>
                            @Html.ActionLink("Upgrade Matrix", "Index", "UpgradeMatrix",
                                null,
                                new Dictionary<string, object>
                                {
                                    { "hidefocus", "true" },
                                    {"style", "outline:none;"},
                                    {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("UpgradeMatrix", StringComparison.InvariantCultureIgnoreCase)
                                              && ViewContext.RouteData.Values["action"].ToString().Equals("Index", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }
                                })
                            @if (ViewContext.RouteData.Values["controller"].ToString() == "UpgradeMatrix" && Context.GetCurrentUserRoles().IsUpgradeMatrixAdmin())
                            {
                                <ul>
                                    <li>
                                        @Html.ActionLink("Customer", "Customer", "UpgradeMatrix",
                                            null, new Dictionary<string, object>
                                            {
                                                { "hidefocus", "true" }, {"style", "outline:none;padding-left: 30px;" },
                                                {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("UpgradeMatrix", StringComparison.InvariantCultureIgnoreCase)
                                                          && ViewContext.RouteData.Values["action"].ToString().Equals("Customer", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }

                                            })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Equipment", "Equipment", "UpgradeMatrix",
                                            null, new Dictionary<string, object>
                                            {
                                                { "hidefocus", "true" }, { "style", "outline:none;padding-left: 30px;" },
                                                {"class", ViewContext.RouteData.Values["controller"].ToString().Equals("UpgradeMatrix", StringComparison.InvariantCultureIgnoreCase)
                                                          && ViewContext.RouteData.Values["action"].ToString().Equals("Equipment", StringComparison.InvariantCultureIgnoreCase) ? "current" : "" }

                                            })
                                    </li>
                                </ul>
                            }
                        </li>
                        <li>
                            <a href="/Search" hidefocus="true" style="outline: none;">Search</a>
                        </li>
                    </ul>
                </div>


            </div>
            <div id="footer">
                <span style="float: right;">
                    @Html.ActionLink("Terms and conditions", "TermsAndConditions", "Home", null, new { @class = "popup-ajax", title = "Terms and conditions" })
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:support@mydrilling.com?subject=myDrilling:%20New%20ideas" title="Report new ideas">Report new ideas</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:support@mydrilling.com?subject=myDrilling%20support" title="Report a problem">Report a problem</a>
                </span>
                <p>
                    myDrilling &copy; @(DateTime.Now.Year + " MHWirth")&nbsp;&nbsp;Version&nbsp;@Assembly.GetExecutingAssembly().GetName().Version
                </p>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <script>
        $(function () {
            $(".popup-ajax").each(function () {
                addFancyBox($(this));
            });
            var sessionCheck = setInterval(function () {
                $.ajax({
                    url: "/home/issessionalive",
                    success: function (result) {
                        if (console)
                            console.log(result.message);
                    },
                    error: function (xhr) {
                        if (xhr.status == '408') {
                            clearInterval(sessionCheck);
                            var response = xhr.responseJSON;
                            var messageHtml = $('<div class="session-expired-message"><h2>' + response.message + '</h2></div>').appendTo($('body'));
                            messageHtml.fancybox({
                                'overlayOpacity': 0.92,
                                'centerOnScroll': true,
                                'afterClose': function () {
                                    location.reload();
                                    return;
                                }
                            }).trigger('click');
                        }
                    }
                });
            }, 20000);
        });

        function addFancyBox(element) {
            element.fancybox({
                'padding': 0,
                'overlayOpacity': 0.92,
                'centerOnScroll': true,
                'autoDimensions': true,
                'titleShow': false,
                'type': 'ajax',
                'onStart': function () {
                    $("#fancybox-close").addClass('fancyclose');
                }
            });
        }
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
