﻿@using Microsoft.AspNetCore.Html
@using MyDrilling.Web.QueryParameters
@model PagerViewModel

@{
    var actionName = Model.ActionName ?? ViewContext.RouteData.Values["action"].ToString();
    var controllerName = Model.ControllerName ?? ViewContext.RouteData.Values["controller"].ToString();

    var filter = Context.GetFilterParameters();
    var order = Context.GetOrderParameters();
    var drillDown = Context.GetDrillDownParameters();
    var pager = Context.GetPagerParameters();
    var pageCount = (int)Math.Ceiling((double)Model.TotalCount / pager.PageSize);
    var pagerInfo = pageCount > 1
        ? $"{LanguageConstants.PageNumber} {pager.CurrentPageNumber} of {pageCount}, {Model.TotalCount} {LanguageConstants.PageResults}"
        : $"{Model.TotalCount} {(Model.TotalCount == 1 ? LanguageConstants.PageResult : LanguageConstants.PageResults)}";

    var filterInfo = string.IsNullOrEmpty(filter.FilterField) || filter.FilterValue == HtmlExt.AllFilterValue
        ? string.Empty
        : $"{filter.FilterField}: {((SelectListItem[])ViewData[filter.FilterField]).First(x => x.Value == filter.FilterValue).Text}, ";

    var pageSizes = pager.GetAvailablePageSizes(Model.TotalCount);

    IHtmlContent GetPageLink(int pageNumber, string text)
    {
        return Html.ActionLink(text, actionName, controllerName, pager.ToRouteValueDictionary(filter, order, drillDown, Model.AdditionalQueryParams, new { page = pageNumber}));
    }

    IHtmlContent GetPageSizeLink(int pageSize)
    {
        return Html.ActionLink(pageSize.ToString(), actionName, controllerName, pager.ToRouteValueDictionary(filter, order, drillDown, Model.AdditionalQueryParams, new { itemsprpage = pageSize, page = 1 }));
    }

    IEnumerable<int> GetPages()
    {
        int pages = pageCount;

        int start = 1;
        int end = pages;

        if (end > 15)
        {
            start = pager.CurrentPageNumber - 5;
            if (start < 1)
            {
                start = 1;
            }

            end = start + 9;
            if (end >= pages)
            {
                start = pages - 9;
                end = pages;
            }
        }

        return Enumerable.Range(start, end - start + 1);
    }
}

<dl id="paging2" class="paging">
    <dt>
        @filterInfo
        @pagerInfo
    </dt>
    @if (Model.TotalCount > 0)
    {
        @if (pageCount > 1)
        {
            <dd>
                <ul>
                    @if (pager.CurrentPageNumber > 2)
                    {
                        <li>@GetPageLink(1, 1.ToString())</li>
                    }
                    @if (pager.CurrentPageNumber != 1)
                    {
                        <li>@GetPageLink(pager.CurrentPageNumber - 1, "<")</li>
                    }
                    @foreach (var pageNo in GetPages())
                    {
                        @if (pageNo == pager.CurrentPageNumber)
                        {
                            <li><span>@pageNo</span></li>
                        }
                        else
                        {
                            <li>@GetPageLink(pageNo, pageNo.ToString())</li>
                        }
                    }

                    @if (pager.CurrentPageNumber != pageCount)
                    {
                        <li>@GetPageLink(pager.CurrentPageNumber + 1, ">")</li>
                    }
                    @if (pager.CurrentPageNumber < pageCount - 1)
                    {
                        <li>@GetPageLink(pageCount, ">|")</li>

                    }
                </ul>
            </dd>
        }
        @if (pageSizes.Length > 0)
        {
            <dd>
                @LanguageConstants.ItemsPerPage: 
                @foreach (var pageSize in pageSizes)
                {
                <span class="page-size-link">@GetPageSizeLink(pageSize)</span>
                }
            </dd>
        }
    }
</dl>
       

