﻿<div class="popup">
    <h2><a href="javascript:$.fancybox.close()" alt="myDrilling" title="myDrilling">myDrilling&#8482;</a></h2>
    <a class="GotoAker@(ViewBag.GotoAkerCss)" alt="Provider" title="Provider">Provider</a>
    <div class="popupContent">
        <div class="bigTopBox dropshadow">
            <div class="bigTopBoxFrame">
                <div class="bigTopBoxInnerFrame">
                    <div id="userProfilePopupWithRightBar">
                        <div class="requestFormHeader">
                            @RenderSection("Header", false)
                        </div>
                        <div id="middle" class="clearfix">
                            <div class="inner userProfilePopupLeftColumn">
                                <div class="userProfilePopupForm">
                                    @RenderBody()
                                </div>
                            </div>
                            <div class="userProfilePopupRightColumn">
                                @RenderSection("RightColumn", false)
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>