﻿@model MyDrilling.Web.Models.User.FindUsersDialogViewModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}
    <div style="width: 660px;">
        <h2>@Model.Title</h2>

        <ul class="stdForm">
            <li>
                <input class="txt ui-autocomplete-input" id="searchInput" placeholder="You can find user by Name or UPN" type="text" style="width: 100%;" autocomplete="off"/>
            </li>
            <li id="selectedUsers">
            </li>
        </ul>

        <div class="buttonsPane">
            <input type="button" id="btnFudSelectUser" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all" value="@LanguageConstants.Ok" />
            <input data-fancybox-close type="button" id="btnFudCancel" class="button ui-button ui-widget ui-state-default ui-corner-all" value="@LanguageConstants.Cancel" />
        </div>
    </div>

<script>
    $(function() {
        $('#searchInput').autocomplete({
            source: function(request, response) {
                applySafeSearchTerm(request, this.element);
                $.ajax({
                    url: "@Html.Raw(Model.FindUsersUrl)",
                    dataType: "json",
                    data: {
                        startsWith: request.term
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            select: function (event, ui) {
                if (@Model.SingleUserMode.ToString().ToLower()) {
                    $('#selectedUsers').empty();
                }

                if ($('#selectedUsers input[data-userid=' + ui.item.text + ']').length === 0) {
                    var $userBtn = $('<input>').attr({
                        "type": "button",
                        "value": ui.item.value + '   X',
                        "data-userid": ui.item.text,
                        "class": "user",
                        "title": "Click to remove"
                    });

                    $userBtn.click(function() {
                        $(this).remove();
                    });

                    $('#selectedUsers').append($userBtn);
                }

                this.value = "";
                return false;
            }
        });

        $('#btnFudSelectUser').click(function () {
            var users = $('#selectedUsers input').map(function (i, item) { return $(item).attr('data-userid'); }).get();
            window.parent.document.dispatchEvent(new CustomEvent('@Model.EventName', { 'detail': { users: users } }));
            $('[data-fancybox-close]').click();
        });
    });
</script>

