﻿@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Rig.RigsViewModel
@{
    var altRow = 0;
}
<style>
    #FacilityPager a {
        border: none;
    }
</style>
<table class="stdTable">
    <thead>
        <tr>
            <th>
                @LanguageConstants.Name
            </th>
            <th>
                @LanguageConstants.Owner
            </th>
            <th>
                @LanguageConstants.Type
            </th>
            <th>
                @LanguageConstants.Sector
            </th>
        </tr>
    </thead>
    <tbody class="linkAllRows">
        @foreach (var rigModel in Model.Rigs)
        {
            <tr@(Css.AltClass(altRow++))>
        <td class="@(!rigModel.RigOnDowntime ? "rigIcon" : "rigIconDown") mainLinkCell">
            @Html.ActionLink(rigModel.Name, "Index", "Rigs",
                Context.GetDrillDownParameters().ToRouteValueDictionary(new { rig = rigModel.ReferenceId }))
        </td>
        <td>
            @rigModel.Owner
        </td>
        <td>
            @rigModel.Type
        </td>
        <td>
            @rigModel.Sector
        </td>
        </tr>
    }
        </tbody>
    </table>
<div id="FacilityPager">
    @await Html.PartialAsync("_Pager", new PagerViewModel(Model.RigsTotalCount, "RigsOverview", "Rigs"))
</div>

<script type="text/javascript">
    $(function () {
        bindRigPager();
    });

    function bindRigPager() {
        $(".rigs-overview .paging li a, .rigs-overview .paging .page-size-link a").off('click').on('click', function (e) {
            e.preventDefault();
            var href = $(this).attr('href');
            $('#MainArea').load(href, function() {
                bindRigPager();
            });
        });
    }
</script>
