﻿@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Menu.DrillDownMenuViewModel
@{
    var drillDown = Context.GetDrillDownParameters();
    var pager = Context.GetPagerParameters();
    var newPager = pager.PageSize != PagerParameters.PageSizes[0] ? new { page = 1, itemsprpage = pager.PageSize } : null;
    var order = Context.GetOrderParameters();
    var newOrder = string.IsNullOrEmpty(order.SortField) ? null : order;
    var searchParams = Context.GetSearchParameters().ToRouteValueDictionary();
    var hasRigClass = Model.HasRig ? "yes" : "no";
    var selectedRig = Model.HasRig ? Model.SelectedRig : "All rigs";
    var hasProductClass = Model.HasProduct ? "yes" : "no";
    var selectedProduct = Model.HasProduct ? Model.SelectedProductName : "All products";
    var hasEquipmentClass = Model.HasEquipment ? "yes" : "no";
    var selectedEquipment = Model.HasEquipment ? Model.SelectedEquipment : "Equipment";
    var equipmentAutocompleteId = "filterEquipmentAutocomplete";
    var equipmentTypeAutocompleteId = "filterEquipmentTypeAutocomplete";


    int rigFirstColumn = 0;
}
<style>
    .innerborder {
        /*width: 300px;*/
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<label id="lookingAt">@LanguageConstants.FilterBy</label>

<dl class="according lightAccordion @hasRigClass">
    <dt class="dtOuter rigAccordion">
        <span class="outerborder" title="@Model.SelectedRig">
            <span class="innerborder @hasRigClass">
                @selectedRig
            </span>
        </span>
        @if (Model.HasRig)
        {
            <span class="lnkAllBorder">
                @Html.ActionLink("All", Model.CurrentAction, Model.CurrentController,
                    drillDown.ToRouteValueDictionary(newPager, newOrder, searchParams, new { rig = "", equipment = "", equipmentType = "" }),
                    new Dictionary<string, object> { { "class", "lnkAll" } })
            </span>
        }
    </dt>
    <dd class="dropshadow">
        @Html.ActionLink("All", Model.CurrentAction, Model.CurrentController,
            drillDown.ToRouteValueDictionary(newPager, newOrder, searchParams, new { rig = "", equipment = "", equipmentType = "" }),
            new Dictionary<string, object> { { "class", "lnkAllDrp" } })
        <dl id="rigDropDown">
            <dt>
                <ul class="dropdown" id="rigDropdown">
                    @foreach (var rigType in Model.TypedRigs)
                    {
                        <li@(Css.FirstColumnClass(rigFirstColumn++, 4))>
                            <h4>@rigType.Key</h4>
                            <ul>
                                @foreach (var rig in rigType.Value)
                                {
                                    <li>
                                        @Html.ActionLink(rig.RigName, Model.CurrentAction, Model.CurrentController,
                                            drillDown.ToRouteValueDictionary(
                                                newPager, newOrder, searchParams,
                                                new { rig = rig.RigReferenceId, equipment = "", equipmentType = "" }),
                                            null)
                                    </li>
                                }
                            </ul>
                            </li>
                        }
            </ul>
        </dt>
        <dd></dd>
    </dl>
</dd>
</dl>


<dl class="according lightAccordion @hasProductClass">
    <dt class="dtOuter productAccordion">
        <span class="outerborder" title="@Model.SelectedProduct">
            <span class="innerborder @hasProductClass">
                @selectedProduct
            </span>
        </span>
        @if (Model.HasProduct)
        {
            <span class="lnkAllBorder">
                @Html.ActionLink("na", Model.CurrentAction, Model.CurrentController,
                    drillDown.ToRouteValueDictionary(newPager, newOrder, 
                        new { EquipmentType = "", Equipment = "" }),
                    new Dictionary<string, object> { { "class", "lnkAll" } });
            </span>
        }
    </dt>
    <dd class="dropshadow">
        @Html.ActionLink("All Products", Model.CurrentAction, Model.CurrentController,
            drillDown.ToRouteValueDictionary(new { EquipmentType = "", Equipment = "" }),
            new Dictionary<string, object> { { "class", "lnkAllDrp" } })
        <input id="@equipmentTypeAutocompleteId" class="ac_input_equipmenttype txt jq_watermark" type="text" title="Find product" data-watermark="Find product" /><br />
        <br />
        <dl class="according productDropDown">
            @await Component.InvokeAsync("GroupedProducts")
        </dl>
    </dd>
</dl>

@if (Model.HasProduct)
{
    <dl class="according lightAccordion @hasEquipmentClass">
        <dt class="dtOuter equipmentAccordian">
            <span class="outerborder" title="@selectedEquipment">
                <span class="innerborder @hasEquipmentClass">
                    @selectedEquipment
                </span>
            </span>
            @if (Model.HasEquipment)
            {
                <span class="lnkAllBorder">
                    @Html.ActionLink("All", Model.CurrentAction, Model.CurrentController,
                        drillDown.ToRouteValueDictionary(new { Equipment = "" }),
                        new Dictionary<string, object> { { "class", "lnkAll" } })
                </span>
            }
        </dt>
        <dd class="dropshadow">
            <dl id="equipmentDropDown">
                <ul class="dropdown">
                    <li>
                        <ul>
                            @foreach (var itemViewModel in Model.EquipmentForSelectedProduct)
                            {
                       
                                <li><a href="@Url.Action(Model.CurrentAction, Model.CurrentController, 
                                                 drillDown.ToRouteValueDictionary(new { Equipment = itemViewModel.EquipmentReferenceId, Rig = itemViewModel.RigReferenceId }))">
                                    @(itemViewModel.EquipmentName)
                                </a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </dl>
        </dd>
    </dl>
}
else
{
    <div class="fastselect @hasEquipmentClass">
        <div class="dtOuter">
            <span class="outerborder">
                <span class="innerborder @hasEquipmentClass" id="drilldownEquipment">
                    <input id="@equipmentAutocompleteId" name="@equipmentAutocompleteId" class="ac_input_equipment txt @hasEquipmentClass jq_watermark"
                           type="text" value="@selectedEquipment" data-initalval="@selectedEquipment" />
                </span>
            </span>
            @if (Model.HasEquipment)
            {
                <span class="lnkAllBorder">
                    @Html.ActionLink("All", Model.CurrentAction, Model.CurrentController,
                        drillDown.ToRouteValueDictionary(new { Equipment = ""}),
                        new Dictionary<string, object> { { "class", "lnkAll" } })
                </span>
            }
        </div>
    </div>
}

<script>
    var openAccordion = true;

    $(function () {
        createAccordions(".according dt");
        bindFilterAutocomplete();
    });

    function createAccordions(selector) {
        $(selector).on('click', function () {
            if (openAccordion) {
                var dd = $(this).next("dd");

                if (dd.is(":hidden")) {

                    $(this).siblings("dd").slideUp();
                    $(this).siblings("dt").removeClass("active");
                    $(this).parent().siblings("dl").children("dt").removeClass("active");
                    $(this).parent().siblings("dl").children("dd").slideUp();
                    $(this).addClass("active");
                    dd.slideDown("fast");
                } else {
                    $(this).removeClass("active");
                    dd.slideUp('fast');
                }
            }
        });
        $(selector + " .lnkAll").click(function () { openAccordion = false; });
    }

    function bindFilterAutocomplete() {
        var $equipmentAutocomplete = $('#@equipmentAutocompleteId');
        var $equipmentTypeAutocomplete = $('#@equipmentTypeAutocompleteId');
        var rigId = @(drillDown.HasRig ? drillDown.RigId : 0);
        var rigReferenceId = '@(drillDown.HasRig ? drillDown.Rig : "")';
        var hasProduct = @Model.HasProduct.ToString().ToLower();
        var selectedEquipmentVal = '@selectedEquipment';
        var noResultsLabel = 'No results.';
        //equipment
        if (!hasProduct) {
            $equipmentAutocomplete.on('focus', function () {
                if($(this).val() == selectedEquipmentVal)
                    $(this).val('');
            });
            $equipmentAutocomplete.on('focusout', function () {
                if ($(this).val() == '')
                    $(this).val(selectedEquipmentVal);
            });
            $equipmentAutocomplete.autocomplete({
                minLength: 2,
                source: function(request, response) {
                    applySafeSearchTerm(request, this.element);
                    $.ajax({
                        url: "@Url.Action("FilterSearch", "Equipment")",
                        dataType: "json",
                        data: {
                            term: request.term,
                            rigId: rigId
                        },
                        success: function(data) {
                            if (!data.length) {
                                response([{ label: noResultsLabel, value: '' }]);
                            } else {
                                response($.map(data,
                                    function(item) {
                                        return {
                                            label: item.name,
                                            value: item.name,
                                            referenceId: item.referenceId,
                                            product: item.product,
                                            rigId: item.rigId,
                                            rigName: item.rigName
                                        }
                                    }));
                            }
                        }
                    });
                },
                focus: function (event, ui) {
                    $(".ui-autocomplete > li").attr("title", ui.item.label + (ui.item.rigName ? ", " + ui.item.rigName : "") + (ui.item.referenceId ? ", Equipment reference: " + ui.item.referenceId : ""));
                },
                select: function(e, ui) {
                    if (ui.item.label == noResultsLabel) {
                        e.preventDefault();
                    }
                    else {
                        $equipmentAutocomplete.val(ui.item.value);

                        var url = "/@Model.CurrentController/@Model.CurrentAction?equipment=" + ui.item.referenceId;

                        if (ui.item.product) {
                            url += "&equipmenttype=" + ui.item.product;
                        }

                        if (ui.item.rigId) {
                            url += "&rig=" + ui.item.rigId;
                        }

                        window.location.href = url;
                    }
                }
            });
        }


        //equipment type
        $equipmentTypeAutocomplete.autocomplete({
            minLength: 2,
            source: function(request, response) {
                applySafeSearchTerm(request, this.element);
                $.ajax({
                    url: "@Url.Action("FilterSearchEquipmentType", "Equipment")",
                    dataType: "json",
                    data: {
                        term: request.term,
                        rigId: rigId
                    },
                    success: function (data) {
                        if (!data.length) {
                            response([{ label: noResultsLabel, value: '' }]);
                        } else {
                            response($.map(data, function(item) {
                                return {
                                    label: item.productName + ' (' + item.productCode + ')',
                                    value: item.productCode
                                }
                            }));
                        }
                    }
                });
            },
            select: function (e, ui) {
                if (ui.item.label == noResultsLabel) {
                    e.preventDefault();
                } else {
                    $equipmentTypeAutocomplete.val(ui.item.label);

                    var url = "/@Model.CurrentController/@Model.CurrentAction?equipmenttype=" + ui.item.value;
                    if (rigId) {
                        url += "&rig=" + rigReferenceId;
                    }

                    window.location.href = url;
                }
            }
        });
    }
</script>