﻿
@{
    ViewData["Title"] = "Access Forbidden";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>

<p>You don't have access to this page. Please contact <a href="mailto:support@mydrilling.com?subject=Request%20access" title="Request access">myDrilling administrator</a>.</p>
