﻿@using MyDrilling.Web.Controllers
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Task.MenuViewModel

@{
    var drillDown = Context.GetDrillDownParameters();
}

<ul class="stdTabs">
    <li>
        @Html.ActionLink("Subscribed", nameof(TasksController.Index), drillDown.ToRouteValueDictionary(),
            new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(TasksController.Index) ? "current" : "noprint" } })
    </li>
    <li>
        @Html.ActionLink("Notified", nameof(TasksController.NotifiedTasks), drillDown.ToRouteValueDictionary(),
            new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(TasksController.NotifiedTasks) ? "current" : "noprint" } })
    </li>
</ul>