﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Task.MenuViewModel
@{
    ViewData["Title"] = "Tasks";
}

<div>
    <div style="display: inline-block;">
        <h2>Tasks</h2>
    </div>
    <div>
        @await Html.PartialAsync("_Menu", Model)
        <div id="TabPane">
            <div id="TabPaneInner">
                @await Component.InvokeAsync("TaskList", new { isOverviewPage = false })
            </div>
        </div>
        <br />
    </div>
</div>

