﻿@model MyDrilling.Web.Models.Userprofile.MyNotificationsViewModel

@if (Model.NotificationOptions.Any())
{
    <div id="MyNotifications">
        <h4>Notify me directly by e-mail</h4>
        @using (Html.BeginForm("SubmitMyNotifications", "Userprofile", FormMethod.Post, new { @id = "submitNotificationsForm" }))
        {
            var groupIds = new List<string>();
            <ul>
                @for (var i = 0; i < Model.NotificationOptions.Count; i++)
                {
                <li style="@(Model.NotificationOptions[i].WrapperStyle)">
                    @{
                        if (Model.NotificationOptions[i].Options.Count > 1)
                        {
                            if (string.IsNullOrWhiteSpace(Model.NotificationOptions[i].GroupId))
                            {
                                <input type="checkbox"
                                       class="notification-parent"
                                       asp-for="@Model.NotificationOptions[i].Selected"
                                       checked="@Model.NotificationOptions[i].Selected" />
                            }
                            <label asp-for="@Model.NotificationOptions[i].Selected">
                                @Model.NotificationOptions[i].OptionLabel
                            </label>
                        }
                        else
                        {
                            <input type="checkbox"
                                   asp-for="@Model.NotificationOptions[i].Selected"
                                   checked="@Model.NotificationOptions[i].Selected" />
                            <label asp-for="@Model.NotificationOptions[i].Selected">
                                @Model.NotificationOptions[i].OptionLabel
                            </label>
                        }
                        <input type="hidden" asp-for="@Model.NotificationOptions[i].OptionValue" />
                        <input type="hidden" asp-for="@Model.NotificationOptions[i].OptionLabel" />
                        <input type="hidden" asp-for="@Model.NotificationOptions[i].NotifyMeType" />
                    }

                    @{if (Model.NotificationOptions[i].Options.Count > 0)
                        {
                            <div class="userProfileOptionList">
                                <ul style="padding-left: 30px">
                                    @if (!string.IsNullOrWhiteSpace(Model.NotificationOptions[i].GroupId) && !groupIds.Contains(Model.NotificationOptions[i].GroupId))
                                    {
                                        groupIds.Add(Model.NotificationOptions[i].GroupId);
                                        <li>
                                            <input type="checkbox"
                                                   id="@(Model.NotificationOptions[i].GroupId)"
                                                   onclick="updateOptionGroup(this, '@(Model.NotificationOptions[i].GroupId)')"
                                                   class="notificationOptionGroup"
                                                   checked />All @(Model.NotificationOptions[i].GroupName)
                                        </li>
                                    }
                                    @for (var j = 0; j < Model.NotificationOptions[i].Options.Count; j++)
                                    {

                                        <li style="@(Model.NotificationOptions[i].WrapperStyle)">
                                            <input type="checkbox"
                                                   class="@Model.NotificationOptions[i].GroupId"
                                                   onclick="updateGroupHeader(this, '@(Model.NotificationOptions[i].GroupId ?? "")')"
                                                   asp-for="@Model.NotificationOptions[i].Options[j].Selected"
                                                   checked="@Model.NotificationOptions[i].Options[j].Selected" />
                                            <label asp-for="@Model.NotificationOptions[i].Options[j].Selected">
                                                @Model.NotificationOptions[i].Options[j].OptionLabel
                                            </label>
                                            <input type="hidden" asp-for="@Model.NotificationOptions[i].Options[j].OptionValue" />
                                            <input type="hidden" asp-for="@Model.NotificationOptions[i].Options[j].OptionLabel" />
                                            <input type="hidden" asp-for="@Model.NotificationOptions[i].Options[j].NotifyMeType" />
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                </li>
                }
            </ul>
            <input type="button" class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all notifyButton" value="Save notification settings" onclick=" submitUserProfileItem('submitNotificationsForm', 'myNotificationListItem'); " />
        }
    </div>
    <script type="text/javascript">
        function updateOptionGroup(groupCheckbox, groupId) {
            if (!groupCheckbox.checked)
                return;
            var groupOptionCheckboxes = $("." + groupId);
            for (var j = 0; j < groupOptionCheckboxes.length; j++) {
                groupOptionCheckboxes[j].checked = false;
            }
        }

        function updateGroupHeader(optionCheckbox, groupId) {
            if (groupId == null || groupId === "")
                return;
            var groupCheckbox = $("#" + groupId);
            if (groupCheckbox.length === 0 || !optionCheckbox.checked)
                return;
            groupCheckbox[0].checked = false;
        }

        function initOptionGroups() {
            var groupCheckboxes = $(".notificationOptionGroup");
            for (var i = 0; i < groupCheckboxes.length; i++) {
                var groupId = groupCheckboxes[i].id;
                var groupOptionCheckboxes = $("." + groupId);
                for (var j = 0; j < groupOptionCheckboxes.length; j++) {
                    if (!groupOptionCheckboxes[j].checked)
                        continue;
                    groupCheckboxes[i].checked = false;
                }
            }
            var parentCheckboxes = $('.notification-parent');
            console.log('num of parents - ' + parentCheckboxes.length);
            for (var i = 0; i < parentCheckboxes.length; i++) {
                var parentCb = parentCheckboxes[i];
                var optionsForParent = $(parentCb).siblings('.userProfileOptionList').find('input[type=checkbox]');
                if (!$(parentCb).is(':checked')) {
                    optionsForParent.attr('disabled', 'disabled');
                }
                if (optionsForParent.filter(':checked').length > 0) {
                    $(parentCb).attr('disabled', 'disabled');
                }
                console.log('num of options for parent - ' + optionsForParent.length);
                $(parentCb).off('click').on('click', function () {
                    console.log('parent clicked - checked:' + $(this).is(':checked'));
                    if ($(this).is(':checked')) {
                        optionsForParent.removeAttr('disabled');
                    } else {
                        optionsForParent.attr('disabled','disabled');
                        optionsForParent.removeAttr('checked');
                    }
                });
                $(optionsForParent).off('click').on('click', function () {
                    var optionChecked = $(this).is(':checked');
                    console.log('option clicked - checked:' + optionChecked);
                    if (optionChecked) {
                        $(parentCb).attr('disabled', 'disabled');
                    } else {
                        //check if all sibling checkboxes are unchecked, then disabled can be removed
                        var numOfCheckedSiblings = optionsForParent.filter(':checked');
                        console.log('number of checked options:' + numOfCheckedSiblings.length);
                        if (numOfCheckedSiblings.length == 0) {
                            $(parentCb).removeAttr('disabled');
                        }
                    }
                });
            }
        }
        $(document).ready(function () {
            initOptionGroups();
        });
    </script>
}