﻿@{
    ViewData["Title"] = "Index";
}

<div id="react-root"></div>
<!-- root element -->
<div style="display: none;">
    <a id="react-enquiry-link" class="popup-ajax" href="#"></a>
</div>

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/dist/main/css/index.css" />
    <script type="text/javascript" src="~/dist/main/index.js"></script>
</environment>

<environment exclude="Development">
    <link rel="stylesheet" type="text/css" href="~/dist/main/css/index.css" asp-append-version="true" />
    <script type="text/javascript" src="~/dist/main/index.js" asp-append-version="true"></script>
</environment>