﻿
@{
    ViewData["Title"] = "Switch Browser";
}

<h2>Switch Browser</h2>
<p>Upgrade matrix feature is not supported in Internet Explorer.</p>
<p>Please switch to some other modern browser (Google Chrome, Microsoft Edge, ...) in order to access Upgrade Matrix.</p>

