﻿@using MyDrilling.Core.Entities.Documentation
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Search.AdvancedSearchViewModel
@{
    var drillDown = Context.GetDrillDownParameters();
    var pager = Context.GetPagerParameters();
    var searchParams = Context.GetSearchParameters();
    var altRow = 0;
}

<h2>Search page</h2>

@using (Html.BeginForm("SubmitSearch", "Search", Context.GetDrillDownParameters().ToRouteValueDictionary(pager), FormMethod.Post))
{
    <input class="ac_input_allsearchadv txt jq_watermark"
           placeholder="Search..."
           type="text"
           title="Please enter some term to search. Invalid characters: < > { } ="
           asp-for="@Model.SearchTerm"
           maxlength="100"/>
    <input class="button buttonSubmit ui-button ui-widget ui-state-default ui-corner-all" id="allSearchButtonAdv" type="submit" value="Search"/>

    
    <div class="filters-container" >
        <span class="filters-corner-image">&nbsp;</span>
        <h3>Filters</h3>
        <div id="filters_content">
            <ul style="padding-left: 20px;">
                <li>
                    <div>
                        <input type="checkbox"
                               asp-for="@Model.IncludeEnquiries"
                               checked="@Model.IncludeEnquiries"/>
                        <label asp-for="@Model.IncludeEnquiries">Enquiries</label>
                    </div>
                </li>
                <li>
                    <div>
                        <input type="checkbox"
                               asp-for="@Model.IncludeBulletins"
                               checked="@Model.IncludeBulletins"/>
                        <label asp-for="@Model.IncludeBulletins">Bulletins</label>
                    </div>
                </li>
                <li>
                    <div>
                        <input type="checkbox"
                               asp-for="@Model.IncludeDocumentation"
                               checked="@Model.IncludeDocumentation"/>
                        <label asp-for="@Model.IncludeDocumentation">Documentation</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <table class="stdTable">
        <thead>
        <tr>
            <th>Type</th>
            <th>Title</th>
            @if (!drillDown.HasRig)
            {
                <th>Rig</th>
            }
        </tr>
        </thead>
        <tbody class="linkAllRows">
            @if (Model.SearchItems != null && Model.SearchItems.Any())
            {
                foreach (var rowModel in Model.SearchItems)
                {
                    <tr @Css.AltClass(altRow++)>
                        <td style="width: 7%">
                            <span class="print"></span>
                            <a class="tinyMeta @rowModel.EntityType.SearchResultItemCss() noprint" href="@rowModel.Url" title=""></a>
                        </td>
                        <td class="oHide mainLinkCell">
                            <div class="metaTable">
                                <a href="@rowModel.Url" hidefocus="true" style="outline: medium none;" class="@(rowModel.EntityType == nameof(TechnicalReport) ? "download-link main-link" : "")">
                                    <h5 class="blueFont">@(rowModel.Name)</h5>
                                </a>
                                <p>
                                    <strong class="activityItemIsOpenTrue">@rowModel.ReferenceId</strong>
                                </p>
                            </div>
                        </td>
                        @if (!drillDown.HasRig)
                        {
                            <td>@rowModel.RigName</td>
                        }
                    </tr>
                }
            }
            else if (Model.TotalCount.HasValue && Model.TotalCount.Value == 0)
            {
                <tr><td colspan="2">No results found.</td></tr>
            }
        </tbody>
    </table>
    <div class="clear"></div>
    @if (Model.TotalCount > 0)
    {
        @await Html.PartialAsync("_Pager", new PagerViewModel((int) Model.TotalCount, additionalQueryParams: searchParams))
    }
}
<script>
    $(function () {
        $(".ac_input_allsearchadv").val('@Model.SearchTerm');
        $(".filters-corner-image").click(function () {
            $("#filters_content").toggle();
            $(".filters-corner-image").toggleClass("open-image");
        });
        $("#allSearchButtonAdv").click(function () {
            var searchTermField = $(".ac_input_allsearchadv");
            var safeSearchTerm = getSafeSearchTerm(searchTermField.val());
            searchTermField.val(safeSearchTerm);
        });
        $("#searchTermFieldAdv").keypress(function (event) {
            if (event.which === 13)
                $("#allSearchButtonAdv").click();
        });
        $('a.download-link').on('click', function (e) {
            e.preventDefault();
            if ($(this).hasClass('main-link')) {
                documentLinkClicked(e, $(this));
            } else {
                var linkSibling = $(this).parent().next().find('.download-link.main-link');
                if (linkSibling)
                    linkSibling[0].click();
            }
        });
    });
</script>
