﻿@model MyDrilling.Web.Areas.Admin.Models.Facility.AddCustomerViewModel
@{
    ViewData["Title"] = "Add Customer for facility";
    Layout = "~/Areas/Admin/Views/Shared/_PopupLayout.cshtml";
}

@using (Html.BeginForm("AddCustomerForFacility", "Facilities", null, FormMethod.Post, null, new { @id = "add-customer-form" }))
{
    <h2>Add customer for facility</h2>
    @Html.HiddenFor(m => m.IsOwner)
    @Html.HiddenFor(m => m.FacilityId)
<ul class="stdForm">
    <li>
        @if (Model.IsOwner)
        {
            <label asp-for="RootOwnerId">Owner Customer</label>
            <select style="width: 300px;" asp-for="@Model.RootOwnerId" asp-items="@Model.AvailableRootCustomers" id="select-customer" class="sel"></select>
        }
        else
        {
            <label asp-for="RootOperatorId">Operator Customer</label>
            <select style="width: 300px;" asp-for="@Model.RootOperatorId" asp-items="@Model.AvailableRootCustomers" id="select-customer" class="sel"></select>
        }
    </li>
    <li>
        <input type="submit" value="Save" class="button ui-button buttonSubmit" />
    </li>
</ul>
}
<script>
    $(function () {
        $("#add-customer-form").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    alert(data.message);
                    window.location.reload(true);
                },
                error: function (data) {
                    if (data.status === 401)
                        window.location = '/admin/home/noaccess';
                    alert(data.responseJSON.message);
                }
            });
        });
    });
</script>
