﻿@model MyDrilling.Web.Areas.Admin.Models.Facility.AddSamViewModel
@{
    ViewData["Title"] = "Add SAM for facility";
    Layout = "~/Areas/Admin/Views/Shared/_PopupLayout.cshtml";
}

@using (Html.BeginForm("AddSamForFacility", "Facilities", null, FormMethod.Post, null, new { @id = "add-sam-form" }))
{
    <h2>Add SAM for facility</h2>
    @Html.HiddenFor(m => m.UserId, new {@id = "sam-user-id"})
    @Html.HiddenFor(m => m.FacilityId)
    <ul class="stdForm">
        <li>
            <label>Select SAM</label>
            <input class="txt ui-autocomplete-input" id="searchInput" placeholder="You can find user by Name or UPN" type="text" autocomplete="off" />
        </li>
        <li>
            <input type="submit" value="Save" class="button ui-button buttonSubmit" id="add-user" />
        </li>
    </ul>
}
<script>
    $(function () {
        var noResultsLabel = 'No results.';
        $('#searchInput').autocomplete({
            source: function (request, response) {
                applySafeSearchTerm(request, this.element);
                $.ajax({
                    url: "/admin/facilities/searchsam",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (!data.length) {
                            response([{ label: noResultsLabel, value: '' }]);
                        } else {
                            response($.map(data, function (item) {
                                return {
                                    label: item.upn + ' (' + item.firstName + ' ' + item.lastName + ')',
                                    value: item.upn,
                                    id: item.id
                                }
                            }));
                        }
                    }
                });
            },
            select: function (e, ui) {
                if (ui.item.label == noResultsLabel) {
                    e.preventDefault();
                }
                else {
                    $('#sam-user-id').val(ui.item.id);
                }
            }
        });

        $("#add-sam-form").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    alert(data.message);
                    window.location.reload(true);
                },
                error: function (data) {
                    if (data.status === 401)
                        window.location = '/admin/home/noaccess';
                    alert(data.responseJSON.message);
                }
            });
        });
    });
</script>
