﻿@model MyDrilling.Web.Areas.Admin.Models.Facility.FacilityDetailViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #mainContainer1 {
        min-height: 720px;
    }
    h4 {
        padding-bottom: 10px;
    }
    .form-inline {
        display: inline;
    }
    .myProfileDetails {
        margin-bottom: 20px;
    }
    .myProfileDetails > div {
        font-size: 14px;
        font-weight: bold;
    }
</style>
<h1>Facility detail</h1>

<div class="adminHeader">
    <h1 class="line">
        @Model.Name
    </h1>
</div>

    <div class="myProfileDetails">
        <div class="imageColumn">
            <img src="@(Url.Content("/graphics/default-rig-img.png?v=1.5.0") )">
        </div>
        <div class="stdNote infoColumn">
            <ul>
                <li>@Html.LabelFor(m => m.ReferenceId) @Html.DisplayFor(m => m.ReferenceId)</li>
                <li>@Html.LabelFor(m => m.OwnerName) @Html.DisplayFor(m => m.OwnerName)</li>
                <li>@Html.LabelFor(m => m.OwnerReferenceId) @Html.DisplayFor(m => m.OwnerReferenceId)</li>
                <li>@Html.LabelFor(m => m.Sector) @Html.DisplayFor(m => m.Sector)</li>
            </ul>
        </div>
    </div>

<div class="myProfileDetails">
        <h4>
            SAM information
            @if (Model.Sam == null)
            {
                <a href="@Html.Raw(Url.Action("GetAddSamDialog", "Facilities", new { facilityId = Model.Id }))" class="md-button popup-ajax" style="font-size: 14px;">+ Set SAM for facility</a>
            }
            else
            {
                @using (Html.BeginForm("RemoveSamForFacility", "Facilities", new { id = Model.Id }, FormMethod.Post, null, new {@class= "form-inline"}))
                {
                    <input type="submit" value="Remove SAM for facility" class="md-button remove-sam-button" />
                }
            }
        </h4>
        @if (Model.Sam != null)
        {
            <div>
                <div class="imageColumn">
                    <img src="@(!string.IsNullOrEmpty(Model.Sam.ImageUrl) ? Model.Sam.ImageUrl : Url.Content("/graphics/default-usr-img.png?v=1.5.0") )">
                    @*<img src="@(Url.Content("/graphics/default-usr-img.png?v=1.5.0") )">*@
                </div>
                <div class="stdNote infoColumn">
                    <ul>
                        <li>@Html.LabelFor(m => m.Sam.DisplayName) @Html.DisplayFor(m => m.Sam.DisplayName)</li>
                        <li>@Html.LabelFor(m => m.Sam.PhoneNumber) @Html.DisplayFor(m => m.Sam.PhoneNumber)</li>
                        <li>@Html.LabelFor(m => m.Sam.MobileNumber) @Html.DisplayFor(m => m.Sam.MobileNumber)</li>
                        <li>@Html.LabelFor(m => m.Sam.EmailAddress) @Html.DisplayFor(m => m.Sam.EmailAddress)</li>
                    </ul>
                </div>
            </div>
        }
    </div>


    <div class="myProfileDetails">
        <h3>Customers</h3>
        <table class="stdTable">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Customer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="alt">
                    <td>Owner</td>
                    <td>@(string.IsNullOrEmpty(Model.RootOwnerName) ? "-" : Model.RootOwnerName)</td>
                    <td>
                        @if (!Model.RootOwnerId.HasValue)
                        {
                            <a href="@Html.Raw(Url.Action("GetAddCustomerDialog", "Facilities", new { facilityId = Model.Id, isOwner = true }))" class="button ui-button md-button popup-ajax">+ Set owner customer</a>
                        }
                        else
                        {
                            @using (Html.BeginForm("RemoveCustomerForFacility", "Facilities", new { facilityId = Model.Id, isOwner = true }, FormMethod.Post))
                            {
                                <input type="submit" value="Remove owner customer" class="button ui-button md-button remove-customer-button" />
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>Operator</td>
                    <td>@(string.IsNullOrEmpty(Model.RootOperatorName) ? "-" : Model.RootOperatorName)</td>
                    <td>
                        @if (!Model.RootOperatorId.HasValue)
                        {
                            <a href="@Html.Raw(Url.Action("GetAddCustomerDialog", "Facilities", new { facilityId = Model.Id, isOwner = false }))" class="button ui-button md-button popup-ajax">+ Set operator customer</a>
                        }
                        else
                        {
                            @using (Html.BeginForm("RemoveCustomerForFacility", "Facilities", new { facilityId = Model.Id, isOwner = false }, FormMethod.Post))
                            {
                                <input type="submit" value="Remove operator customer" class="button ui-button md-button remove-customer-button" />
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>




<script>
    $(function () {
        $('.remove-sam-button').on('click', function (e) {
            e.preventDefault();
            var submitButton = $(this);
            if (confirm('Are you sure you want to remove SAM for facility?')) {
                submitButton.parent().submit();
            }
        });
        $('.remove-customer-button').on('click', function (e) {
            e.preventDefault();
            var submitButton = $(this);
            if (confirm('Are you sure you want to remove customer for facility?')) {
                submitButton.parent().submit();
            }
        });
    });

</script>