﻿@using Microsoft.AspNetCore.Routing
@using MyDrilling.Core
@using MyDrilling.Web.Areas.Admin.Models.Facility
@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Areas.Admin.Models.Facility.FacilitiesViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var altRow = 0;
    var roles = Context.GetCurrentUserRoles();
}
<style>
    .start-letter {
        font-size: 14px;
        margin-right: 5px;
    }
    .start-letter.selected {
        font-weight: bold;
        text-decoration: underline;
    }
</style>
<h1>
    Facility list
</h1>
<ul class="stdForm">
    <li>
        <label>Search</label>
        <input class="txt ui-autocomplete-input" id="searchInput" placeholder="You can find facility by Name or ReferenceId" type="text" style="width: 23%;" autocomplete="off" />
    </li>
    <li>
        @Html.ActionLink("ALL", "Index", "Facilities", new { startsWith = ""}, new { @class = "start-letter" + (string.IsNullOrEmpty(Model.StartsWith) ? " selected" : "")})
        @foreach (var letter in Model.StartLetters)
        {
            @Html.ActionLink(letter, "Index", "Facilities", new {startsWith = letter}, new {@class = "start-letter" + (Model.StartsWith == letter ? " selected" : "") })
        }
    </li>
</ul>

<div id="TabPane">
    <div id="TabPaneInner">
        <table class="stdTable access-profiles">
            <thead>
                <tr class="bordered">
                    <th>@Html.SortLink("Name", FacilitiesViewModel.NameSort, additionalParams: new { startsWith = Model.StartsWith })</th>
                    <th>@Html.SortLink("Owner", FacilitiesViewModel.OwnerSort, additionalParams: new { startsWith = Model.StartsWith })</th>
                    <th>@Html.SortLink("Type", FacilitiesViewModel.RigTypeSort, additionalParams: new { startsWith = Model.StartsWith })</th>
                    <th>@Html.SortLink("Sector", FacilitiesViewModel.SectorSort, additionalParams: new { startsWith = Model.StartsWith })</th>
                </tr>
            </thead>
            <tbody class="linkAllRows">
                @foreach (var rowModel in Model.Items)
                {
                    <tr @(Css.AltClass(altRow++)) id="@altRow">
                        <td>
                            @Html.ActionLink(rowModel.Name.ToCamelCaseWithRomanNumerals(), "Detail", "Facilities",
                                new RouteValueDictionary(new { id = rowModel.Id }), new { @class = "document-link" })
                        </td>
                        <td>@rowModel.OwnerName</td>
                        <td>@rowModel.RigType</td>
                        <td>@rowModel.Sector</td>
                    </tr>
                }
            </tbody>
        </table>
        @await Html.PartialAsync("_Pager", new PagerViewModel(Model.TotalCount, additionalQueryParams: new {startsWith = Model.StartsWith}))
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var noResultsLabel = 'No results.';
        $('#searchInput').autocomplete({
            source: function(request, response) {
                applySafeSearchTerm(request, this.element);
                $.ajax({
                    url: "/admin/facilities/search",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (!data.length) {
                            response([{ label: noResultsLabel, value: '' }]);
                        } else {
                            response($.map(data, function(item) {
                                return {
                                    label: item.name + ' (' + item.referenceId + ')',
                                    value: item.name + ' (' + item.referenceId + ')',
                                    id: item.id
                                }
                            }));
                        }
                    }
                });
            },
            select: function(e, ui) {
                if (ui.item.label == noResultsLabel) {
                    e.preventDefault();
                }
                else {
                    var url = "/admin/facilities/detail/" + ui.item.id;
                    window.location.href = url;
                }
            }
        });
    });
</script>
