﻿@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Equipment.GroupedProductsViewModel
@{
    var drillDown = Context.GetDrillDownParameters();
}

@foreach (var productGroup in Model.GroupedProducts)
{
    <dt><span>» </span>@(!string.IsNullOrWhiteSpace(productGroup.Key) ? productGroup.Key : "Misc")</dt>
    <dd>
        <ul class="productDropDownGroup">
            @foreach (var v in productGroup.Value)
            {
                <li>
                    @Html.ActionLink(v.ProductName + "(" + v.ProductCode + ")", Model.CurrentAction, Model.CurrentController,
                        drillDown.ToRouteValueDictionary(new { EquipmentType = v.ProductCode, Equipment = "" }), null)
                </li>
            }

        </ul>
    </dd>
}
