﻿@model MyDrilling.Web.Models.Spareparts.PriceViewModel
<dl class="stdNote">
    <dd>
        <ul>
            <li>
                <label>@LanguageConstants.UnitPrice:</label>@(!string.IsNullOrEmpty(Model.Currency) ? $"{Model.Currency} {Model.Price}" : LanguageConstants.NotAvailable)
            </li>
        </ul>
    </dd>
</dl>
