﻿@model MyDrilling.Web.Models.Spareparts.DetailViewModel
@{
    ViewData["ActivePage"] = "SpareParts";
    ViewBag.Title = Model.Description;
}


<div class="metaContainer">
    <div class="stdMeta metaSparepart"></div>
    <div class="meataRequestFields fLeft">
        <h2>@Model.Description</h2>
        <ul>
            <li><label>@LanguageConstants.PartNumber:</label> @Model.MaterialNo</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

@if (Model.ShowCustomers)
{
    using (Html.BeginForm("RequestPrice", "Spareparts", FormMethod.Post, new { id = "requestPriceForm", enctype = "multipart/form-data" }))
    {
        <div>
            <label>Customer:</label>
            @Html.DropDownList("customerId", Model.Customers, new { @class = "sel customerSelect" })
            <input type="button"
                   class="button ui-button ui-widget ui-state-default ui-corner-all"
                   value="Check"
                   id="checkPrice"
                   onclick="submitPriceForm()" />
        </div>
    }
}

<div id="PriceAndAvailability">
    <div id="PriceAndAvailabilityProgressStatus" style="display: none;">
        <p class=" progressbar noprint">Loading price and availability...</p>
    </div>
    <div id="PriceAndAvailabilityResult" style="display: none;"></div>
    <div id="PriceAndAvailabilityError" style="display: none;">
        <dl class="stdNote">
            <dd>
                <ul>
                    <li>
                        <label>@LanguageConstants.UnitPrice:</label>@LanguageConstants.NotAvailable
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>



@if (Model.ShowCustomers)
{
    <div id="sparepartMultipleCustomersInfo">
        <p>@LanguageConstants.SparePartsMultipleCustomersInfo</p>
        <p>@LanguageConstants.SparePartsSelectCustomerHowTo</p>
    </div>
}

<script type="text/javascript">
    var customerId = '';

    function getPrice(requestId, repeat) {
        var url = '/spareparts/getprice?requestId=';
        setTimeout(function() {
            if (repeat > 0) {
                repeat--;
                $.ajax({
                    type: "GET",
                    url: url + requestId,
                    error: function(xhr, status, error) {
                        $("#PriceAndAvailabilityError").show();
                        $("#PriceAndAvailabilityProgressStatus").hide();
                    },
                    success: function(response, status, xhr) {
                        if (xhr.status === 202) {
                            getPrice(requestId, repeat);
                        } else if (xhr.status === 200) {
                            $('#PriceAndAvailabilityResult').html(response);
                            $("#PriceAndAvailabilityResult").show();
                            $("#PriceAndAvailabilityProgressStatus").hide();
                        } else {
                            alert(xhr.status);
                            $("#PriceAndAvailabilityError").show();
                            $("#PriceAndAvailabilityProgressStatus").hide();
                        }
                    }
                });
            } else {
                $("#PriceAndAvailabilityError").show();
                $("#PriceAndAvailabilityProgressStatus").hide();
            }
            }, 3000);
    }

    function submitPriceForm() {
        var $form = $('#requestPriceForm');
        var formUrl = $form.attr("action") + '?referenceId=' + '@Model.ReferenceId' + '&customerid=' + $('#customerId').val();
        $.ajax({
            type: "POST",
            url: formUrl,
            data: $form.serialize(),
            error: function(xhr, status, error) {},
            success: function (response) {
                $("#PriceAndAvailabilityProgressStatus").show();
                $("#PriceAndAvailabilityResult").hide();
                getPrice(response, 5);
            }
        });
    };

</script>

