﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using MyDrilling.Web.Models.Spareparts
@model MyDrilling.Web.Models.Spareparts.ItemsViewModel
@{
    var altRow = 0;
}

<div>
    <div>
        <div style="display: inline-block;">
            <h2>@LanguageConstants.Spareparts</h2>
        </div>
    </div>
    <div>
        <div id="TabPane">
            <div id="TabPaneInner">
                <table class="stdTable">
                    <thead>
                    <tr>
                        <th>@Html.SortLink(LanguageConstants.PartNumber, ItemsViewModel.PartNumberSort)</th>
                        <th>@Html.SortLink(LanguageConstants.Title, ItemsViewModel.TitleSort)</th>
                    </tr>
                    </thead>
                    <tbody class="linkAllRows">
                    @if (Model.Items.Any())
                    {
                        foreach (var rowModel in Model.Items)
                        {
                            <tr@(Css.AltClass(altRow++))>
                                <td>
                                    @(rowModel.MaterialNo)
                                </td>
                                <td class="oHide mainLinkCell">
                                    @Html.ActionLink(rowModel.Description, "Detail", "Spareparts", new { id = rowModel.Id })
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
                @await Html.PartialAsync("_Pager", new PagerViewModel(Model.TotalCount))
            </div>
        </div>
        <br />
    </div>
</div>