﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AppNoAccess</title>
</head>
<body>
    <p>You don't have access to myDrilling application. Please contact <a href="mailto:support@mydrilling.com?subject=Request%20access" title="Request access">myDrilling administrator</a>.</p>
</body>
</html>
