﻿@{
    ViewData["Title"] = "Home Page";
}
@using MyDrilling.Web.QueryParameters
<h2>@LanguageConstants.HomeOverview</h2>
<div id="overview" class="rigs-overview">
    <div id="MainArea">
        @await Component.InvokeAsync("RigsOverview")
    </div>
</div>

<div class="clearLeft">
    @await Component.InvokeAsync("TaskList", new { isOverviewPage = true })
</div>
<div>
    @await Component.InvokeAsync("MyDrafts")
</div>

@*@if (Model.ShowMyDrafts)
    {
        <div class="clearLeft">@Html.ActionAuthorize("MyDrafts", "User", Process.Request, ProcessRight.PreparationViewer, null)</div>
    }*@

<div class="clearLeft">
    <h3 class="first">LatestActivities</h3>
    <table class="stdTable activitiesList">
        <thead>
            <tr>
                <th class="iconColumn">Type</th>
                <th class="oHide">What is new?</th>
                <th class="narrow-column right">Date time</th>
            </tr>
        </thead>
        <tbody id="activitiesListTableBody" class="linkAllRows">
            @await Component.InvokeAsync("LastActivities")
        </tbody>
    </table>
    <div class="clear">&nbsp;</div>
</div>