﻿

@{
    ViewBag.Title = "Accept terms and conditions";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="outerBox">
    <div id="userProfile" class="wideBox dropshadow">
        <div class="boxHeader">
            <h1 class="twoLines">Terms and conditions</h1>
        </div>

        <div class="termsAndConditions">
            <h2>myDrilling&#8482; end user terms</h2>
            <p>
                By confirming your acceptance of these terms, you have entered into a
                contract with @LanguageConstants.Provider with the content set out below.
            </p>
            <p>
                Your use of the services provided through myDrilling.com (the “Service”) is
                subject to and governed by the terms and conditions agreed between your employer
                or contractor company (“Company”) and @LanguageConstants.Provider. The end-user terms set out
                below apply in addition to those terms.
            </p>
            <p>
                @LanguageConstants.Provider may change and/or add to these end-user terms from time to time and
                will provide electronic notice of any change. Your continued use of the Service
                after such change or addition to these end-user terms constitutes your agreement
                to such changed or additional terms.
            </p>
            <p>
                By using the Service, you will get access to information and material that is the
                property of @LanguageConstants.Provider and its licensors (“@LanguageConstants.Provider Proprietary Information”).
                @LanguageConstants.Provider Proprietary Information may include (without limitation) technical
                information, product information, trade secrets, materials protected by copyright,
                design rights or other intellectual property rights.
            </p>
            <p>
                You agree not to use @LanguageConstants.Provider Proprietary Information for other purposes than
                for the performance of your work duties for Company. You shall ensure that the
                confidentiality and integrity of the information is upheld, and to observe adequate
                protection of the information. This includes the protection of information against
                access by unauthorised persons.
            </p>
            <p>
                Your right to use the Service is personal to you, and you are not permitted to write
                down your username and/or password or allow anyone else (including without limitation
                your colleagues or co-workers) to use your username and/or password without having
                obtained @LanguageConstants.Provider’ prior written consent.
            </p>
            <p>
                You shall access the Service only with the access technologies made available to you
                by @LanguageConstants.Provider, and in no event shall you attempt to access the Service by any
                other means including without limitation by circumventing access control mechanisms
                embedded in the Service. You shall only access those parts of the Service for which
                you have been granted authorization by @LanguageConstants.Provider.
            </p>
            <p>
                You shall not use the Service for malicious purposes, including without limitation:
                <ul>
                    <li>
                        penetration attempts (“hacking” or “cracking”) of external or internal systems
                    </li>
                    <li>
                        unauthorised electronic eavesdropping on or surveillance of internal
                        (LAN or WAN) network traffic
                    </li>
                    <li>
                        discriminatory (on the grounds of sex, political, religious or sexual
                        preferences or orientation), or derogatory remarks or material on computer
                        or communications media; this includes but is not limited to sending
                        offending material as embedded or attached information in e-mails or
                        other electronic communication systems
                    </li>
                </ul>
            </p>
            <p>
                You shall adhere to the security measures and precautions specified by
                @LanguageConstants.Provider from time to time.
            </p>
            <p>
                While the data, information and/or features of the Service may assist you in
                making decisions with respect to timing and/or extent of maintenance of goods
                or equipment or compliance with laws, regulations, classification requirements
                and/or other requirements applicable to Company, you shall not rely on the Service
                for such purposes. The data, information and features provided through the Service
                are only meant to furnish you with tools to perform your own assessments and actions.
            </p>
            <p>
                If you fail to abide by and comply with these end-user terms @LanguageConstants.Provider may
                suspend or terminate your right to use the Service immediately without prior notice
                and you may be financially and/or criminally liable for your acts and/or omissions.
            </p>
            <p>
                This website uses cookies so that we can offer you a personalized portal. Without
                the information stored in these cookies you would not be able to log on to the myDrilling&#8482; portal.
                By accepting the terms & conditions for myDrilling&#8482; you agree with the usage of
                cookies for this site.
                Please refer to <a href="http://ec.europa.eu/cookies/index_en.htm" target="_blank">http://ec.europa.eu/cookies/index_en.htm</a> for more information regarding cookies.
            </p>
        </div>
    </div>
</div>

