﻿@model MyDrilling.Web.Models.Bulletins.ImplementedRowViewModel
@{
    @*todo impl confirmation*@
    var infoColSpan = Model.CurrentUserCanConfirmBulletin ? "1" : "2";
}

<td>@(Model.Caption)</td>
<td>
    @*todo impl equipment details*@
    @Html.ActionLink(Model.EquipmentName, "Detail", "Equipment", new { ReferenceId = Model.EquipmentReferenceId })
</td>

<td colspan="@infoColSpan">
    @if (Model.Implemented)
    {
        <div>
            @if (Model.NotApplicable)
            {
                <span><strong>Confirmed not relevant</strong></span><br />
            }
            else
            {
                <span><strong>Confirmed implemented</strong></span><br />
            }
        </div>
    }
    else
    {
        <div>&nbsp;</div>
    }
</td>
