﻿@using MyDrilling.Web.Controllers
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Bulletins.MenuViewModel

@{
    var drillDown = Context.GetDrillDownParameters();
}

<ul class="stdTabs">
    <li>
        @Html.ActionLink(LanguageConstants.HseAlertsAndBulletins, nameof(BulletinsController.HseAndAlerts), drillDown.ToRouteValueDictionary(),
            new Dictionary<string, object>
            {
                { "class", Model.CurrentActionName == nameof(BulletinsController.HseAndAlerts) 
                           || Model.CurrentActionName == nameof(RiconController.Index) ? "current" : "noprint" }
            })
    </li>
    <li>
        @Html.ActionLink(LanguageConstants.ProductBulletins, nameof(BulletinsController.Product), drillDown.ToRouteValueDictionary(),
            new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(BulletinsController.Product) ? "current" : "noprint" } })
    </li>
</ul>