﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Routing
@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Models.Bulletins.DetailViewModel
@{
    var altRow = 0;
    var timeZone = Context.GetCurrentUser().GetTimeZoneInfo();
    ViewBag.Title = Model.Title;
    ViewData["ActivePage"] = "Bulletins";
}

<div class="overflowHidden">
    <div class="metaContainer">
        <div class="stdMeta metaBulletin"></div>
        <div class="meataRequestFields">
            <div class="metaFields fLeft">
                <h2>@Model.Description</h2>
                <ul>
                    <li><label>@LanguageConstants.Id:</label> @Model.Title</li>
                    <li><label>@LanguageConstants.Type:</label> @Model.Type</li>
                </ul>
                <ul class="fLeft">
                    <li><label>@LanguageConstants.IssuedDate:</label> @Model.IssuedDate.StdShortDate(timeZone)</li>
                    @Html.ActionLink(Model.Title, "RequestDownload", "Bulletins", new RouteValueDictionary(new { id = Model.Id, rigId = Model.RigId }), new { @class = "file icon-pdf document-link" })
                </ul>
            </div>
        </div>
    </div>
    <div class="clearLeft"></div>

    <div id="implementedOnRelevantEq">
        @if (Model.ImplementedRows.Any())
        {
            <h3>@Model.RelevantFor</h3>
            <table class="stdTable">
                <tbody class="stdTableBodyWithoutHeader">
                    @foreach (var rowModel in Model.ImplementedRows)
                    {
                        <tr @(Css.AltClass(altRow++)) id=altRow>
                            @await Html.PartialAsync("_ImplementedRow", rowModel)
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>