﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using MyDrilling.Web.Models.Bulletins
@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Models.Bulletins.ItemsViewModel

@{
    ViewData["Title"] = LanguageConstants.AlertsAndBulletins;
    var timeZone = Context.GetCurrentUser().GetTimeZoneInfo();
    var altRow = 0;
}

<div>
    <div>
        <div style="display: inline-block;">
            <h2>@LanguageConstants.AlertsAndBulletins</h2>
        </div>
    </div>
    <div>
        @await Html.PartialAsync("_Menu", Model.Menu)
        <div id="TabPane">
            <div id="TabPaneInner">
                <table class="stdTable">
                    <thead>
                        <tr>
                            <th style="width: 15px;"></th>
                            <th>@Html.SortLink(LanguageConstants.Id, ItemsViewModel.IdSort)</th>
                            <th>@Html.SortLink(LanguageConstants.Description, ItemsViewModel.DescriptionSort)</th>
                            <th class="containsFilter filter">
                                @Html.SortLink(LanguageConstants.Type, ItemsViewModel.TypeSort)
                                @Html.FilterColumn(ItemsViewModel.TypeFilter)
                            </th>
                            <th class="rightAlignColumn">@Html.SortLink(LanguageConstants.IssuedDate, ItemsViewModel.IssuedDateSort)</th>
                            <th class="rightAlignColumn">@Html.SortLink("Modified", ItemsViewModel.ModifiedDateSort)</th>
                            <th>@Html.SortLink(LanguageConstants.Rig, ItemsViewModel.RigSort)</th>
                        </tr>
                    </thead>
                    <tbody class="linkAllRows">
                        @foreach (var rowModel in Model.Items)
                        {
                            <tr @(Css.AltClass(altRow++)) id="@altRow">
                                <td class="nowrap">
                                    @Html.ActionLink(" ", "RequestDownload", "Bulletins", new { id = rowModel.Id, rigId = rowModel.RigId }, new { @class = "file icon-pdf document-link" })
                                </td>
                                <td>
                                    @Html.ActionLink(rowModel.Title, "Detail", "Bulletins", new { id = rowModel.Id, rigId = rowModel.RigId })
                                </td>
                                <td class="oHide">
                                    @rowModel.Description
                                </td>
                                <td>@rowModel.Type.Name</td>
                                <td class="rightAlignColumn"> @rowModel.IssuedDate</td>
                                <td class="rightAlignColumn"> @rowModel.ModifiedDate</td>
                                <td>@rowModel.RigName</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @await Html.PartialAsync("_Pager", new PagerViewModel(Model.TotalCount))
            </div>
        </div>
        <br />
    </div>
</div>