﻿@using MyDrilling.Web.Controllers
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Documentation.MenuViewModel

@{
    var drillDown = Context.GetDrillDownParameters();
}

<ul class="stdTabs">
    <li>
        @Html.ActionLink("User manuals", nameof(DocumentationController.Index), drillDown.ToRouteValueDictionary(),
            new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(DocumentationController.Index) ? "current" : "noprint" } })
    </li>
    <li>
        @Html.ActionLink("Technical reports", nameof(DocumentationController.TechnicalReports), drillDown.ToRouteValueDictionary(),
            new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(DocumentationController.TechnicalReports) ? "current" : "noprint" } })
    </li>
</ul>