﻿
@{
    ViewData["Title"] = "TechnicalReports";
}

@using System.Collections.Specialized
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Routing
@using MyDrilling.Core.Entities
@using MyDrilling.Web.Models.Documentation
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Documentation.TechnicalReportsViewModel
@{
    ViewData["Title"] = "Documentation";
    var altRow = 0;
    var drillDown = Context.GetDrillDownParameters();
}

<div>
    <div style="display: inline-block;">
        <h2>Documentation</h2>
        <p>The document(s) shown here is to the best of our knowledge, the latest version(s) available. However, since there may have been unreported changes, our recommendation is to verify the documentation on a case-by-case basis.</p>
    </div>
    <div>
        @await Html.PartialAsync("_Menu", Model.Menu)
        <div id="TabPane">
            <div id="TabPaneInner">
                <table class="stdTable cbm">
                    <thead>
                    <tr class="bordered">
                        <th style="width: 200px">@Html.SortLink("Document Id", TechnicalReportsViewModel.ReferenceIdSort)</th>
                        <th>@Html.SortLink("Title", TechnicalReportsViewModel.TitleSort)</th>
                        <th>@Html.SortLink("Equipment type", TechnicalReportsViewModel.EquipmentTypeSort)</th>
                        @if (!drillDown.HasRig)
                        {
                            <th>@Html.SortLink("Rig", TechnicalReportsViewModel.RigSort)</th>
                        }
                        <th>@Html.SortLink("Date", TechnicalReportsViewModel.DateSort)</th>
                    </tr>
                    </thead>
                    <tbody class="linkAllRows">
                    @foreach (var rowModel in Model.Items)
                    {
                        <tr @(Css.AltClass(altRow++)) id="@altRow">
                            <td class="referenceId">
                                @Html.ActionLink(rowModel.ReferenceId, "RequestDownload", "Documentation",
                                    new RouteValueDictionary( new{ id = rowModel.Id, docType = DocumentType.TechnicalReports} ), new { @class = "document-link" })</td>
                            <td>@rowModel.Description</td>
                            <td>@rowModel.EquipmentType</td>
                            @if (!drillDown.HasRig)
                            {
                                <td>@rowModel.RigName</td>
                            }
                            <td>@rowModel.DocumentDate</td>
                        </tr>
                    }
                    </tbody>
                </table>
                @await Html.PartialAsync("_Pager", new PagerViewModel(Model.TotalCount))
            </div>
        </div>
        <br />
    </div>
</div>