﻿@using Microsoft.AspNetCore.Routing
@using MyDrilling.Core.Entities
@model MyDrilling.Web.Models.Documentation.UserManualViewModel
@{
    ViewData["Title"] = "User Manual Detail";
    var altRow = 0;
}


<h1>User manual detail</h1>

<div class="metaContainer">
    <h2>Related Document</h2>
    <table class="stdTable tableTopBorder">
        <thead>
            <tr>
                <th style="width: 200px">
                    DocumentId
                </th>
                <th>Title</th>
                <th class="containsFilter filter">
                    Type
                </th>
                <th class="containsFilter filter">
                    Discipline
                </th>
                <th class="small-column rightAlignColumn">
                    Date
                </th>
            </tr>
        </thead>
        <tbody class="linkAllRows">
            <tr class="alt">
                <td class="mainLinkCell">
                    @if (Model.IsSharePoint)
                    {
                        @Html.ActionLink(Model.ReferenceId, "DownloadSharePointDocument", "Documentation",
                            new RouteValueDictionary(new {id = Model.Id}), new {@class = "document-link-sp"})
                    }
                    else
                    {
                        @Html.ActionLink(Model.ReferenceId, "RequestDownload", "Documentation",
                            new RouteValueDictionary(new {id = Model.Id, docType = DocumentType.UserManual}), new {@class = "document-link"})
                    }
                </td>
                <td>
                    @Model.Description
                </td>
                <td>
                    @Model.EquipmentType
                </td>
                <td>
                    @Model.Discipline
                </td>
                <td class="shortDate">
                    @Model.DocumentDate
                </td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<h2>Master Document</h2>
<div id="PagedUserManualDetail">
    <table class="stdTable tableTopBorder">
        <thead>
            <tr>
                <th style="width: 200px">
                    Document Id
                </th>
                <th>Title</th>
                <th class="containsFilter filter">
                    Type
                </th>
                <th class="containsFilter filter">
                    Discipline
                </th>
                <th class="small-column rightAlignColumn">
                    Date
                </th>
            </tr>
        </thead>

        <tbody class="linkAllRows">
            @foreach (var documentationRowViewModel in Model.RelatedDocuments)
            {
                <tr@(Css.AltClass(altRow++))>
            <td class="mainLinkCell">
                @if (documentationRowViewModel.IsSharePoint)
                {
                    @Html.ActionLink(documentationRowViewModel.ReferenceId, "DownloadSharePointDocument", "Documentation",
                        new RouteValueDictionary(new { id = documentationRowViewModel.Id }), new { @class = "document-link-sp" })
                }
                else
                {
                    @Html.ActionLink(documentationRowViewModel.ReferenceId, "RequestDownload", "Documentation",
                        new RouteValueDictionary(new { id = documentationRowViewModel.Id, docType = DocumentType.UserManual }), new { @class = "document-link" })
                }
            </td>
            <td>
                @documentationRowViewModel.Description
            </td>
            <td>
                @documentationRowViewModel.EquipmentType
            </td>
            <td>
                @documentationRowViewModel.Discipline
            </td>
            <td class="shortDate">
                @documentationRowViewModel.DocumentDate
            </td>
            </tr>
        }
            </tbody>
        </table>

        @if (!Model.RelatedDocuments.Any())
        {
            <p>No documents</p>
        }
    </div>