﻿.dropshadow, .subpage #right dd, .frontpage #right dl, .according-hover dd { border-bottom: 2px solid #666 !important; border-right: 2px solid #999 !important;}
/*.mask{background-color: transparent; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}*/
#drilldown .fastselect .txt, #searchbox .txt { height: 16px; padding-top: 2px; }
/*#commentsForm input.button { padding-top: 4px; padding-bottom: 4px;  }*/
#overview { background: #8B98A1 url("/graphics/bg-overview-fade-large-ie8.png?v=1.5.2") repeat-x 0 0;  border-top: solid 2px #ff8000; padding: 2px 0 0 0; margin-bottom: 10px; }
