﻿.mask{background-color: transparent; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
/*#commentsForm input.button { padding-top: 4px; padding-bottom: 4px;  }*/
html {
    width: 99%;
}

#minimap #map_canvas { position: absolute;}
.ui-widget-overlay { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";}