﻿dd.dropshadow { overflow: hidden !important;}
#commentsList { position: relative; }
th.containsFilter { width: 115px; }
th.containsFilter dl dd { width: 120px;  }
/*.mask{background-image: none; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}*/
/*#commentsForm input.button { padding-top: 2px; padding-bottom: 0px;  }*/
#primaryNav { margin-bottom: 31px;}
