﻿ /* Reset
--------------------------------------------------------------------------------- */
body {font-size: 62.5%;}
body,div,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}

caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal;}
q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}
sup,sub{line-height:-1px;vertical-align:text-top;}sub{vertical-align:text-bottom;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}

button { border: 0; padding: 0; margin: 0;}

a img {border:0;}
p { padding-bottom: 1.1em; }

hr {display: none}

/* Layout
--------------------------------------------------------------------------------- */
body, html { background-color: #95a0a9  }
body {font-family: Arial, Sans-Serif; color: #494949; }

#wrapper { max-width: 1300px; min-width: 950px; margin: 0 auto; }

/* Logos
--------------------------------------------------------------------------------- */
#header h1 a, .popup h2,.GotoAker { background: url("/graphics/sprite-logos.png?v=1.5) no-repeat; }

#header h1 a {background-position: 0 -108px; width: 155px; height: 31px; }
.popup h2 a { background-position: 0 0; width: 295px; height: 58px; }
.GotoAker { background-position: 0 -262px; width: 173px; height: 23px; }
.popup .GotoAker { background-position: 0 -189px; }

#header { background-color: #fff; overflow: hidden; position: relative; border-bottom: 5px solid #fff; }
#header h1 { float: left; padding: 5px 10px; }
#header h1 a { text-decoration: none; display: block; margin: 5px 0; text-indent: -9999px; }

#welcome { position: absolute; left: 180px; bottom: 10px; font-size: 1.6em; padding: 0 !important; }
#welcome em { font-size: 12px; color: #8996a0; font-style: normal; }

.GotoAker { position: absolute; right: 28px; bottom: 15px; text-indent: -9999px; }

#nav-top, #nav-top li { padding: 0; margin: 0; list-style-type: none; }
#nav-top { background-color: #fff; overflow: hidden; padding: 5px 5px 5px 5px; }
#nav-top li { float: right;  }
#nav-top li a { display: block; padding: 0 5px; border-right: 1px solid #494949; text-decoration: none; color: #003145; font-size: 1.1em; }
#nav-top li:first-child a { border-right: none; }


h1,h2,h3 { color: #003145; } 
h4,h5, th { color: #8996A0;  }
a, a:visited { text-decoration: none; color: #3861b5;  }
a:hover { text-decoration: underline !important; color: #000 !important; }

h1 { font-size: 2.6em; padding: 10px 10px 0 10px;}
h1 a { color: #fff !important; }
h1 a:hover { color: #eee !important; text-decoration: none !important }

h2 { font-size: 2.6em; padding: 10px 10px 0 10px; }
h3 { font-size: 1.4em; padding: 10px 0 5px 0; font-weight: normal; }
h4 { font-size: 1.4em; padding: 10px 0 5px 0; border-bottom: 1px solid #cfcfcf; margin-bottom: 5px; }

p { font-size: 1.2em; line-height: 1.4em; }

.menu-horizontal a { font-size: 1.2em; }
.menu-horizontal { padding-bottom: 5px; }
.menu-horizontal ul.dynamic { }

body div #s4-leftpanel { width: 200px; }
body div #s4-leftpanel ul.root {  padding: 5px 0 0 0; margin-bottom: 20px;}
body div #s4-leftpanel ul a { color: #fff !important; font-size: 16px; font-weight: bold; text-decoration: none; }
body div #s4-leftpanel ul ul a { font-size: 12px; font-weight: normal }
body div #s4-leftpanel a:hover { color: #fff !important; }

.s4-ql a.selected { background: none; border: none !important; text-decoration: underline; }

div .s4-ca { margin-left: 220px; background-color: #fff; }
#s4-leftpanel .ms-WPBody { padding: 10px; }
#s4-leftpanel .ms-WPBody strong { font-size: 16px; }
#s4-leftpanel .ms-WPBody em { font-size: 10px; font-style: normal; }

#s4-workspace { /*overflow:hidden !important*/  }

.breadcrumbs { padding: 5px; }

.content { margin: 10px; position: relative; padding-right: 320px; }
.col1 {  }
.rightbar { width: 300px; position: absolute; right: 0; top: 0; border-left: 1px solid #fff; padding-left: 10px; }

body #s4-ribbonrow { background-color: #CCD6DA; border-top: 5px solid #8996A0; }
#RibbonContainer-TabRowRight { background-color: #8996A0; margin-top: 4px; padding-left: 10px;  }
.ms-cui-topBar2, body #toparea {  margin-top: -7px; border-top: 1px solid #8996A0; }
/*.s4-trc-container-menu { margin: 24px 0 0 0; float: right;  }
.s4-trc-container-menu span.ms-welcomeMenu {background-color: #999; padding: 3px 5px }
body #s4-ribbonrow { background-color: transparent; overflow: hidden; min-height: 44px;  }
#RibbonContainer, #s4-ribboncont { margin-top: -22px; background-color: #999; padding-right: 5px;}
body #s4-workspace { margin-top: -23px; overflow: hidden; overflow-x: hidden; overflow-y: hidden; padding-right: 5px; }
*/

/* Gradients / shadows
------------------------------------------------------------------------------------------------ */
.dropshadow, #s4-leftpanel .root, #s4-leftpanel .ms-WPBody, div .s4-ca, .menu-horizontal ul.dynamic { -moz-box-shadow: 2px 2px 4px #121316;
    -webkit-box-shadow: 2px 2px 4px #121316;
    box-shadow: 2px 2px 4px #121316; }
    
.lightshadow, div .s4-ca { -moz-box-shadow: 2px 2px 4px #CCD6DA;
    -webkit-box-shadow: 2px 2px 4px #CCD6DA;
    box-shadow: 2px 2px 4px #CCD6DA; }
    
.dropshadow, #s4-leftpanel .root,  #s4-leftpanel .ms-WPBody, .menu-horizontal ul.dynamic { border-top: 1px solid #fff; border-left: 1px solid #fff; }
               
.gradient-bronze {background: #BEB9A6;
	background: -webkit-gradient(linear, left top, left bottom, from(#BEB9A6), to(#EDECE9));
	background: -moz-linear-gradient(top,  #BEB9A6,  #EDECE9);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#BEB9A6', endColorstr='#EDECE9');}
.gradient-black, #s4-leftpanel .root {background: #121316;
	background: -webkit-gradient(linear, left top, left bottom, from(#414659), to(#121316));
	background: -moz-linear-gradient(top,  #414659,  #121316);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#414659', endColorstr='#121316');}
.gradient-grey, div .s4-ca, #toparea, .menu-horizontal ul.dynamic, #s4-leftpanel .ms-WPBody  {background: #ccd6da;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccd6da), to(#eef5fa));
	background: -moz-linear-gradient(top,  #ccd6da,  #eef5fa);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccd6da', endColorstr='#eef5fa');}
.gradient-grey-inverse, body #s4-ribbonrow {background: #eef5fa;
	background: -webkit-gradient(linear, left top, left bottom, from(#eef5fa), to(#ccd6da));
	background: -moz-linear-gradient(top,  #eef5fa,  #ccd6da);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef5fa', endColorstr='#ccd6da');}
.gradient-red  { background: #EA8C8B;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFBEBF), to(#EA8C8B));
	background: -moz-linear-gradient(top,  #EFBEBF,  #EA8C8B);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFBEBF', endColorstr='#EA8C8B');}
.gradient-orange { background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');}
.gradient-orange-inverse  { background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');}

.gradient-black, .gradient-black p, .gradient-black ul { color: #fff; }


