﻿#bodyBackground { display: table; }      
#bodyBackground>tbody { display: table-row-group;} 
#bodyBackground>tbody>tr { display: table-row;}
#bodyBackground>tbody>tr>td { display: table-cell;}

body, #bodyBackground, #grid, #wrapper, #content, #main
{
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 0;
    width: 100%;
}

body, a, table, th, td, div, span, .stdTable, h1, h2, h3, h4, h5, label, .stdTabs a, #drilldown .lightAccordion dt span.innerborder, .stdTabs a.current, .stdMetaDoc li label, .metaTable li label 
{ 
    color: #000!important;
}

body, a, table, td, span, .stdTable, label, .stdTabs a, #drilldown .lightAccordion dt span.innerborder, .stdTabs a.current, .stdMetaDoc li label, .metaTable li label 
{
    font-size: 7pt!important;    
}

#bodyBackground { height: auto;}
#printHeaderSpacer { display: table-header-group;  width: 100%;  }
#printHeaderSpacer th {  width: 100%; padding-bottom: 20pt; }
#printFooterSpacer { display: table-footer-group; }
#printFooterSpacer td { padding-top: 15pt; }
.printFooter { border-top: solid 1px #b5bec4;padding-top: 3pt; }
#printTop { display: block;max-height: 5cm; width: 100% } /*position: fixed; top: 0;*/ 
            
#mainWithRightBar, #rightBar
{
    float: none;
    width: 100% !important;    
}

@page  
{ 
    /*background-image: url("graphics")*/
    /*size: auto;   */
    /*margin: auto 50mm 50mm 50mm;*/
}

#main, #mainContainer1, #mainRight, #mainWithRightBar, #rightBar 
{
     min-height: 0px;
}

body
{
    font-size: 9pt;
}

body, 
#bodyBackground, 
#footer, 
#drilldown,
.sort-column,
.icon-filter, 
.containsFilter dt,
#drilldown .timelimit span.outerborder,
#drilldown .according dt span.innerborder,
 #audienceList .personInternal, 
 #audienceList .personExternal,
 .personExternal,
 .gradient-grey,
 #mainRight,
 #drilldown .lnkAll,
 #overview,
 .sort-column,
 .sort-column-current-desc,
 .stdFocusNumber li div em  
{ 
    background-image: none!important;
    filter: none;
}

#header,
#left, 
#right, 
#moreActivities, 
#footer a, 
#searchbox,
a#home,
#nav-top,
#beta,
#welcome,
#right,
#footer,
#MainArea,
.over,
.paging,
.fastselect,
.stdChangeView,
.over,
.clickable a.over,
.commentsHolderInner,
.addBtn,
.deleteAction,
#requestButtons,
#Crumbs,
.stdMeta,
.overveiwBottom,
.rightAccordion,
.sparePartSearch,
.popup-ajax
{ display: none; }

body,
#bodyBackground,
#footer,
#drilldown,
#drilldown .timelimit span.outerborder,
#drilldown .lightAccordion dt span.innerborder, 
#drilldown .dropDownToggle span.innerborder,
#rightBar,
.alt,
.commentsHolder .stdComments li.alt,
cite.MessageInfo,
.stdFocusNumber li div em,
.stdFocusNumberInfo,
.stdFocusNumber li div.stdFocusNumberInner, .stdFocusNumber li div.stdFocusNumberOuter, .stdFocusNumber li 
{ background-color: #fff!important; }

#drilldown .dtOuter,#TabPane, #footer, #drilldown .yes .dtOuter, #drilldown .active span.outerborder, #userResponsibilities .active span.outerborder, #drilldown .lnkAllBorder, cite.MessageInfo, .stdFocusNumberInfo, .stdFocusNumber li div .stdFocusNumberInfo, .stdFocusNumber li, .stdTabs, .stdTabs a
{ border-width: 0px;}

#main, #mainWithRightBar, #myDrilling, #mainContainer3, #mainRight, .bulletinsUserReceivedList li
{ margin: 0; }

#mainContainer3, #mainContainer1, #rightBar .inner, #audienceList .personInternal, #audienceList .personExternal, .personExternal, #MainArea, .stdFocusNumber li div.stdFocusNumberInner, .stdTabs a, #footer 
{ padding: 0 !important; }

#footer
{ border-bottom: none; position: fixed;bottom: 0px; width: 300px;}
 
.clickable 
{
    overflow: visible;    
}

#footer, .frontpage #footer
{
    margin-right: 0;    
}

.commentsHolderInner, .commentsHolder, #drilldown .lnkAll, #bulletinDetail h2.borderBottomBig, .borderBottomSmall, #bulletinDetail h3.borderBottomSmall
{
    border-width: 0px;    
}

#drilldown
{
    border-top-width: 0;
    margin-bottom: 15px;
}

#drilldown, h4
{
    border-bottom: solid 1px #b5bec4;
    filter: none;    
}

.commentsListHeading
{
    border-bottom: solid 1px #b5bec4 !important;
}

span.print 
{
    display:inline;    
}

#lookingAt
{
    padding-left: 0px;    
}

#TabPane, .commentsHolder
{
    padding-left: 0px;
    padding-right: 0px;    
}

#rightBar
{
    position: static;    
}

#akerSolutions
{
    top: 0px;
    right: 0px;    
}

div.print { display: block; }

.requestWorkflowInfo
{
    float: left;    
}

.stdTable { border-top: solid 1px #b5bec4; border-left: solid 1px #b5bec4;border-bottom: none; } 
.stdTable td, .stdTable thead th { border-bottom: solid 1px #b5bec4; border-right: solid 1px #b5bec4; border-top: none;  } 

.frontpage .stdTable .small-column  { width: 60px;}

.overflowHidden { overflow: visible;}

.noprint { display: none!important; }

.stdTabs a { font-size: 16px;}

