﻿
@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Mvc.Rendering
@model MyDrilling.Web.Models.Userprofile.UserProfileViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/shared/_UserProfilePopup.cshtml";
}

@section Header
{
    <h3 id="timeZoneheader">Profile: @Model.FullName</h3>
}

@section RightColumn
{
    <ul id="myProfileRight" class="popupbuttonColumn">
        <li id="myTimeZoneListItem">
            @await Component.InvokeAsync("MyTimeZone")
        </li>
        <li id="myPreferencesListItem">
            @await Component.InvokeAsync("MyPreferences")
        </li>
        <li id="myNotificationListItem">
            @await Component.InvokeAsync("MyNotifications")
        </li>
    </ul>
}

<div id="myProfile" class="myProfile">
    <ul class="stdNote">
        <li>@Html.LabelFor(m => m.CompanyName) @Html.DisplayFor(m => m.CompanyName)</li>
        <li>@Html.LabelFor(m => m.FirstName) @Html.DisplayFor(m => m.FirstName)</li>
        <li>@Html.LabelFor(m => m.LastName) @Html.DisplayFor(m => m.LastName)</li>
        <li>@Html.LabelFor(m => m.Upn) @Html.DisplayFor(m => m.Upn)</li>
        <li>@Html.LabelFor(m => m.PhoneNumber) @Html.DisplayFor(m => m.PhoneNumber)</li>
        <li>@Html.LabelFor(m => m.EmailAddress) @Html.DisplayFor(m => m.EmailAddress)</li>
        <li>@Html.LabelFor(m => m.SelectedTimeZone) @Html.DisplayFor(m => m.SelectedTimeZone)</li>
    </ul>

</div>
<script type="text/javascript">
    function submitUserProfileItem(formid, listItemId) {
        var $form = $('#' + formid);
        $form.find('input[type=checkbox]').removeAttr('disabled');
        startProfileItem(listItemId);
        $.ajax({
            type: "POST",
            url:  $form.attr('action'),
            data: $form.serialize(),
            success: function (response) {
                stopProfileItem(listItemId);
                var elementId = $('#' + listItemId);
                $(elementId).html(response);
            }
        });
    }

    function startProfileItem(id) {
        $('#' + id).addClass("noneAbsoluteMask");
    }
    function stopProfileItem(id) {
        $('#' + id).removeClass("noneAbsoluteMask");
    }
</script>