﻿@using MyDrilling.Web.Areas.Admin.Models.User
@model MyDrilling.Web.Areas.Admin.Models.User.UserAccessToCustomerViewModel
@{
    var altRow = 0;
}
<h3>
    Access to customers
    <a href="@Html.Raw(Url.Action("GetAccessToCustomerDialog", "Users", new { userId = Model.UserId } ))" class="md-button popup-ajax">+ Add access to customer</a>
</h3>
<table class="stdTable access-table" id="access-to-customers-table">
    <thead>
    <tr class="bordered">
        <th style="width: 200px">@Html.SortLink("Customer", UserAccessToCustomerViewModel.NameSort, "UserAccessToCustomers", "Users", additionalParams: new { userId = Model.UserId })</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="linkAllRows">
    @foreach (var rowModel in Model.UserAccessToCustomers)
    {
        <tr @(Css.AltClass(altRow++))>
            <td>@rowModel.CustomerName</td>
            <td>
                @using (Html.BeginForm("DeleteAccessToCustomer", "Users", new { id = rowModel.UserRoleId, userId = Model.UserId }, FormMethod.Post))
                {
                    <input type="submit" value="Delete" class="button ui-button buttonSubmit md-button delete-access-customer-button" />
                }
            </td>
        </tr>
    }
    </tbody>
</table>
<div id="access-to-customers-pager" class="page-wrapper">
    @await Html.PartialAsync("_Pager",
        new PagerViewModel(Model.TotalCount, "UserAccessToCustomers", "Users", new { userId = Model.UserId }))
</div>

<script>
    $(function () {
        $('.delete-access-customer-button').on('click', function (e) {
            e.preventDefault();
            var submitButton = $(this);
            if (confirm('Are you sure you want to delete access to customer?')) {
                submitButton.parent().submit();
            }
        });
    });
</script>