﻿@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Task.TaskListViewModel
@{
    var altRow = 0;
    var drillDown = Context.GetDrillDownParameters();
}

@if (Model.Tasks != null && Model.Tasks.Any())
{
    <h3 class="first">
        My drafts
        <span>(@Model.Tasks.Count() newest of @Model.TotalCount total)</span>
    </h3>
    <table class="stdTable tasksList">
        <thead>
            <tr>
                <th>Title</th>
                <th>LastCommented</th>
                @if (!drillDown.HasRig)
                {
                    <th>Rig</th>
                }
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="linkAllRows">
            @foreach (var v in Model.Tasks)
            {
                <tr@(Css.AltClass(altRow++))>

            <td class="middle mainLinkCell">
                <a href="@v.Url">@v.Title</a>
            </td>
            <td class="middle">
                @v.Date.ToFullString()
            </td>

            @if (!drillDown.HasRig)
            {
                <td class="middle">
                    @v.RigName
                </td>
            }
            <td class="nowrap">Draft</td>
            </tr>

        }
            </tbody>
        </table>
}
else
{
    <div class="clear"></div>
}
