﻿@using Microsoft.AspNetCore.Routing
@using MyDrilling.Web.Controllers
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Ricon.MenuViewModel

@{
    var drillDown = Context.GetDrillDownParameters();
}

<ul class="stdTabs">
    <li>
        @Html.ActionLink("RiCon™", nameof(RiconController.Index), drillDown.ToRouteValueDictionary(new { sortdirection = "asc", sortfield = "EquipmentSort", itemsprpage = 200 }),
            new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(RiconController.Index) ? "current" : "noprint" } })
    </li>
    @if (drillDown.HasRig)
    {
        <li>
            @Html.ActionLink($"Generic documents ({Model.NumberOfRigDocuments})", nameof(RiconController.Documents), new RouteValueDictionary(new { rig = drillDown.Rig }),
                new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(RiconController.Documents) && drillDown.HasRig && Context.Request.Query["eqId"].Count == 0 ? "current" : "noprint" } })
        </li>
    }
    @if (Context.Request.Query["eqId"].Count > 0)
    {
        <li>
            @Html.ActionLink("Documents", nameof(RiconController.Documents), drillDown.ToRouteValueDictionary(),
                new Dictionary<string, object> { { "class", Model.CurrentActionName == nameof(RiconController.Documents) && Context.Request.Query["eqId"].Count > 0 ? "current" : "noprint" } })
        </li>
    }
    @if (drillDown.HasRig)
    {
        <li style="float: right;">
            @Html.ActionLink("Print CoC", nameof(RiconController.ExportCocStatuses), drillDown.ToRouteValueDictionary(), new Dictionary<string, object> { { "style", "cursor:pointer;font-weight:bold;" } })
        </li>
    }
   
</ul>