﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Routing
@using MyDrilling.Web.Models.Ricon
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Ricon.RiserDocumentsViewModel
@{
    ViewData["Title"] = "Documents";
}

@{
    ViewData["Title"] = "CBM documents";
    var altRow = 0;
}

<div>
    <div style="display: inline-block;">
        <h2>@Model.HeaderContent</h2>
    </div>
    <div>
        @await Html.PartialAsync("_Menu", Model.Menu)
        <div id="TabPane">
            <div id="TabPaneInner">
                <table class="stdTable">
                    <thead>
                    <tr>
                        <th>Document download link</th>
                        <th>Description</th>
                        <th>Version</th>
                        <th>Published date</th>
                    </tr>
                    </thead>
                    <tbody class="linkAllRows">
                    @foreach (var rowModel in Model.Items)
                    {
                        <tr @(Css.AltClass(altRow++)) id="@altRow">
                            <td>
                                @Html.ActionLink(rowModel.ReferenceId, "RequestDownload", "Ricon",
                                    new RouteValueDictionary(new { id = rowModel.Id }), new { @class = "document-link" })
                            </td>
                            <td>@rowModel.Description</td>
                            <td>@rowModel.Version</td>
                            <td>@rowModel.PublishedDate</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
    </div>
</div>