﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Routing
@using MyDrilling.Web.Models.Ricon
@using MyDrilling.Web.QueryParameters
@model MyDrilling.Web.Models.Ricon.JointItemsViewModel

@{
    ViewData["Title"] = "CBM";
    var drillDown = Context.GetDrillDownParameters();
    var altRow = 0;

    Func<JointItemViewModel, int, string> rowCss = (fat, index) => string.IsNullOrEmpty(fat.Status)
        ? (index % 2 == 0 ? "alt fatigue-status-empty" : "fatigue-status-empty")
        : (index % 2 == 0 ? "alt" : string.Empty);
    Func<JointItemViewModel, string> statusCellCss = fat => fat.Status == "Concern" ? "fatigue-status-concern" : string.Empty;
}
    <style>
        table.cbm tr.bordered td {
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
        }

        table.cbm tr td.fatigue {
            text-align: center;
        }
    </style>
<div>
    <div style="display: inline-block;">
        <h2>Riser Joints Overview</h2>
    </div>
    <div>
        @await Html.PartialAsync("_Menu", Model.Menu)
        <div id="TabPane">
            <div id="TabPaneInner">
                <table class="stdTable cbm">
                    <thead>
                        <tr class="bordered">
                            <th>@Html.SortLink("Equipment", JointItemsViewModel.EquipmentSort)</th>
                            <th>@Html.SortLink("Joint ID", JointItemsViewModel.JointSort)</th>
                            <th>@Html.SortLink("Fatigue usage [%]", JointItemsViewModel.FatigueSort)</th>
                            <th class="containsFilter filter">
                                @Html.SortLink("CoC", JointItemsViewModel.CocSort)
                                @Html.FilterColumn(JointItemsViewModel.CocFilter, addAllItem: true)
                            </th>
                            <th class="containsFilter filter">
                                @Html.SortLink("Status", JointItemsViewModel.StatusSort)
                                @Html.FilterColumn(JointItemsViewModel.StatusFilter, addAllItem: true)
                            </th>
                            <th>@Html.SortLink("Last visual inspection", JointItemsViewModel.LastVisualInspectionSort)</th>
                            <th>@Html.SortLink("Last wall thickness inspection", JointItemsViewModel.LastWallThicknessInspectionSort)</th>
                            <th>Documents</th>
                        </tr>
                    </thead>
                    <tbody class="linkAllRows">
                        @foreach (var rowModel in Model.Items)
                        {
                            <tr class="@rowCss.Invoke(rowModel, altRow++) bordered" id="@altRow">
                                <td class="referenceId">@rowModel.ReferenceId.TrimStart('0')</td>
                                <td>@rowModel.TagNumber</td>
                                <td>@rowModel.Fatigue</td>
                                <td>@rowModel.Coc</td>
                                <td class="@statusCellCss.Invoke(rowModel)">@rowModel.Status</td>
                                <td>@rowModel.LastVisualInspection</td>
                                <td>@rowModel.LastWallThicknessInspection</td>
                                <td>
                                    @if (rowModel.NumberOfDocuments > 0)
                                    {
                                        @Html.ActionLink($"Documents ({rowModel.NumberOfDocuments})", "Documents", "Ricon",
                                            new RouteValueDictionary(new { eqId = rowModel.ReferenceId, rig = rowModel.RigReferenceId }))
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="text-align: right;">
                    <a href="@Url.Action("ExportToExcel", drillDown.ToRouteValueDictionary(Context.GetFilterParameters(), Context.GetOrderParameters()))" class="linkButton">@LanguageConstants.Export</a>
                    <div class="clear"></div>
                </div>
                @await Html.PartialAsync("_Pager", new PagerViewModel(Model.TotalCount))
            </div>
        </div>
        <br />
    </div>
</div>

