﻿@model MyDrilling.Web.Areas.Admin.Models.Customer.AddRootCustomerViewModel
@{
    ViewData["Title"] = "Add New Customer";
    Layout = "~/Areas/Admin/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .stdForm label {
        min-width: 130px;
    }
</style>
@using (Html.BeginForm("AddRootCustomer", "Customers", null, FormMethod.Post, null, new { @id = "add-root-customer-form" }))
{
    <h2>New customer</h2>
<ul class="stdForm">
    <li>
        <label asp-for="RootCustomerId">Name*</label>
        <input type="text" asp-for="@Model.Name" value="@Model.Name" style="font-size: 14px; width: 200px;" />
    </li>
    <li>
        <label asp-for="RootCustomerId">Default sold to party id*</label>
        <input type="text" asp-for="@Model.CustomerReference" value="@Model.CustomerReference" style="font-size: 14px; width: 200px;" />
    </li>
    <li>
        <input type="submit" value="Save" class="button ui-button buttonSubmit" />
    </li>
</ul>
}

<script>
    $(function () {
        $("#add-root-customer-form").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function(data) {
                    alert(data.message);
                    window.location = '/admin/customers/detail/' + data.id;
                },
                error: function (data) {
                    if (data.status === 401)
                        window.location = '/admin/home/noaccess';
                    alert(data.responseJSON.message);
                }
            });
        });
    });
</script>

