﻿@model MyDrilling.Web.Areas.Admin.Models.Customer.AddRelatedCustomerViewModel
@{
    ViewData["Title"] = "Add Access To Customer";
    Layout = "~/Areas/Admin/Views/Shared/_PopupLayout.cshtml";
}

@using (Html.BeginForm("AddRelatedCustomer", "Customers", null, FormMethod.Post, null, new { @id = "add-related-customer-form" }))
{
    <h2>Add sold to party</h2>
    @Html.HiddenFor(m => m.RootCustomerId)
<ul class="stdForm">
    <li>
        <label asp-for="RootCustomerId">Customer UnitId</label>
        <input type="text" asp-for="@Model.CustomerReference" value="@Model.CustomerReference" style="font-size: 14px; width: 150px;" />
    </li>
    <li>
        <label asp-for="IsDefault">Set as default</label>
        <input type="checkbox" asp-for="@Model.IsDefault" checked="@Model.IsDefault"  />
    </li>
    <li>
        <input type="submit" value="Save" class="button ui-button buttonSubmit" />
    </li>
</ul>
}

<script>
    $(function () {
        $("#add-related-customer-form").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function(data) {
                    alert(data.message);
                    window.location.reload(true);
                },
                error: function (data) {
                    if (data.status === 401)
                        window.location = '/admin/home/noaccess';
                    alert(data.responseJSON.message);
                }
            });
        });
    });
</script>

