﻿@using Microsoft.AspNetCore.Routing
@model MyDrilling.Web.Areas.Admin.Models.Customer.RootCustomerDetailViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var altRow = 0;
}
<style>
    h3 {
        margin-bottom: 5px;
    }
</style>
<h1>Customer detail</h1>

@using (Html.BeginForm(Html.BeginForm("SaveCustomerName", "Customers", FormMethod.Post, new {@id = "submitAccessProfileForm"})))
{
    @Html.HiddenFor(m => m.Id)
<fieldset>
    <label asp-for="Name" style="font-size: 12px;font-weight: bold; margin-left: 4px;">Customer name</label>
    <input type="text" asp-for="@Model.Name" value="@Model.Name" style="font-size: 14px; width: 350px;" />
    <input type="submit" value="Save name" class="button ui-button buttonSubmit md-button delete-profile-button" style="padding: 3px 4px;margin-top: -4px;" />
</fieldset>
}
<fieldset>
    <h3>
        Related customers
        <a href="@Html.Raw(Url.Action("GetAddRelatedCustomerDialog", "Customers", new { rootCustomerId = Model.Id } ))" class="md-button popup-ajax">+ Add sold to party</a>
    </h3>
    <table class="stdTable">
        <thead>
        <tr class="bordered">
            <th>Default</th>
            <th>Sold to party id</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="linkAllRows">
        @foreach (var rowModel in Model.RelatedCustomers)
        {
            <tr @(Css.AltClass(altRow++)) id="@altRow">
                <td>
                    @if(rowModel.IsDefault){
                        <span><b>Default</b></span>
                    }
                    else
                    {
                        @using (Html.BeginForm("SetDefaultCustomer", "Customers", new { rootCustomerId = Model.Id, defaultCustomerId = rowModel.Id }, FormMethod.Post))
                        {
                            <input type="submit" value="Set as defailt" />
                        }
                    }
                </td>
                <td>
                    @rowModel.ReferenceId
                </td>
                <td>
                    @rowModel.Name
                </td>
                <td>
                    @if (!rowModel.IsDefault)
                    {
                        @using (Html.BeginForm("DeleteRelatedCustomer", "Customers", new {rootCustomerId = Model.Id, customerId = rowModel.Id}, FormMethod.Post))
                        {
                            <input type="submit" value="Delete" class="button ui-button buttonSubmit md-button delete-customer-button"/>
                        }
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</fieldset>
<script>
    $(function () {
        $('.delete-customer-button').on('click', function (e) {
            e.preventDefault();
            var submitButton = $(this);
            if (confirm('Are you sure you want to remove related customer?')) {
                submitButton.parent().submit();
            }
        });
    });

</script>
