﻿@using Microsoft.AspNetCore.Routing
@using MyDrilling.Web.Areas.Admin.Models.Customer
@using MyDrilling.Web.UserDetails
@model MyDrilling.Web.Areas.Admin.Models.Customer.RootCustomersViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var altRow = 0;
    var roles = Context.GetCurrentUserRoles();
}
<h1>
    Customer list
    <a href="@Html.Raw(Url.Action("GetAddRootCustomerDialog", "Customers"))" class="md-button popup-ajax" style="font-size: 14px;">+ Add new customer</a>
</h1>

<div id="TabPane">
    <div id="TabPaneInner">
        <table class="stdTable access-profiles">
            <thead>
                <tr class="bordered">
                    <th>@Html.SortLink("Name", RootCustomersViewModel.NameSort)</th>
                    @if (roles.IsSystemAdmin())
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody class="linkAllRows">
                @foreach (var rowModel in Model.Items)
                {
                    <tr @(Css.AltClass(altRow++)) id="@altRow">
                        <td>
                            @Html.ActionLink(rowModel.Name, "Detail", "Customers",
                                new RouteValueDictionary(new { id = rowModel.Id }), new { @class = "document-link" })
                        </td>
                        @if (roles.IsSystemAdmin())
                        {
                            <td>
                                @using (Html.BeginForm("DeleteCustomer", "Customers", new { id = rowModel.Id }, FormMethod.Post))
                                {
                                    <input type="submit" value="Delete" class="button ui-button buttonSubmit md-button delete-customer-button" />
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @await Html.PartialAsync("_Pager", new PagerViewModel(Model.TotalCount))
    </div>
</div>

<script>
    $(function () {
        $('.delete-customer-button').on('click', function (e) {
            e.preventDefault();
            var submitButton = $(this);
            if (confirm('Are you sure you want to delete this customer?')) {
                submitButton.parent().submit();
            }
        });
    });
</script>
